.CreateTeamModal {
  width: 550px;

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__select {
    width: calc(50% - 10px);
  }

  &__button {
    margin: 0;

    &:first-child {
      margin-right: 15px;
    }
  }
}