.balance-dropdown .dropdown-menu__content {
  display: block;
  padding: 0 1.2rem;

  .balance-list {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 1px solid white;
    }
  }

  .balance-item {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    text-align: left;

    &:nth-child(odd) {
      border-right: 1px solid rgba(0, 0, 0, 0.125);
    }

    &:nth-child(even) {
      padding-left: 15px;
    }
  }
  .balance-select-field {
    width: 100%;

    .form-group {
      margin-bottom: 0;
    }

    select.form-control {
      height: 30px;
      font-size: 12px;
    }
  }

  .balance-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
  }
}
