.DepositGrid {
  padding: 25px 30px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__title {
    color: var(--text-primary);
    font-size: 18px;
    margin-bottom: 25px;
  }

  &__icon-info {
    margin-left: 5px;
  }

  &__cell {
    &-primary {
      font-weight: 700;
    }
  }

  &__edit-button {
    margin-right: 15px;
  }

  &__scrollableTarget {
    border-top: 1px solid var(--divider);
    border-bottom: 1px solid var(--divider);
  }
}
