.Notifications {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: var(--surface-page-background);
  border: 1px solid var(--surface-page-border);
  background-clip: border-box;
  word-wrap: break-word;

  &__header {
    position: sticky;
    top: 48px;
    padding: 25px;
    background-color: var(--surface-page-background);
    border-bottom: 1px solid var(--divider);
    z-index: var(--z-index-sticky);
    font-size: 20px;
  }
}
