.EditOrderModal {
  width: 1230px;

  &--loading {
    width: 100%;
    height: 723px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form {
    width: 100%;
  }

  &__chart {
    width: 85%;
    margin-right: 25px;
  }

  &__inner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__field-container {
    display: flex;
    align-items: flex-end;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &--half {
      width: calc(50% - 7.5px);
    }
  }

  &__field-container-button {
    justify-content: space-between;
  }

  &__field {
    width: 100%;
    margin-right: 15px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }

    &--center {
      margin-bottom: 8px;
    }

    &--customError {
      position: absolute;
      white-space: nowrap;
    }

    &--volumeLots {
      flex-basis: 50%;
    }
  }

  &__additional-info {
    width: 100%;
    text-align: center;
    font-size: 13px;
    margin-left: 2px;
    color: var(--text-secondary);
  }

  &__button {
    width: 100%;
    height: auto;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &--update {
      width: 35%;
    }
  }

  &__fieldset {
    border: 1px solid var(--surface-frame-border);
    padding: 0 20px 20px 20px;
    border-radius: 3px;
  }

  &__fieldset-title {
    width: auto;
    color: var(--text-primary);
    font-size: 15px;
  }

  &__confirmation-modal {
    top: 50%;
    transform: translateY(-50%) !important;
    margin: 0 auto;
  }

  &__warning-message {
    width: 100%;
    padding: 10px 10px;
    background: var(--state-colors-danger);
    border-radius: 3px;
  }

  .modal-body {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
