/*
 * TEXT COLOR
 */
.color-black {
  color: #514d6a !important;
}

.color-white {
  color: #fff !important;
}

.color-default {
  color: #666 !important;
}

.color-primary {
  color: #01a8fe !important;
}

.color-secondary {
  color: #6a7a84 !important;
}

.color-success {
  color: #46be8a !important;
}

.color-info {
  color: #0190da !important;
}

.color-warning {
  color: #f39834 !important;
}

.color-danger {
  color: #fb434a !important;
}

.color-orange {
  color: #f2a654 !important;
}

.color-red {
  color: #990000 !important;
}

.color-yellow {
  color: yellow !important;
}

/*
 * Border Color
*/

.border-color-success {
  border-color: #46be8a;
}

.border-color-info {
  border-color: #0190da;
}

.border-color-warning {
  border-color: #f39834;
}

.border-color-danger {
  border-color: #fb434a;
}

.border-color-neutral {
  border-color: #cfcfcf;
}

/*
 * WIDTH
 */
.width-full {
  width: 100%;
}

.width-10 {
  width: 10px;
}

.width-50 {
  width: 50px;
}

.width-100 {
  width: 100px;
}

.width-150 {
  width: 150px;
}

.width-200 {
  width: 200px;
}

.width-250 {
  width: 250px;
}

.width-300 {
  width: 300px;
}

.width-350 {
  width: 350px;
}

.width-400 {
  width: 400px;
}

.width-450 {
  width: 450px;
}

.width-500 {
  width: 500px;
}

.max-width-200 {
  max-width: 200px;
}

.max-width-500 {
  max-width: 500px;
}

/*
 * HEIGHT
 */
.max-height-35 {
  max-height: 35px;
}


/*
* TEXT ALIGN
*/
.font-size-0 {
  font-size: 0;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-26 {
  font-size: 26px;
}

.font-size-30 {
  font-size: 30px;
}

/*
* FONT WEIGHT
*/

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

/*
* MARGIN
*/

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.margin-0 {
  margin: 0;
}

.margin-3 {
  margin: 3px;
}

.margin-5 {
  margin: 5px;
}

.margin-10 {
  margin: 10px;
}

.margin-15 {
  margin: 15px;
}

.margin-20 {
  margin: 20px;
}

.margin-25 {
  margin: 25px;
}

.margin-30 {
  margin: 30px;
}

.margin-35 {
  margin: 35px;
}

.margin-40 {
  margin: 40px;
}

.margin-45 {
  margin: 45px;
}

.margin-50 {
  margin: 50px;
}

.margin-right-0 {
  margin-right: 0;
}

.margin-right-3 {
  margin-right: 3px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-right-25 {
  margin-right: 25px;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-right-35 {
  margin-right: 35px;
}

.margin-right-40 {
  margin-right: 40px;
}

.margin-right-45 {
  margin-right: 45px;
}

.margin-right-50 {
  margin-right: 50px;
}

.margin-left-0 {
  margin-left: 0;
}

.margin-left-3 {
  margin-left: 3px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-left-25 {
  margin-left: 25px;
}

.margin-left-30 {
  margin-left: 30px;
}

.margin-left-35 {
  margin-left: 35px;
}

.margin-left-40 {
  margin-left: 40px;
}

.margin-left-45 {
  margin-left: 45px;
}

.margin-left-50 {
  margin-left: 50px;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-3 {
  margin-top: 3px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-35 {
  margin-top: 35px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-45 {
  margin-top: 45px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-3 {
  margin-bottom: 3px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-35 {
  margin-bottom: 35px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-45 {
  margin-bottom: 45px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.height-55 {
  height: 55px;
}

.flex-1 {
  flex: 1;
}

.text-truncate-2-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
