.ChangeAccountStatusModal {
  &__message {
    position: relative;
    padding-left: 20px;

    &:before {
      content: '\26AC';
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__link {
    color: #2196f3;
  }
}