// Colors
$color-black: #000;
$color-white: #fff;
$color-default: #666;
$color-inactive: #d6d6d6;
$color-primary: #0267cc;
$color-secondary: #6a7a84;
$color-success: #46be8a;
$color-info: #0190da;
$color-warning: #f39834;
$color-danger:#fb434a;
$color-yellow: #ffff00;
$color-paper: #fffde6;