.TimePicker {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__label {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #333333
  }

  &__field {
    display: inline-flex;
    align-items: center;
    line-height: 1;
  }

  &__count {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__count-value {
    width: 40px;
    padding: 2px 4px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: #4a4a4a;
  }

  &__count-button {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    background: transparent;
  }

  &__separator {
    margin-right: 2px;
    margin-left: 2px;
    font-size: 25px;
    color: #9b9b9b;
  }
}
