.account-details {
  padding: 10px 15px;
  .card-body {
    height: $account-details-panel-height;
    padding: 7px;
    font-size: 13px;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-all;
    .lead-country img {
      vertical-align: unset;
    }
  }
  &__label {
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
  }
  &__additional-info {
    .card-body {
      padding-top: 5px;
    }
    &__label {
      font-size: 11px;
      text-transform: uppercase;
      color: #999;
    }
    &_disabled-triggers {
      opacity: 0.2;
      pointer-events: none;
    }
  }
  &__pinned-notes {
    .card {
      display: block;
      margin-bottom: 9px;
    }
  }
  .note-content {
    padding: 7px;
    background-color: $yellow-color;
    &__author {
      font-size: 13px;
      line-height: 1;
      color: #666;
    }
    &__content {
      margin-top: 5px;
      font-size: 13px;
      font-style: italic;
    }
  }
  .badge {
    &-black {
      width: 100%;
      margin-bottom: 7px;
      text-align: left;
      background-color: rgba(51, 51, 51, 1);
      color: #fff;
      white-space: normal;
    }
    &-department {
      font-size: 14px;
    }
    &-role {
      padding-top: 3px;
      font-size: 12px;
      color: #999;
    }
  }
  .ip-container {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
