.account-details {
  padding: 10px 15px;
  .card-body {
    height: 200px;
    padding: 7px;
    font-size: 13px;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-all;
    .lead-country img {
      vertical-align: unset;
    }
  }
  &__label {
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
  }
  &__additional-info {
    .card-body {
      padding-top: 5px;
    }
    &__label {
      font-size: 11px;
      text-transform: uppercase;
      color: #999;
    }
  }
  &__pinned-notes {
    .card {
      display: block;
      margin-bottom: 9px;
    }
  }
  .ip-container {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
