.btn {
  padding: 8px 16px;
  transition: all 0.1s ease-in-out;
  font-size: 14px;
  font-weight: 600;
  color: #827ca1;
  background-color: #fff;
  border-color: #dfe4ed;
  &-primary {
    padding-top: 9px;
    padding-bottom: 9px;
    border: none;
    border-radius: 3px;
    background-image: linear-gradient(to left, #24bdee, #4a90e2);
    color: #fff;
    &:hover,
    &:not(:disabled):not(.disabled):active {
      background-image: linear-gradient(to left, #1DB8ED, #297BDC);
    }
    &.btn-sm {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  &-primary-outline {
    border-color: #4990e2;
    color: #4990e2;
    &:hover,
    &:not(:disabled):not(.disabled):active {
      border-color: #4990e2;
      background-color: #F4F4F4;
      color: #4990e2;
    }
  }
  &-danger {
    padding-top: 9px;
    padding-bottom: 9px;
    border: none;
    border-radius: 3px;
    background-image: linear-gradient(to left, #f99939, #f76b1c);
    color: #fff;
    &:hover,
    &:not(:disabled):not(.disabled):active {
      background-image: linear-gradient(to left, #F78717, #F55000);
    }
    &.btn-sm {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  &-danger-outline {
    border-color: #d0011b;
    color: #d0011b;
    &:hover,
    &:not(:disabled):not(.disabled):active {
      background-color: #F4F4F4;
      border-color: #d0011b;
      color: #d0011b;
    }
  }
  &-default {
    padding-top: 9px;
    padding-bottom: 9px;
    border: none;
    border-radius: 3px;
    background-image: linear-gradient(to left, #bdbdbd, #979797);
    color: #fff;
    &:hover,
    &:not(:disabled):not(.disabled):active {
      background-image: linear-gradient(to left, #B0B0B0, #858585);
    }
    &.btn-sm {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  &-default-outline {
    border-radius: 3px;
    border-color: #9b9b9b;
    color: #9b9b9b;
    &:hover,
    &:not(:disabled):not(.disabled):active {
      background-color: #F4F4F4;
      color: #bdbdbd;
    }
  }
  &-success-outline {
    border-color: #46be8a;
    color: #46be8a;
    &:hover,
    &:not(:disabled):not(.disabled):active {
      background-color: #F4F4F4;
      color: #46be8a;
    }
  }
  &-transparent,
  &-transparent-text {
    background: transparent;
    border: none;
    overflow: hidden;
    outline: none;
    &:focus {
      outline: none;
    }
  }
  &-transparent-text {
    padding: 0;
  }
  &.active {
    background: #d9dfe9;
    border-color: #d9dfe9;
    &:focus {
      outline: none;
    }
  }
  &-group .btn:focus {
    outline: none;
  }
  &-sm {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 13px;
  }
}

.btn:disabled,
.btn[disabled],
.btn:disabled:hover,
.btn[disabled]:hover {
  background: #D3D3D3;
  color: #fff;
}

.btn.btn-danger-outline:disabled,
.btn.btn-danger-outline[disabled],
.btn.btn-default-outline:disabled,
.btn.btn-default-outline[disabled] {
  background: #fff;
  color: #CDCDCD;
  border-color: #CDCDCD;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-secondary {
  color: #fff;
}
.dropdown.show>.btn-default-outline {
  background: #fff;
  border-color: #4990e2;
  box-shadow: 0 0 4px 0 rgba(74, 144, 226, 0.5);
  position: relative;
  z-index: 2;
}
