.show>.dropdown-menu {
  animation: dropdown-slide-bottom .15s both .05s ease-in-out;
  z-index: 5;
}

@keyframes dropdown-slide-bottom {
  0% {
    opacity: 0;
    transform: translate3d(0, -5px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.dropdown-menu-right {
  right: 0 !important;
  left: auto !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: initial;
  color: initial;
}
