.failure-reason-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../../../public/img/failure-reason-icon.png");
  background-repeat: no-repeat;
  cursor: pointer;
  &_account-status {
    position: absolute;
    right: 35px;
    bottom: 8px;
  }
}
