.feed-item {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #666;
  &_avatar {
    margin-right: 10px;
    &-letter {
      height: 40px;
      width: 40px;
      margin-top: 2px;
      margin-left: auto;
      padding-top: 2px;
      font-size: 22px;
      font-weight: 600;
      text-align: center;
      color: #fff;
      border-radius: 5px;
      text-transform: uppercase;
      background-color: #000;
      &_blue {
        background-color: #0267cc;
      }
      &_orange {
        background-color: #ff9900;
      }
    }
  }
  &_info {
    flex: 0 0 95%;
    line-height: 1.2;
    &-status {
      font-size: 14px;
      font-weight: 700;
      color: #333;
      &__green {
        color: #009900;
      }
      &__blue {
        color: #003399;
      }
      &__red {
        color: #ff0000;
      }
      .pull-right {
        color: #999;
        font-size: 11px;
        font-weight: 300;
      }
    }
    &-name {
      font-size: 13px;
      .audit-name {
        font-weight: 700;
        &.blue {
          color: #0066cc;
        }
      }
    }
    &-date {
      padding-bottom: 5px;
      font-size: 11px;
      &_btn-hide {
        text-decoration: underline;
        cursor: pointer;
        .fa {
          position: relative;
          top: 2px;
          left: 4px;
        }
      }
    }
    &-details {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      background: #f8fafd;
      font-size: 12px;
      line-height: 1.4;
      &_value {
        padding-left: 2px;
        font-weight: 700;
      }
    }
  }
  .rejection {
    padding-top: 10px;
    font-style: italic;
    color: #000;
    &_heading {
      font-weight: 700;
    }
  }
  .tag {
    margin-right: 5px;
    padding: 1px 8px;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    background: #333;
    text-transform: uppercase;
  }
  &_heading {
    font-size: 13px;
  }
  &_content {
    padding: 10px;
    background-color: $yellow-color;
    font-size: 13px;
  }
  &_author {
    color: #0066CC;
  }
}
