.modal {
  &-content {
    border: none;
    border-radius: 3px;
  }
  &-dialog {
    width: 600px;
  }
  &.fade {
    .modal-dialog {
      transform: translateY(10%);
    }
  }
  &.fade.show {
    opacity: 1;
  }
  &-header {
    align-items: center;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: none;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: #4990e2;
    .close {
      margin: 0;
      padding: 0;
      font-size: 45px;
      font-weight: 300;
      opacity: 1;
      top: 0;
      right: 0;
      position: relative;
      text-shadow: none;
      color: #fff;
      &:not(:disabled):not(.disabled):hover {
        opacity: 1;
        color: #fff;
      }
    }
    .close:focus {
      outline: none;
    }
  }
  &-title {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    &:first-letter {
      text-transform: uppercase;
    }
  }
  &-body {
    padding: 30px 15px;
  }
  &-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    .btn {
      text-transform: uppercase;
    }
  }
  &-backdrop {
    background-color: #24222f;
    &.in,
    &.show {
      opacity: .3;
    }
  }
  &-danger {
    .modal-header {
      background-color: #ff8041;
    }
  }

  .upload-modal {
    width: 1015px;

    .uploading-files {
      width: 100%;

      & td {
        padding-bottom: 15px;
      }

      & .form-group {
        margin-bottom: 0;
      }

      &__loader {
        margin: 14px 0;
      }

      &__col {
        vertical-align: top;
        padding: 5px 10px;

        &-number {
          padding-top: 14px;
          max-width: 50px;
        }

        &-title {
          width: 220px;
          min-width: 220px;
          max-width: 220px;
        }

        &-info {
          max-width: 140px;
        }

        &-category {
          min-width: 225px;
          max-width: 225px;
        }

        &-type {
          min-width: 220px;
          max-width: 220px;
        }

        &-status {
          width: 120px;
        }

        &-delete {
          padding-top: 8px;
          text-align: center;
          width: 60px;
        }

        &-note {
          padding-top: 9px;
          text-align: center;
          width: 60px;
        }
      }

      &__file {
        &-name {
          font-size: 13px;
          font-weight: 700;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          height: 1.5em;
        }

        &-uuid {
          font-size: 13px;
        }

        &-delete {
          font-size: 16px;
          padding-top: 2px;
          text-align: center;
        }
      }
    }
  }
  .promote-lead-modal {
    width: 800px;
  }
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: none;
    }
  }
  .create-operator-modal {
    width: 655px;
  }
  .existing-operator-modal {
    width: 655px;
  }
  &-tab-label {
    margin-bottom: 3px;
    text-transform: uppercase;
    font-size: 11px;
    color: #666;
  }
}

.color-inactive {
  color: #d6d6d6;
}

.modal-header-tabs {
  display: flex;
  justify-content: space-between;
  &__item {
    min-width: 0;

    &:nth-child(n+2) {
      padding-left: 1.5rem;
      border-left: 1px solid #e4e4e4;
    }
  }
  &__label {
    font-weight: 700;
    line-height: 1;
    color: #333
  }
}

.modal-body-tabs {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  &__item {
    flex: 1 0 auto;
  }
}

.modal-footer-tabs {
  display: flex;
  justify-content: center;
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f2f4f8;
  &_justified-around {
    justify-content: space-around;
  }
  &__item {
    min-width: 0;
    padding-right: 20px;
    padding-left: 20px;
    &:nth-child(n+2) {
      border-left: 1px solid #d6d6d6;
    }
  }
  &__amount {
    font-size: 20px;
    line-height: 1.1;
    color: #36c;
  }
}

.share-profile-modal__copy-button {
  width: 100%;
  padding-right: 7px;
  padding-left: 7px;
}

.modal-to-much-opened-profiles {
  .users-panel-footer__tab__block {
    padding-right: 40px;
  }
  .users-panel-footer__tab {
    width: 310px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #999;
    & + .users-panel-footer__tab {
      margin-top: 10px;
    }
  }
  .custom-checkbox {
    position: absolute;
    top: 0;
    right: 10px;
  }
}
