.note {
  &-icon {
    height: 25px;
    width: 25px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-with-text {
    background-image: url("../../../public/img/notes/note-with-text.png");
  }
  &-add-note {
    background-image: url("../../../public/img/notes/note-add-note.png");
    opacity: .5;
    &:hover {
      opacity: 1;
    }
  }
  &-pinned-note {
    background-image: url("../../../public/img/notes/note-pinned-note.png");
  }
}
