.panel-heading-row {
  @include flexbox();
  align-items: center;
  padding: 12px 25px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  transition: all .2s ease;
  &__info {
    &-title {
      font-size: 20px;
      font-weight: bold;
    }
    &-ids {
      color: #827ca1;
    }
  }
  &__actions {
    margin-left: auto;
    z-index: 0;
  }
  &__tags {
    max-width: 40%;
    .tag-group {
      margin-top: 2px;
      margin-right: 2px;
      opacity: 0.8;
      .tag-red {
        background-color: #fb434a;
        border-color: #fb434a;
        color: #fff;
      }
      .tag-green {
        background-color: #46be8a;
        border-color: #46be8a;
        color: #fff;
      }
      .tag-grey {
        background-color: #6a7a84;
        border-color: #6a7a84;
        color: #fff;
      }
      &:hover {
        opacity: 1;
      }
      .btn-del:hover,
      .btn-add-tag:hover {
        opacity: 0.8;
      }
    }
  }
  .btn-xs {
    height: 24px;
    line-height: 24px;
    padding: 0 5px;
    font-size: 10px;
    border-width: 0;
  }
  .btn-del {
    width: 15px;
    padding: 0;
    overflow: hidden;
  }
  .btn-add-tag {
    height: 24px;
    width: 20px;
    padding: 0;
    border: none;
    background-color: #6a7a84;
    color: #fff;
    font-size: 10px;
    overflow: hidden;
    line-height: normal;
  }
}

.sticky-outer-wrapper.active {
  .panel-heading-row {
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
    border-bottom-color: transparent;
  }
}
