.panel-heading-row {
  @include flexbox();
  align-items: center;
  padding-top: 25px;
  padding-right: 25px;
  padding-left: 25px;
  &__info {
    &-title {
      font-size: 20px;
      font-weight: bold;
    }
    &-ids {
      color: #827ca1;
    }
  }
  &__actions {
    margin-left: auto;
  }
  &__tags {
    max-width: 40%;
    .tag-group {
      margin-top: 2px;
      margin-right: 2px;
      opacity: 0.8;
      .tag-red {
        background-color: #fb434a;
        border-color: #fb434a;
        color: #fff;
      }
      .tag-green {
        background-color: #46be8a;
        border-color: #46be8a;
        color: #fff;
      }
      .tag-grey {
        background-color: #6a7a84;
        border-color: #6a7a84;
        color: #fff;
      }
      &:hover {
        opacity: 1;
      }
      .btn-del:hover,
      .btn-add-tag:hover {
        opacity: 0.8;
      }
    }
  }
  &_fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
    z-index: 5;
  }
}
