.tab-header {
  align-items: center;
  padding: 20px 25px 15px;
  background-color: #fff;
  transition: all .2s ease;
  &__title {
    font-size: 20px;
  }
}

.sticky-outer-wrapper.active {
  .tab-header {
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.1);
  }
}

.tab-wrapper {
  padding: 5px 25px 10px;
}
