.DatePicker {
  position: relative;

  &__label {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--text-primary);
  }

  &__input {
    background-color: var(--form-background-default);
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;

    &:hover {
      cursor: pointer;

      & .DatePicker__input {
        &-left,
        &-right {
          border-color: var(--form-border-hover);
        }

        &-calendar {
          color: var(--form-icon-button-hover);
        }
      }
    }

    &--in-focus,
    &--in-focus:hover {
      & .DatePicker__input {
        &-left,
        &-right {
          border-color: var(--form-border-hover);
        }

        &-calendar {
          color: var(--form-icon-button-hover);
        }
      }
    }

    &--has-error,
    &--has-error:hover {
      & .DatePicker__input {
        &-left,
        &-right {
          border-color: var(--state-colors-danger);
        }
      }
    }

    &--is-disable,
    &--is-disable:hover {
      cursor: default;

      & .DatePicker__input {
        &-left,
        &-right {
          border-color: var(--form-border-disabled);
          background-color: var(--form-background-disabled);
        }

        &-date,
        &-calendar {
          color: var(--form-color-disabled);
        }
      }
    }

    &-left,
    &-right {
      transition: border-color 0.2s ease;
      height: 100%;
    }

    &-left {
      border-radius: 3px 0 0 3px;
      border: 1px solid var(--form-border-default);
      width: calc(100% - 40px);

      & input {
        background-color: transparent;
        color: 1px solid var(--form-color-default);
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.01em;
        line-height: 38px;
        padding: 0 6px 0 8px;

        display: block;
        width: 100%;

        &::placeholder {
          color: var(--form-color-placeholder);
        }
      }
    }

    &-right {
      border-radius: 0 3px 3px 0;
      border: 1px solid var(--form-border-default);
      border-left: none;
      color: var(--form-icon-button-default);
      line-height: 42px;
      padding: 0 8px;
      text-align: center;
      transition: border-color 0.1s ease, color 0.1s ease;
      user-select: none;
      width: 40px;

      &:hover {
        color: var(--form-color-hover);
      }
    }

    &-calendar {
      font-size: 18px;
    }

    &-error {
      color: var(--state-colors-danger);
      font-size: 12px;
      margin-top: 3px;

      &-icon {
        font-size: 14px;
        margin-right: 5px;
        top: -3px;
        display: inline-block;
        vertical-align: bottom;
      }
    }
  }

  &__popup {
    background-color: var(--form-background-default);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    position: absolute;
    top: calc(100% + 7px);
    left: 0;
    z-index: 2;

    &--anchor-right {
      left: auto;
      right: 0;
    }

    &-footer {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: 15px;
    }

    &-button {
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}
