.DistributionRuleTargetBrandForm {
  display: grid;
  grid-template-columns: 1fr;

  &--disabled {
    opacity: 0.4;
  }

  &__row {
    &--small {
      display: grid;
      grid-template-columns: 0.4fr;
      grid-column-gap: 30px;
      align-items: flex-end;
    }
  }

  &__field-checkbox {
    margin-top: 15px;
    margin-bottom: 35px;
  }

  &__message {
    margin: -20px 0 20px;
    font-size: 14px;
    color: var(--accent);
  }

  &__message-spinner {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    color: transparent;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '...';
      color: var(--accent);
      animation: spinner steps(3) 1.5s infinite;
    }
  }

  &__absolute-clients-count {
    margin-top: -20px;
    margin-bottom: 10px;
    color: var(--accent);
  }
}

@keyframes spinner {
  0% { transform: translateX(0); }
  50% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}
