$header-border-color: #dfe4ed;
$button-color: #acb7bf;
$font-size-small: 11px;

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


.panel-heading-row {
  @include flexbox();
  align-items: center;
  padding: 25px 25px 0;
  &_name-and-ids {
    .operator-profile-info-name {
      margin-bottom: 0;
      font-size: 20px;
      font-weight: bold;
    }
    .operator-profile-info-id {
      color: #827ca1;
    }
  }
  .operator-profile-actions {
    margin-left: auto;
  }
}

.operator-profile-header {
  .fa-angle-down {
    position: absolute;
    bottom: 12px;
    right: 10px;
    color: #999999;
    transition: all .2s;
  }

  .open {
    .fa-angle-down {
      transform: rotate(180deg);
    }
  }
}
