.Client {
  background-color: #fff;
  margin: 0 auto;
  min-width: 960px;
  width: 94%;

  &__content {
    padding-bottom: 50px;
    background: linear-gradient(180deg,#fff,#fff 0,#f8f8f8 100%,#f8f8f8 0);
  }

  &__info {
    display: flex;
    padding: 20px 25px 10px;
  }

  &__details {
    display: flex;
    padding: 10px 25px;
  }
}