.panel-body {
  &__content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__content {
    flex: 1 0 auto;
  }
  &__buttons {
    flex: 0 0 auto;
    text-align: right;
  }
}

.disabled {
  color: #fff;
  opacity: 1;
  border-color: #d3d3d3;
  background: #D3D3D3;
}
