.chart-footer {
  display: flex;
  margin-top: 15px;
  justify-content: space-around;
  &__total {
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    div:last-child {
      font-size: 13px;
      font-weight: bold;
    }
  }
}
