.DistributionRulesGridFilters {
  &__form {
    background-color: var(--surface-filters-background);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 25px 35px;
  }

  &__fields {
    width: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(12, calc(8.33% - 15px * 11 / 12));
  }

  &__field {
    margin-bottom: 0;
  }

  &__select {
    grid-column: span 2;
  }

  &__select-option {
    &--inactive {
      color: var(--form-color-disabled) !important;
    }
  }

  &__date-range,
  &__search {
    grid-column: span 4;
  }

  &__buttons {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 15px 0;
  }

  &__button {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}