.ClientAddressForm {
  background-color: var(--surface-frame-background);
  border: 1px solid var(--surface-frame-border);
  border-radius: 5px;
  padding: 25px;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: var(--text-primary);
    font-size: 18px;
    margin-bottom: 20px;
  }

  &__field {
    margin-right: 15px;
    width: calc(33.3% - 10px);
    display: inline-block;
    vertical-align: top;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &__text-area {
    width: calc(66.6% - 5px);
    margin-right: 0;

    & > textarea {
      border-radius: 3px;
      height: 40px;
    }
  }
}