.AccountProfileInstantOrder {
  &__open-button {
    position: fixed;
    top: calc(50% - 25px);
    right: 0;
    height: 50px;
    width: 50px;
    padding: 10px;
    z-index: 15;
    cursor: pointer;
    background: var(--navigation-primary-background);
    border-radius: 10px 0 0 10px;
    fill: var(--navigation-secondary-color);

    &:hover {
      background: var(--navigation-secondary-background);
      fill: var(--navigation-primary-color);
    }
  }

  &__drag-container {
    position: fixed;
    inset: 0;
  }

  &__window {
    width: 800px;
    visibility: hidden;
    background: var(--surface-page-background);
    border: 1px solid var(--surface-page-border);

    &--open {
      visibility: visible;
    }
  }

  &__window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background: var(--window-header-background-info);
    color: var(--window-header-color);
    font-size: 16px;
    cursor: move;
  }

  &__window-header-close-button {
    font-weight: bold;
    cursor: pointer;
  }

  &__window-content {
    display: flex;
    padding: 15px;
  }

  &__chart {
    margin-right: 25px;
  }
}

.react-draggable-dragging {
  user-select: none !important;
}
