.ClientMiniProfile {
  &__loader {
    width: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
  }

  &__error {
    padding: 30px;
    min-height: 90px;

    &-message {
      font-size: 14px;
      text-align: center;
    }
  }

  &__reason {
    flex-wrap: wrap;
    margin: 5px 8px;
    background-color: var(--surface-frame-background);

    &-label {
      margin-bottom: 3px;
      text-transform: uppercase;
      font-weight: 600;
    }

    &-content {
      flex: 1 0 100%;
      font-size: 13px;
      font-weight: 600;
      color: var(--state-colors-danger);
    }
  }
}
