$input-height: 40px;

.input {
  margin-bottom: 20px;

  &__label {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;

    &-icon {
      vertical-align: middle;
    }
  }

  &__icon-info {
    font-size: 17px;
    padding: 5px;
    cursor: pointer;
  }

  &__body {
    position: relative;
    display: flex;
  }

  &__control {
    background-color: var(--form-background-default);
    border: solid 1px var(--form-border-default);
    border-radius: 3px;
    box-sizing: border-box;
    color: var(--form-color-default);
    font-size: 15px;
    padding: 0 8px;
    text-overflow: ellipsis;
    transition: border-color 0.2s ease;
    display: block;
    height: $input-height;
    width: 100%;

  &:hover {
    background-color: var(--form-background-hover);
    border-color: var(--form-border-hover);
    color: var(--form-color-hover);

    & + .input__addition {
      background-color: var(--form-background-hover);
      border-color: var(--form-border-hover);
      color: var(--form-color-hover);

      .icon {
        color: var(--form-icon-button-hover);
      }
    }
  }

  &:focus {
    background-color: var(--form-background-focus);
    border-color: var(--form-border-focus);
    color: var(--form-color-focus);

    & + .input__addition {
      background-color: var(--form-background-focus);
      border-color: var(--form-border-focus);
      color: var(--form-color-focus);

      .icon {
        color: var(--form-icon-button-focus);
      }
    }
  }

    &:disabled {
      background-color: var(--form-background-disabled);
      border-color: var(--form-border-disabled);
      color: var(--form-color-disabled);
  
      & + .input__addition {
        background-color: var(--form-background-disabled);
        border-color: var(--form-border-disabled);
        color: var(--form-color-disabled);
        
        .icon {
          color: var(--form-icon-button-disabled);
        }
      }
    }

    // Styles for input autocomplete data
    &:-webkit-autofill {
      -webkit-text-fill-color: var(--form-color-default);
      -webkit-box-shadow: 0 0 0 1000px var(--form-background-default) inset;
      caret-color: var(--form-color-focus);

      &:focus {
        -webkit-text-fill-color: var(--form-color-focus);
        -webkit-box-shadow: 0 0 0 1000px var(--form-background-focus) inset;
      }
    }

    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &:-moz-placeholder {
      color: var(--form-color-placeholder);
    }

    &[type=number]:disabled {
      -moz-appearance: textfield;
    }
  }

  &__icon {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 8px;
  }

  &__footer {
    position: relative;
  }

  &__error {
    color: var(--state-colors-danger);
    font-size: 12px;
    margin-top: 4px;
  }

  &__error-icon {
    font-size: 14px;
    margin-right: 5px;
    top: -3px;
    display: inline-block;
    vertical-align: bottom;
  }

  &__addition {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--form-background-default);
    border: 1px solid var(--form-border-default);
    border-radius: 3px 0 0 3px;
    color: var(--form-color-default);
    cursor: pointer;
    line-height: 42px;
    text-align: center;
    transition: border-color 0.1s ease, color 0.1s ease;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    min-width: 40px;

    .icon {
      color: var(--form-icon-button-default);
    }

    &--right {
      position: static;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      padding: 0 8px;
      margin-left: -3px;
      user-select: none;
      border-radius: 0 3px 3px 0;
      background: var(--form-background-default);
      z-index: 1;
    }
  }
}

// # Modifiers
.input {
  &--has-icon {
    .input__control {
      padding-left: 40px;
    }
  }

  &--has-error {
    .input {
      &__control,
      &__addition {
        border-color: var(--state-colors-danger);
      }

      &__control {
        &:focus {
          border-color: var(--form-border-focus);

          & + .input__addition {
            border-color: var(--form-border-focus);
            color: var(--form-color-focus);
          }
        }
      }
    }
  }

  &--has-addition {
    .input__control {
      padding-left: 55px;
    }
  }

  &--is-disabled {
    .input__control {
      border-color: var(--form-border-default);
      -webkit-text-fill-color: var(--form-color-default);
      -webkit-opacity: 1;
    }

    &:hover {
      .input__body {
        .input__icon {
          border-color: var(--form-color-hover);
        }
      }
    }
  }

  &--is-focused {
    .input__control {
      border-color: var(--form-border-focus);

      & + .input__addition {
        border-color: var(--form-border-focus);
        color: var(--form-color-focus)
      }
    }
  }
}
