@import '../../styles/helpers/mixins';

$input-height: 40px;

.input {
  margin-bottom: 20px;

  .range-group & {
    margin-bottom: 0;
  }

  &__body {
    margin: 0 auto;
    width: 100%;
  }

  &__label {
    font-size: 15px;
    font-weight: 600;
  }

  &__control {
    border: solid 1px #cfcfcf;
    border-radius: 3px;
    box-sizing: border-box;
    color: #000000;
    font-size: 15px;
    padding: 0 8px;
    text-overflow: ellipsis;
    transition: border-color 0.2s ease;
    display: block;
    height: $input-height;
    width: 100%;

    &:focus {
      border-color: #4990e2;

      & + .input__addition {
        border-color: #4990e2;
        color: #aaa;
      }
    }

    &:disabled {
      background-color: #f6f6f6;

      & + .input__addition {
        border-color: #f6f6f6;
      }
    }

    @include placeholder {
      color: #9b9b9b;
    }
  }

  &__icon {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 8px;
  }

  &__footer {
    position: relative;
  }

  &__error {
    color: #d0021b;
    font-size: 12px;
    margin-top: 4px;
  }

  &__error-icon {
    font-size: 14px;
    margin-right: 5px;
    top: -3px;
    display: inline-block;
    vertical-align: bottom;
  }

  &__addition {
    background-color: transparent;
    border: 1px solid #cfcfcf;
    border-radius: 3px 0 0 3px;
    color: #cfcfcf;
    cursor: pointer;
    line-height: 42px;
    text-align: center;
    transition: border-color 0.1s ease, color 0.1s ease;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;

    &:hover {
      color: #9b9b9b;
    }
  }
}

// # Modifiers
.input {
  &--has-icon {
    .input__control {
      padding-left: 40px;
    }
  }

  &--has-error {
    .input {
      &__control,
      &__addition {
        border-color: #d0011b;
      }

      &__control {
        &:focus {
          border-color: #4990e2;

          & + .input__addition {
            border-color: #4990e2;
            color: #aaa;
          }
        }
      }
    }
  }

  &--has-addition {
    .input__control {
      padding-left: 55px;
    }
  }

  &--is-disabled {
    .input__control {
      border-color: #edeff5;
      -webkit-text-fill-color: #bec2d5;
      -webkit-opacity: 1;
    }

    &:hover {
      .input__body {
        .input__icon {
          border-color: #edeff5;
        }
      }
    }
  }
}