@import "../../styles/settings/variables";

.payment-limit-popover {
  margin-top: -10px;
  .popover-content {
    max-width: 320px;
    padding: 0;
    border: 1px solid #f2f2f2;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.247058823529412);
  }
  &__title {
    padding: 10px;
    border-bottom: 2px solid #f7f7f7;
    &_disable-action {
      color: #990000;
    }
  }
  h4 {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    &:hover {
      .payment-limit-popover__title {
        background-color: #fcfcfc;
      }
    }
  }
  &__body {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    padding: 10px;
  }
  .range-group__separator {
    margin-top: 12px;
  }
  .form-group {
    margin-bottom: 0;
  }
  .btn {
    margin-left: 10px;
  }
}

.payment-method-toggle {
  position: relative;
  padding: 10px 35px 10px 10px;
  cursor: pointer;
  &.show {
    background-color: #f2f2f2;
    .fa-angle-down {
      display: inline-block;
      transform: rotate(180deg);
    }
  }
  &:hover {
    .fa-angle-down {
      display: inline-block;
    }
  }
  .fa-angle-down {
    display: none;
    position: absolute;
    top: 12px;
    right: 14px;
    transition: all .2s ease-in-out;
    &:before {
      color: #a8a8a8;
    }
  }
}

.popover.bs-tether-element-attached-left {
  margin-left: 0;
}

.data-grid-layout thead th.payment-method-table-header {
  padding-left: calc(.75em + 10px);
}
