@import "../../styles/settings/variables";

.popover-inner.payment-limit-popover {
  max-width: 300px;
  padding: 0;
  border: 1px solid #f2f2f2;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.247058823529412);
  .popover-title {
    background: $yellow-color;
    border: none;
  }

  .popover-content {
    .popover-body {
      display: flex;
      align-items: flex-end;
    }
    .form-group {
      margin-bottom: 0;
    }
  }
}
