.payment-limit-popover {
  max-width: 400px;
  margin-top: 0;
  border-color: #f2f2f2;
  border-radius: 0;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 1;
  .popover-body {
    padding: 0;
  }
  &__title {
    padding: 10px;
    border-bottom: 2px solid #f7f7f7;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    cursor: default;
  }
  &__title-action {
    padding: 0;
    border: 0;
    background-color: transparent;
  }
  &__body {
    padding: 10px;
    cursor: default;
  }
  &__separator {
    margin-top: 28px;
  }
}
