.DealingOperator {
  background-color: var(--surface-page-background);
  border: 1px solid var(--surface-page-border);
  margin: 0 auto;
  min-width: 960px;

  &__content {
    padding-bottom: 50px;
    background: var(--surface-gradient-background);
    position: relative;
  }

  .Tabs {
    margin-top: 0;
  }

  &__info {
    display: flex;
    padding: 20px 25px 10px;
  }

  &__details {
    display: flex;
    padding: 10px 25px;
  }

  &__tab-content {
    padding: 25px;
  }
}
