.ClientPersonalInfo {
  overflow-x: hidden;

  &__title {
    font-size: 11px;
    text-transform: uppercase;
    color: var(--text-secondary);
  }

  &__content {
    background-color: var(--surface-frame-background);
    border: 1px solid var(--surface-frame-border);
    overflow-y: auto;
    height: 200px;
    padding: 7px;
    border-radius: 5px;
    font-size: 13px;
  }

  &__contacts {
    svg {
      cursor: pointer;
    }
  }

  &__value {
    &--inactive {
      color: var(--text-secondary);
    }
  }
}

