.GridRow {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  transition: background-color 0.1s ease;

  &:first-child {
    border-top: 1px solid #eee;
  }
}

// # Modifier
.GridRow {
  &--with-hover {
    cursor: pointer;

    &:hover {
      background-color: #fcfcfc;
    }
  }

  &--is-selected {
    background-color: rgba(81,135,189,0.1);

    &:hover {
      background-color: rgba(81,135,189,0.13);
    }
  }
}