.SymbolChart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex: 1;
  margin-top: 12px;

  &--loading {
    display: flex;
    justify-content: center;
  }

  &__icon {
    width: 300px;
  }

  &__label {
    position: absolute;
    left: 0;
    z-index: 2;
    padding: 0 10px;
    background: #2c90e8;
    width: auto;
    color: #fff;
  }

  &__error-container {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 15px;
    margin-right: 30px;
    background: #ffcac8;
    box-shadow: 1px 2px 3px #777;
    word-break: break-word;
  }

  &__error-icon {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
}
