.NotificationItem {
  display: flex;
  flex-direction: row;
  padding: 10px 30px 10px 15px;
  position: relative;

  &--low {
    background: var(--state-colors-info);
  }

  &--medium {
    background: var(--state-colors-warning);
  }

  &--high {
    background: var(--state-colors-danger);
  }

  &__icon-container {
    margin-top: 5px;
    margin-right: 30px;
    opacity: 0.5;
    color: var(--state-colors-content);

    svg {
      path {
        fill: currentColor;
      }
    }
  }

  &__title-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
    z-index: var(--z-index-overlap);
  }

  &__priority {
    flex-shrink: 0;
    padding: 0 7px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 600;
    color: var(--state-colors-content);
    text-shadow: 0 0;

    &::before {
      position: absolute;
      border-radius: 10px;
      content: "";
      display: block;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: var(--state-colors-content);
      z-index: var(--z-index-negative);
      opacity: 0.25;
    }
  }

  &__title {
    font-size: 12px;
    font-weight: 600;
    opacity: 0.5;
    color: var(--state-colors-content);
  }

  &__subtitle {
    font-size: 13px;
    color: var(--state-colors-content);
    letter-spacing: 0.5px;
  }

  &__body {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: var(--state-colors-content);
    word-break: break-word;
  }
}
