.OperatorHeader {
  background-color: var(--surface-page-background);
  border-bottom: 1px solid var(--divider);
  padding: 12px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 48px;
  z-index: 1;

  &__title {
    font-size: 20px;
    font-weight: 700;
  }

  &__uuid {
    color: var(--text-tertiary);
  }

  &__action {
    &:not(:first-child) {
      margin-left: 15px;
    }
  }
}