.filters-select {
  width: 39px;
  height: 39px;
  border: 1px solid #999;
  border-radius: 3px;
  line-height: 36px;
  background-color: #fff;
  font-size: 21px;
  color: #4a4a4a;
  &_active,
  &:active,
  &:hover {
    background-color: #f4f4f4;
  }
}
