.DesksList {
  border-radius: 5px;
  border: 1px solid var(--surface-page-border);

  &__header {
    background-color: var(--surface-page-background);
    border-bottom: 1px solid var(--divider);
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 48px;
    z-index: 7;
  }

  &__title {
    font-size: 20px;
  }
}
