.LeadsUploadModal {
  &-beforeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    p {
      margin-bottom: 0.4rem;
    }

    a {
      color: #2196f3;
      text-decoration: underline;
    }
  }

  &-content {
    margin: 0 10%;
  }
}
