.mini-profile {
  max-width: 325px;
  padding-bottom: 3px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
  font-size: 12px;
  &-header {
    position: relative;
    padding: 5px 8px;
  }
  &-label {
    position: absolute;
    top: -10px;
    right: -1px;
    padding: 1px 10px;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    color: #fff;
    text-transform: uppercase;
  }
  &-type {
    color: #4a4a4a;
  }
  &-title {
    line-height: 16px;
    font-size: 15px;
    color: #000;
  }
  &-ids {
    color: #676767;
    line-height: 1.17;
  }
  &-username {
    font-weight: 600;
  }
  &-tags {
    margin: 5px -5px -3px;
  }
  &-tag {
    position: relative;
    display: inline-block;
    height: 20px;
    margin-bottom: 5px;
    margin-left: 15px;
    padding-right: 10px;
    padding-left: 2px;
    line-height: 20px;
    font-size: 11px;
    font-weight: 600;
    color: #fff;
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: -10px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid transparent;
    }
    &_neutral {
      background-color: #6a7a84;
      &:before {
        border-right-color: #6a7a84;
      }
    }
    &_negative {
      background-color: #fb434a;
      &:before {
        border-right-color: #fb434a;
      }
    }
    &_positive {
      background-color: #009900;
      &:before {
        border-right-color: #009900;
      }
    }
  }
  &-status-reason,
  &-content {
    margin-bottom: 3px;
    padding: 8px 9px;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .info-block {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    color: #4a4a4a;
    & + .info-block {
      margin-top: 10px;
    }
    &_status-reason {
      margin-bottom: 3px;
      text-transform: uppercase;
      font-weight: 600;
      &_body {
        flex: 1 0 100%;
        font-size: 13px;
        font-weight: 600;
        color: #d0011b;
      }
    }
    &-label {
      width: 80px;
      margin-right: 40px;
      text-transform: uppercase;
      font-weight: 600;
    }
    &-content {
      font-size: 13px;
      font-weight: bold;
      line-height: 15px;
    }
  }
  &-status-reason {
    .info-block {
      flex-wrap: wrap;
    }
  }
  &.inactive {
    border-color: #bcbcbc;
    background-color: #eee;
    .mini-profile-label {
      background-image: linear-gradient(to left, #bdbdbd, #979797);
    }
  }
  &.active {
    border-color: #1cbb1c;
    background-color: #e9f7e6;
    .mini-profile-label {
      background-image: linear-gradient(to right, #009a00, #07cd07);
    }
  }
  &.blocked {
    border-color: #cc5f32;
    background-color: #f6e2e1;
    .mini-profile-label {
      background-image: linear-gradient(to right, #990101, #d96620);
    }
  }
  &.dormant {
    border-color: #999;
    background-color: #d7d7d7;
    .mini-profile-label {
      background-image: linear-gradient(to right, #343434, #666666);
    }
  }
  &.suspended,
  &.cooloff {
    border-color: #ff8219;
    background-color: #ffeedc;
    .mini-profile-label {
      background-image: linear-gradient(to right, #ff6701, #ffa134);
    }
  }
  .note-icon {
    width: 17px;
    height: 17px;
    margin-left: 5px;
    vertical-align: middle;
    cursor: default;
  }
  &-show-button {
    width: max-content,
  }
}


