.RemoveBoardButton {
  padding: 0;
  border: none;
  background: transparent;

  &:disabled {
    cursor: default;
  }

  &__icon {
    display: block;
    line-height: 1;
    fill: var(--button-icon-button-default);
  }

  &:hover &__icon {
    fill: var(--button-icon-button-hover);
  }

  &:focus &__icon {
    fill: var(--button-icon-button-focus);
  }

  &:disabled &__icon {
    fill: var(--button-icon-button-disabled);
  }

  &__icon {
    display: block;
    line-height: 1;
  }
}