.availability-popover {
  max-width: none;
  border-color: #f2f2f2;
  border-radius: 0;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
  z-index: 1;
  .popover-body {
    padding: 0;
  }
  &__nav {
    background-color: #f2f2f2;
  }
  &__nav-item {
    flex: auto;
    text-align: center;
  }
  &__nav-tab {
    border-top: 3px solid transparent;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    &.active {
      border-top-color: #09f;
      background-color: #fff;
    }
  }
  a:not([href]):not([tabindex]).active {
    color: #09f;
  }
  &__tab {
    padding: 14px 10px;
    font-size: 14px;
    color: #333;
  }
  &__tab-value {
    color: #999;
  }
  &__tab-name {
    color: #09f;
  }
}

.availability-popover-search {
  position: relative;
  padding-top: 14px;
  padding-right: 10px;
  padding-left: 10px;
  i {
    position: absolute;
    top: 23px;
    left: 18px;
    font-size: 13px;
  }
  input {
    height: 29px;
    padding-left: 25px;
    font-size: 13px;
    color: #999;
  }
}
