.panel-body {
  &__content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__content {
    flex: 1 0 auto;
  }
  &__buttons {
    flex: 0 0 auto;
    text-align: right;
  }
}

.client-flex-wrapper {
  display: flex;
  .client-small-col {
    flex: 1 1 auto;
  }
  .client-big-col {
    flex: 2 1 auto;
  }

  .mt-4-profile {
    margin-top: 27px;
  }

  .btn-verified {
    border-radius: 2.5px;
    border: solid 1px rgba(37, 154, 53, 0.15);
    color: #259a35;
    width: 100%;
  }
}
