.Badge {
  display: flex;

  &__children {
    margin-right: 2px;
  }

  &__item {
    position: relative;
    flex: 0 0 auto;
    align-self: flex-start;
    bottom: 5px;
    padding: 2px 4px;
    font-size: 10px;
    font-weight: 500;
    border-radius: 5px;
    color: #ffffff;
    line-height: 1.3;

    &--info {
      background-color: #2aa6e0;;
    }

    &--warning {
      background-color: #ffc107;
    }

    &--danger {
      background-color: #dc3545;
    }

    &--success {
      background-color: #3bb477;
    }

    &--center {
      bottom: 0;
    }
  }
}
