.Chart {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  margin-right: 25px;
  padding: 25px;
  left: 0;
  display: inline-block;
  vertical-align: top;
  width: calc(33.3% - 16.6px);

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-child(n + 4) {
    margin-top: 25px;
  }

  &--expanded {
    width: 100%;
  }

  &__modal {
    width: 70%;

    .modal-body {
      padding: 0;
    }

    .Chart__grapfic {
      height: 25vw !important;
    }
  }

  &__right-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__icon {
    width: 18px;
    height: 18px;
    margin-bottom: 15px;
    cursor: pointer;
    fill: #555;

    &:hover {
      fill: #000;
    }
  }

  &__header {
    display: flex;
    align-items: flex-end;
  }

  &__title,
  &__select {
    display: inline-block;
    vertical-align: top;
  }

  &__title {
    font-size: 20px;
    line-height: 35px;
    width: calc(100% - 130px);
  }

  &__select {
    height: 35px;
    width: 130px;

    // # need to remove rewrite this class after refacoring .form-control
    & .form-control {
      height: 100%;
      min-height: 35px;
    }

    // # need to remove rewrite this class after refacoring .form-control
    .select__toggle-icon {
      top: 55%;
    }
  }

  &__body {
    margin: 10px 0;
  }

  &__loader,
  &__error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
  }

  &__error {
    font-size: 18px;
    letter-spacing: 0.1em;
  }

  &__grapfic {
    left: -35px;
    min-height: 200px;
    height: 12vw !important;
    width: calc(100% + 35px) !important;
  }

  &__footer {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;

    &-item {
      &-title {
        font-size: 10px;
        text-align: center;
        text-transform: uppercase;
      }

      &-value {
        font-size: 13px;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}
