{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "airbnb",
    "plugin:jsx-control-statements/recommended"
  ],
  "plugins": [
    "babel",
    "react",
    "promise",
    "jsx-control-statements"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "__DEV__": false,
    "__PROD__": false,
    "__DEBUG__": false,
    "__COVERAGE__": false,
    "__BASENAME__": false,
    "__APP_VERSION__": false
  },
  "rules": {
    "semi": [
      2,
      "always"
    ],
    "max-len": [
      2,
      120,
      2
    ],
    "generator-star-spacing": 0,
    "babel/generator-star-spacing": 1,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/forbid-prop-types": 0,
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-has-content": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "no-return-assign": "off",
    "radix": 0,
    "react/jsx-no-undef": [2, { "allowGlobals": true }],
    "object-curly-newline": "off",
    "function-paren-newline": ["error", "consistent"]
  }
}
