sentry_svc_dsn:
{% if sentry_svc_dsn is defined %}
  dsn: {{ (sentry_svc_dsn|selectattr('name','equalto', service_item.name)|first).sentry_dsn }}
{% endif %}
credentials:
{% if dwh_api is defined %}
  dwh_api:
    url: {{ dwh_api.url }}
    token: {{ dwh_api.token }}
{% endif %}
