.LeadCallbackDetailsModal {
  &__loader {
    padding: 40px 0;
  }

  &__lead {
    margin-bottom: 25px;

    &-name {
      font-weight: 700;
    }

    &-author {
      font-size: 11px;
    }
  }

  &__callback-id {
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 700;
  }

  &__field {
    margin-bottom: 20px;
  }

  &__notes {
    margin-top: 25px;
    text-align: center;
  }

  &__button {
    &--delete {
      margin-right: auto !important;
    }
  }
}
