.AccountProfileOrdersGridFilter {
  padding: 20px 25px 40px;
  background-color: #f2f4f8;

  &__fields {
    display: grid;
    column-gap: 15px;
    grid-template-columns: repeat(12, 1fr);
  }

  &__field {
    grid-column: span 2;

    &--large {
      grid-column: span 4;
    }
  }

  &__field-inactive-option {
    color: #d6d6d6;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__date-range {
    grid-column: span 4;
  }
}
