.LeadsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  position: sticky;
  top: 48px;
  padding: 25px;
  background-color: var(--surface-page-background);
  border-bottom: 1px solid var(--divider);
  z-index: 7;

  &__title {
    font-size: 20px;
  }

  &__selected {
    color: var(--accent);
    font-size: 14px;
  }

  &__bulk {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--surface-filters-background);
    border: 1px solid var(--divider);
    border-radius: 5px;

    &-title {
      top: 2px;
      margin-right: 15px;
      color: var(--accent);
      font-size: 13px;
      text-transform: uppercase;
    }
  }

  &__modal-subtitle {
    font-size: 13px;
    color: var(--window-header-color);
  }
}
