.modal {
  .modal-header {
    background-color: #FFCC66;
    border: none;
  }
  .close {
    font-size: 45px;
    font-weight: 100;
  }
  &-body {
    padding: 50px 15px;
  }
  .btn {
    text-transform: uppercase;
  }
}
