@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hiv63g');
  src:  url('fonts/icomoon.eot?hiv63g#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hiv63g') format('truetype'),
    url('fonts/icomoon.woff?hiv63g') format('woff'),
    url('fonts/icomoon.svg?hiv63g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-support:before {
  content: "\e902";
}
.icon-callbacks:before {
  content: "\e903";
}
.icon-users:before {
  content: "\e905";
}
.icon-operators:before {
  content: "\e906";
}
.icon-payments:before {
  content: "\e907";
}
.icon-settings:before {
  content: "\e908";
}
.icon-union:before {
  content: "\e90b";
}
.icon-calendar:before {
  content: "\e90d";
}
.icon-times:before {
  content: "\e90e";
}
.icon-arrow-down:before {
  content: "\e90f";
}
.icon-alert:before {
  content: "\e910";
}
.icon-search:before {
  content: "\e911";
}
.icon-leads:before {
  content: "\e914";
}
.icon-generate-password:before {
  content: "\e915";
}
.icon-dashboard:before {
  content: "\e916";
}
.icon-organization:before {
  content: "\e917";
}
.icon-notifications:before {
  content: "\e918";
}
.icon-trading-engine:before {
  content: "\e91c";
}
.icon-ip-whitelist:before {
  content: "\e954";
}
.icon-signout:before {
  content: "\e900";
}
