.PermissionsTable {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & table {
    width: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  }

  & th {
    padding: 8px;
    color: #ffffff;
    background-color: #3f4555;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;

    &:first-child {
      width: 70%;
    }

    &:not(:last-child) {
      border-right: 1px solid #e6e8ed;
    }
  }

  & tr {
    background-color: #ffffff;
    border-bottom: 1px solid #f5f6f9;

    &:hover {
      background-color: #f3f3f3;
    }
  }

  & td {
    padding: 8px 15px;

    &:not(:last-child) {
      border-right: 1px solid #e6e8ed;
    }
  }

  &__filters {
    min-width: 250px;
    margin-bottom: 10px;
  }

  &__align-center {
    text-align: center;
  }

  &__switcher {
    width: 45px;
    height: 25px;
    border-radius: 14px;

    .switch-toggle {
      top: 48%;
      width: 19px;
      height: 19px;
      box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.5);
      transition: left .15s ease-in-out;
    }

    &.on {
      background-color: #008800;

      .switch-toggle {
        left: 23px;
      }
    }
  }
}
