.PermissionsSetting {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: static;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: none;
  }

  &__action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 0 0 25px;
    position: static;
    width: 600px;
  }

  &__permissions {
    display: flex;
    border-left: 1px solid #dfe4ed;
    border-right: 1px solid #dfe4ed;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    position: static;

    &-title {
      display: flex;
      border-bottom: 1px solid #dfe4ed;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 0 0 25px;
      position: static;
      width: 240px;
      height: 40px;
      left: 0;
      top: 0;
    }

    &-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0;
      position: static;
      width: 240px;
      height: 40px;
      left: 0;
      top: 40px;
    }

    &-view {
      display: flex;
      border-right: 1px solid #dfe4ed;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: static;
      width: 120px;
      height: 40px;
      left: 0;
      top: 0;
    }

    &-edit {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: static;
      width: 120px;
      height: 40px;
      left: 120px;
      top: 0;
    }
  }

  &__section-title {
    display: flex;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    font-weight: 900;
    border: none;
    background-color: #FFF;

    &:before {
      display: inline-block;
      content: '';
      height: 10px;
      width: 10px;
      margin: 14px 0 0 10px;
      border-bottom: 1px solid #9B9B9B;
      border-right: 1px solid #9B9B9B;
      transform: rotate(-45deg);
    }
    &[aria-expanded='true']::before,
    &[aria-selected='true']::before {
      transform: rotate(45deg);
    }
  }

  &__permission-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 9px 0 0 25px;
    position: static;
    width: 600px;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: static;
    left: 0;
    top: 0;
    border-top: 1px solid #dfe4ed;
    animation: fadein 0.35s ease-in;
    background: linear-gradient(0deg, #F9F9FA, #F9F9FA), #FFFFFF;
  }

  &__preview-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 0 0 25px;
    position: static;
    width: 120px;
    height: 80px;
    left: 840px;
    top: 0;
  }

  &__preview {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: auto;
    flex-direction: column;
    position: static;
    width: 120px;
    left: 840px;
    top: 0;
  }

  & th {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
  }

  & tr {
    background-color: #ffffff;
    border-bottom: 1px solid #f5f6f9;

    &:hover {
      background-color: #f3f3f3;
    }
  }

  & td {
    padding: 8px 15px;

    &:not(:last-child) {
      border-right: 1px solid #e6e8ed;
    }
  }

  &__align-center {
    text-align: center;
  }

  &__switcher {
    width: 45px;
    height: 25px;
    border-radius: 14px;

    .switch-toggle {
      top: 48%;
      width: 19px;
      height: 19px;
      box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.5);
      transition: left .15s ease-in-out;
    }

    &.on {
      background: linear-gradient(90deg, #4A90E2 0%, #24BDEE 100%), #FFF;

      .switch-toggle {
        left: 23px;
      }
    }
  }

  &__switcher-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    position: static;
    width: 240px;
    height: 40px;
    left: 0;
    top: 40px;
  }

  &__switcher-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    width: 120px;
    height: 40px;
    left: 0;
    top: 0;
  }

  &__switcher-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    width: 120px;
    height: 40px;
    left: 120px;
    top: 0;
  }
}
