.player-tags {
  .multi-input__control {
    border: none !important;
  }
  .multi-input__value-container {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .multi-input__dropdown-indicator {
    padding-right: 0 !important;
  }
}
