.Quotes {
  border: 1px solid #dfe4ed;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 47px;
    padding: 25px;
    background-color: #fff;
    font-size: 20px;
    z-index: 3;
  }

  &__cell-primary {
    display: flex;
    align-items: center;
    font-weight: 700;
  }

  &__cell-active {
    opacity: 1;
    fill: #5187bd;
  }

  &__cell-favroite {
    width: 20px;
    height: 20px;
    transition: 0.3s ease;
    cursor: pointer;
    margin-right: 10px;
  }

  &__cell-icon {
      fill: #7f7f7f;
      opacity: 0.3;

      &:hover {
        opacity: 1;
        fill: #5187bd;
      }
  }
}
