.Quotes {
  border: 1px solid var(--divider);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 47px;
    padding: 25px;
    background-color: var(--surface-page-background);
    font-size: 20px;
    z-index: 7;
  }

  &__cell-primary {
    display: flex;
    align-items: center;
    font-weight: 700;
  }

  &__cell-favroite {
    width: 20px;
    height: 20px;
    transition: 0.3s ease;
    cursor: pointer;
    margin-right: 10px;
  }

  &__cell-icon {
    opacity: 0.3;

    path {
      fill: var(--accent);
    }

    &:hover {
      opacity: 1;
    }
  }

  &__cell-active {
    opacity: 1;
    fill: var(--accent);

    path {
      fill: var(--accent);
    }
  }
}
