.AddTimeIntervalButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  color: inherit;

  &__icon {
    display: block;
    line-height: 1;
  }
}
