.PromoteLeadModal {
  width: 655px;

  &__title {
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
  }

  &__error {
    font-weight: 700;
    text-align: center;
    color: #ff0000;
  }

  &__field {
    display: inline-block;
    vertical-align: top;

    margin-right: 15px;
    width: calc(50% - 7.5px);

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  &__button {
    margin: 0;

    &:first-child {
      margin-right: 15px;
    }
  }
}
