@import "../../styles/helpers/variables";

.FeedItem {
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
  border-bottom: solid 1px #eee;

  &:last-child {
    border-bottom: none;
  }

  &__content-wrapper {
    flex: 1;
  }

  &__heading {
    line-height: 1.2;
  }

  &__title {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__status {
    -webkit-box-flex: 1;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    font-size: 14px;
    font-weight: 700;
    padding: 0;

    &.red {
      color: red;
    }

    &.blue {
      color: #003399;
    }

    &.green {
      color: #009900;
    }
  }

  &__uuid {
    flex: 0 0 auto;
    max-width: none;
    width: auto;
    font-size: 11px;
    color: #999;
  }

  &__author {
    font-size: 13px;
  }

  &__dash {
    margin-left: 0.25rem;
  }

  &__author-name {
    font-weight: 700;

    &.blue {
      color: $color-primary;
    }
  }

  &__creation-date {
    display: inline-block;
    font-size: 11px;
    color: #666;
  }

  &__creation-date-from {
    margin-left: 0.25rem;
  }

  &__collapse {
    display: inline-block;
    margin-left: 5px;
    padding: 0;
    border: none;
    background: none;
    text-decoration: underline;
    font-size: 11px;
    color: #666;

    i {
      display: inline-block;
      margin-left: 4px;
      vertical-align: middle;
    }
  }

  &__content {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f8fafd;
    font-size: 12px;
    line-height: 1.4;
    overflow: hidden;
  }

  &__content-item {
    margin-left: 10px;
  }

  &__content-value {
    margin-left: 3px;
    font-weight: 700;
  }

  &__rejection {
    margin-top: 10px;
    font-style: italic;
    color: #000;
  }

  &__letters-icon {
    flex: 0 0 40px;
    max-width: 40px;
    height: 40px;
    margin-top: 2px;
    margin-right: 10px;
    padding-top: 3px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    color: #fff;

    &.blue {
      background-color: $color-primary;
    }

    &.green {
      background-color: green;
    }

    &.orange {
      background-color: #ff9900;
    }
  }
}
