.FiltersToggler {
  background-color: #f2f4f8;
  height: auto;
  width: 100%;
  z-index: 1;

  &--collapsed {
    background-color: #fff;

    & .FiltersToggler__actions {
      padding-bottom: 20px;
    }

    & .FiltersToggler__icon {
      transform: rotate(0deg);
    }
  }

  &__actions {
    padding: 20px 25px 0;
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 39px;
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    cursor: pointer;
    z-index: 2;

    &:hover {
      background-color: #f9fcfe;

      & .FiltersToggler__icon {
        fill: #5187bd;
      }
    }
  }

  &__icon {
    fill: #cfcfcf;
    transform: rotate(180deg);
    transition: color .2s ease;
    height: 17px;
    width: 8px;
  }
}