.SalesRules {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 47px;
    padding: 25px;
    background-color: #fff;
    border-bottom: 1px solid #dfe4ed;
    font-size: 20px;
    z-index: 4;
  }

  &__edit-button {
    padding: 8px 16px;
  }
}
