.DateTimePicker {
  display: inline-block;

  &__label {
    font-size: 15px;
    margin-bottom: 6px;

    &-prefix {
      font-weight: 600;
      margin-right: 6px;
      color: var(--text-primary);
    }

    &-date {
      color: var(--active);
    }
  }

  &__input {
    & input {
      background-color: var(--form-background-default);
      border: solid 1px var(--form-border-default);
      border-radius: 3px;
      box-sizing: border-box;
      color: var(--form-color-default);
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 0.03em;
      padding: 0 8px;
      transition: border-color 0.2s ease;
      display: block;
      height: 40px;
      width: 100%;

      &:focus {
        border-color: var(--form-border-focus);
      }

      &:disabled {
        background-color: var(--form-background-disabled);
        border-color: var(--form-border-disabled);
      }

      &::placeholder {
        color: var(--form-color-placeholder);
      }

      &::-ms-clear {
        display: none;
      }

      &::-webkit-clear-button {
        display: none;
      }

      &::-webkit-calendar-picker-indicator {
        display: none;
      }
    }
  }
}
