.HeaderCalendar {
  display: inline-block;
  vertical-align: top;

  &__head {
    background-color: transparent;
    color: var(--navigation-secondary-color);
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    transition: color 0.2s ease;
    height: 49px;
    width: 40px;

    &:hover {
      color: var(--navigation-primary-color);
    }
  }

  &__popper {
    max-width: none !important;
    z-index: 6;
  }

  &__view {
    height: 90vh;
    width: calc(90vh * 1.4);
  }
}
