.PartnersGridFilter {
  &__form {
    background-color: #f2f4f8;
    padding: 20px 25px;
  }

  &__inputs {
    display: flex;
    flex: 1 0 10px;
  }

  &__input {
    &:not(:first-child) {
      margin-left: 15px;
    }
  }

  &__search {
    flex-grow: 0.75;
    flex-basis: 250px;
    min-width: 250px;
  }

  &__select {
    flex-grow: 0.2;
    flex-basis: 150px;
    min-width: 150px;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}
