.section-container {
  position: relative;
  top: 48px;
  padding: 40px 40px 40px 100px;
}

.floating-buttons {
  position: fixed;
  right: 5px;
  bottom: 63px;
  &__circle {
    height: 30px;
    width: 30px;
    background-color: #ccc;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: background .2s ease-in;
    animation-duration: .75s;
    animation-fill-mode: both;
    &:last-child {
      margin-top: 10px;
    }
    &:hover {
      background-color: #333;
    }
  }
  .fa {
    position: relative;
    top: 4px;
    color: #fff;
    font-size: 16px;
  }
}

@keyframes rollIn {
  from {
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }

  to {
    transform: none;
  }
}

.rollIn {
  animation-name: rollIn;
}

@keyframes rollOut {
  from {
    transform: none;
  }

  to {
    transform: translate3d(150%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

.rollOut {
  animation-name: rollOut;
}
