.note-item {
  .letter {
    height: 40px;
    width: 40px;
    margin-top: 4px;
    margin-left: auto;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    background: #666666;
    &:after {
      content: '';
      position: relative;
      top: 1px;
    }
    &-blue {
      background: #0267cc;
    }
  }
  .user-wall-item-head {
    font-size: 13px;
  }
  .note-content {
    background: rgb(255, 253, 230);
    font-size: 13px;
  }
  .note-author {
    color: #0066CC;
  }
}
