.FeedContent {

  &__wrapper {
    padding-left: 5px;
  }

  &__label {
    margin-right: 5px;
  }

  &__value {
    &-from,
    &-to {
      word-break: break-all;
    }

    &-from {
      margin-right: 5px;
    }

    &-to {
      font-weight: 700;
      margin-left: 5px;
    }

    &-added {
      color: var(--state-colors-success);
    }

    &-removed {
      text-decoration: line-through;
      color: var(--state-colors-danger);
    }

    &-comma {
      color: var(--state-colors-danger);
    }
  }

  &__arrow {
    color: var(--state-colors-success);
    font-weight: bolder;
  }

   &__changes {
     width: 150px;
     margin: 5px 0;
     padding: 2px;
     text-align: center;
     border: 2px dashed var(--state-colors-success);
     text-transform: uppercase;
   }
}
