.FeedContent {
  &__label {
    margin-right: 5px;
  }

  &__value {
    &-from {
      margin-right: 5px;
    }

    &-to {
      font-weight: 700;
      margin-left: 5px;
    }
  }

  &__arrow {
    color: #46BE8A;
    font-weight: bolder;
  }

   &__changes {
     width: 150px;
     margin: 5px 0;
     padding: 2px;
     text-align: center;
     border: 2px dashed #46BE8A;
     text-transform: uppercase;
   }
}
