.AffiliateSettings {
  background-color: var(--surface-frame-background);
  border: 1px solid var(--surface-frame-border);
  border-radius: 5px;
  padding: 25px;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: var(--text-primary);
    font-size: 18px;
    margin-bottom: 20px;
  }

  &__switcher {
    margin-right: 20px;

    .ReactSwitch__label {
      font-size: 12px;
      font-weight: 600;
    }

  }
}
