.FilterSets {
  width: 334px;

  &--disabled {
    pointer-events: none;

    .FilterSets__head {
      opacity: .8;
    }
  }

  &--unfolded {
    .FilterSets__head-icon {
      transform: rotate(180deg);
    }
  }

  &--inactive {
    .FilterSets__head-value {
      font-weight: 300;
      color: var(--form-color-default);
    }
  }

  &__label {
    font-weight: 600;
  }

  &__head {
    display: flex;
    align-items: center;
    height: 39px;
    padding: .375rem .75rem;
    padding-right: 25px;
    background-color: var(--form-background-default);
    border: 1px solid  var(--form-border-default);
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;

    &-value {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &-icon {
      position: absolute;
      top: 11px;
      right: 10px;
      font-size: 16px;
      color: var(--form-icon-button-default);
      transition: .2s;
    }
  }

  &__dropdown {
    width: 100%;
    padding: 0;
    border-top: none;
    border-radius: 0 0 3px 3px;
    border-color: var(--form-border-default);
    z-index: 5;
  }
}
