.PartnerAdditionalInfo {
  width: calc(33.3% - 10px);

  &__title,
  &__content-title {
    color: var(--text-secondary);
    font-size: 11px;
    text-transform: uppercase;
  }

  &__content {
    background-color: var(--surface-frame-background);
    border: 1px solid var(--surface-frame-border);
    border-radius: 5px;
    font-size: 13px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    height: 200px;

    &-title {
      margin-bottom: 5px;
    }
  }

  &__authority {
    background-color: var(--hint-background);
    border-radius: 5px;
    margin-bottom: 7px;
    padding: 5px 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &-department,
    &-role {
      font-weight: 700;
      line-height: 1.5em;
      text-align: left;
    }

    &-department {
      color: var(--state-colors-content);
      font-size: 14px;
    }

    &-role {
      color: var(--navigation-secondary-color);
      font-size: 12px;
      padding-top: 3px;
    }
  }
}