.Hierarchy {
  border: 1px solid var(--surface-page-border);

  &__header {
    position: sticky;
    top: 47px;
    padding: 25px;
    background-color: var(--surface-page-background);
    border-bottom: 1px solid var(--divider);
    font-size: 20px;
    z-index: var(--z-index-sticky);
  }

  &__content {
    background: var(--surface-page-background);
    padding: 10px 25px 25px 25px;
  }
}
