.Click2Call {
  &__icon {
    margin-left: 5px;
    cursor: pointer;

    path {
      fill: var(--state-colors-success);
    }
  }

  &__submenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
  }

  &__providers {
    width: 100%;

    &--call-started {
      visibility: hidden;
    }
  }

  &__submenu-item {
    padding: 5px;
    text-align: center;

    &:hover {
      cursor: pointer;
      background-color: var(--button-tertiary-background-hover);
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--divider);
    }

    &--no-hover {
      &:hover {
        cursor: initial;
        background-color: initial;
      }
    }
  }

  &__submenu-item-image {
    display: block;
    height: 25px;
    margin: 5px auto;

    path {
      fill: var(--text-primary);
    }
  }

  &__submenu-item-title {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: var(--button-tertiary-color-default);
  }

  &__submenu-item-prefixes {
    display: flex;
    flex-wrap: wrap;
  }

  &__submenu-item-prefix {
    padding: 6px 0;
    margin: 5px 0;
    width: 25%;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    color: var(--button-tertiary-color-default);

    &:not(:nth-child(4n)) {
      border-right: 1px solid var(--divider);
    }

    &:last-child {
      border: none;
    }

    &:hover {
      background-color: var(--button-tertiary-background-hover);
      color: var(--button-tertiary-color-hover);
    }
  }

  &__loader {
    margin: 0 10px;
  }

  &__call-started {
    position: absolute;
    height: 25px;

    path {
      fill: var(--text-primary);
    }
  }
}

.ToolTipPortal {
  position: static;
}
