.campaign__status {
  .fa-angle-down {
    position: absolute;
    top: 20px;
    right: 10px;
    color: #999;
    transition: all .2s;
  }

  .open {
    .fa-angle-down {
      transform: rotate(180deg);
    }
  }
}
