@import "../../../../../../styles/mixins/mixins";

.campaign__status {
  .fa-angle-down {
    position: absolute;
    top: 20px;
    right: 10px;
    color: #999999;
    transition: all .2s;
  }

  .open {
    .fa-angle-down {
      transform: rotate(180deg);
    }
  }
}

.panel-heading-row {
  @include flexbox();
  padding: 25px 25px 0;
  &_campaign-info {
    max-width: 40%;
    .bonus__campaign__name {
      margin-bottom: 0;
      font-size: 20px;
      font-weight: bold;
    }
    .bonus__campaign__uuid {
      color: #827ca1;
    }
  }
  &_actions {
    margin-left: auto;
  }
}
