.CountryLabelWithFlag {
  display: flex;
  align-items: center;
  white-space: nowrap;

  &__flag {
    display: flex;
    align-items: center;
  }

  &__codes {
    margin-left: 5px;
  }

  &__country-code {
    font-size: 14px;
  }

  &__language-code {
    font-size: 12px;
  }
}
