.FormikSwitchField {
  &--reverse &__inner {
    display: inline-flex;
    align-items: center;
    flex-direction: row-reverse;
    line-height: 1;
    vertical-align: middle;
  }

  &--reverse &__trigger {
    margin: 0 0 0 5px;
  }
}
