.PnL {
  font-weight: 700;

  &--positive {
    color: var(--state-colors-success);
  }

  &--negative {
    color: var(--state-colors-danger);
  }

  &__loader {
    display: inline-block;
    margin-top: 2px;
  }
}
