.CallbacksCalendar {
  background-color: var(--surface-page-background);
  border: 1px solid var(--surface-page-border);
  border-radius: 5px;

  &__header {
    background-color: var(--surface-filters-background);
    border-bottom: 1px solid var(--divider);
    font-size: 20px;
    padding: 25px;
    position: sticky;
    top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
  }

  &__list {
    cursor: pointer;
    transition: color 0.1s ease;
    color: var(--button-icon-button-default);

    &:hover {
      color: var(--accent);
    }
  }

  &__calendar {
    height: 1200px;
  }
}