.IpWhitelistGrid {
  &__tabs {
    margin-left: 0;
  }

  &__buttons-container {
    display: flex;
    margin-left: auto;
  }

  &__headline {
    font-size: 20px;
  }

  &__card {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    position: sticky;
    top: 48px;
    z-index: 2;
  }

  &--sticky {
    position: sticky;
  }

  &__cell-primary {
    font-weight: 700;
  }

  &__cell-primary-date {
    font-weight: 700
  }

  &__cell-primary-time {
    font-size: 11px;
  }

  &__header-button {
    padding: 8px 16px;
    margin-left: 15px;
    border: 1px solid #9b9b9b;
    border-radius: 3px;
    color: #9b9b9b;
    background-color: #fff;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
  }

  &__action-icon {
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
  }
}
