.ClientCallbacksGridFilter {
  &__form {
    width: 100%;
    padding: 20px 25px 30px;
    background-color: var(--surface-filters-background);
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(12, calc(8.33% - 15px * 11 / 12));
  }

  &__field {
    margin-bottom: 0;
  }

  &__search {
    grid-column: span 3;
  }

  &__select {
    grid-column: span 2;
  }

  &__date-range {
    grid-column: span 4;
  }

  &__buttons {
    grid-column-start: 10;
    grid-column-end: 13;
    display: flex;
    margin-left: auto;
    align-self: flex-end;
  }

  &__button {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}