.HtmlEditor {
  color: var(--text-primary);
  background-color: var(--form-background-default);
  border-radius: 3px;

  &__label {
    font-size: 15px;
    font-weight: 500;
    color: var(--text-primary);
  }

  &__wrapper {
    border: solid 1px var(--form-border-default);
    border-radius: 4px;
    padding: 10px;

    textarea, input {
      appearance: auto;
    }

    .rdw-link-modal-btn,
    .rdw-embedded-modal-btn,
    .rdw-image-modal-btn {
      text-align: center;
    }

    .rdw-embedded-modal-header-option,
    .rdw-image-modal-header-option {
      width: 100%;
    }

    .rdw-embedded-modal-size-input,
    .rdw-image-modal-size-input {
      padding: 2px;
    }

    .rdw-image-modal-header {
      margin: 0;
    }

    .rdw-colorpicker-modal {
      width: 230px;
    }

    .rdw-colorpicker-modal-style-label {
      padding: 0 10px 10px;
    }
  }

  .rdw-editor-toolbar {
    background: var(--form-background-default);
    border-color: var(--form-border-default);
    border-radius: 3px;
  }

  .rdw-editor-main pre {
    background-color: var(--surface-note);
  }

  .rdw-editor-main blockquote {
    border-color: var(--form-border-default);
  }

  .rdw-option-wrapper {
    box-shadow: none;
    border-color: transparent;
    background-color: transparent;

    svg, path {
      fill: var(--text-primary);
    }

    img{
      display: none;
    }

    &:hover {
      svg, path {
        fill: var(--accent);
      }
    }

    &:focus {
      svg, path {
        fill: var(--accent);
      }
    }

    &.rdw-option-active {
      svg, path {
        fill: var(--accent);
      }
    }

    &.rdw-option-disabled {
      svg, path {
        fill: var(--text-primary);
      }
    }

    &[title="Monospace"]{
      display: none;
    }
  }

  .rdw-dropdown-wrapper {
    background-color: transparent;
    box-shadow: none;
    border-color: transparent;
  }

  .rdw-dropdown-carettoopen {
    border-top-color: var(--text-primary);
  }

  .rdw-dropdown-carettoclose {
    border-bottom-color: var(--text-primary);
  }

  .rdw-dropdown-optionwrapper {
    border: 1px solid var(--form-border-default);
    background-color: var(--form-background-default);
    box-shadow: 0 5px 15px 0 var(--form-border-default);
    overflow: auto;
    width: 100%;
    top: 1px;
  }

  .rdw-dropdownoption-default {
    &:hover {
      border-radius: 5px;
      background-color: var(--dropdown-options-background-hover);
      color: var(--dropdown-options-color-hover);
    }

    &.rdw-dropdownoption-active {
      color: var(--dropdown-options-color-focus);
      border: none;
      border-radius: 3px;
      background: var(--dropdown-options-background-focus);
    }
  }

  .rdw-dropdown-selectedtext {
    border: 1px solid var(--form-border-default);
    border-radius: 3px;

    &:hover {
      color: var(--accent);
      border-color: var(--form-border-hover);

      .rdw-dropdown-carettoopen {
        border-top-color: var(--form-border-hover);
      }

      .rdw-dropdown-carettoclose {
        border-bottom-color: var(--form-border-hover);
      }
    }
  }

  .rdw-colorpicker-modal {
    border: 1px solid var(--form-border-default);
    background-color: var(--form-background-default);
    box-shadow: 0 5px 15px 0 var(--form-border-default);

    .rdw-colorpicker-modal-options {
      overflow: auto;
    }

    .rdw-colorpicker-modal-style-label-active {
      border-color: var(--tab-color-focus);
      color: var(--tab-color-focus);
    }
  }

  .rdw-link-modal {
    border: 1px solid var(--form-border-default);
    background-color: var(--form-background-default);
    box-shadow: 0 5px 15px 0 var(--form-border-default);
    height: auto;
    max-height: 250px;

    .rdw-link-modal-input {
      background-color: var(--form-background-default);
      border: solid 1px var(--form-border-default);
      border-radius: 3px;
      box-sizing: border-box;
      color: var(--form-color-default);

      &::placeholder {
        color: var(--form-color-placeholder);
      }
    }

    .rdw-link-modal-btn {
      border-radius: 3px;
      background: var(--button-secondary-background-default);
      border: solid 1px var(--button-secondary-border-default);
      color: var(--button-secondary-color-default);
      box-shadow: none;

      &:hover {
        background: var(--button-secondary-background-hover);
        border: solid 1px var(--button-secondary-border-hover);
        color: var(--button-secondary-color-hover);
      }

      &:disabled {
        background: var(--button-secondary-background-disabled);
        border: solid 1px var(--button-secondary-border-disabled);
        color: var(--button-secondary-color-disabled);
      }
    }
  }

  .rdw-emoji-modal {
    border: 1px solid var(--form-border-default);
    background-color: var(--form-background-default);
    box-shadow: 0 5px 15px 0 var(--form-border-default);
  }
  .rdw-embedded-modal {
    border: 1px solid var(--form-border-default);
    background-color: var(--form-background-default);
    box-shadow: 0 5px 15px 0 var(--form-border-default);

    .rdw-embedded-modal-link-input {
      background-color: var(--form-background-default);
      border: solid 1px var(--form-border-default);
      border-radius: 3px;
      box-sizing: border-box;
      color: var(--form-color-default);

      &::placeholder {
        color: var(--form-color-placeholder);
      }
    }
    .rdw-embedded-modal-size-input {
      background-color: var(--form-background-default);
      border: solid 1px var(--form-border-default);
      border-radius: 3px;
      box-sizing: border-box;
      color: var(--form-color-default);

      &::placeholder {
        color: var(--form-color-placeholder);
      }
    }

    .rdw-embedded-modal-btn {
      border-radius: 3px;
      background: var(--button-secondary-background-default);
      border: solid 1px var(--button-secondary-border-default);
      color: var(--button-secondary-color-default);
      box-shadow: none;

      &:hover {
        background: var(--button-secondary-background-hover);
        border: solid 1px var(--button-secondary-border-hover);
        color: var(--button-secondary-color-hover);
      }

      &:disabled {
        background: var(--button-secondary-background-disabled);
        border: solid 1px var(--button-secondary-border-disabled);
        color: var(--button-secondary-color-disabled);
      }
    }

    .rdw-image-mandatory-sign {
      color: var(--state-colors-danger);
    }

    .rdw-embedded-modal-header-label {
      background-color: var(--active);
      border-color: var(--active);
    }
  }

  .rdw-image-modal {
    border: 1px solid var(--form-border-default);
    background-color: var(--form-background-default);
    box-shadow: 0 5px 15px 0 var(--form-border-default);

    .rdw-image-modal-url-input {
      background-color: var(--form-background-default);
      border: solid 1px var(--form-border-default);
      border-radius: 3px;
      box-sizing: border-box;
      color: var(--form-color-default);

      &::placeholder {
        color: var(--form-color-placeholder);
      }
    }

    .rdw-image-modal-size-input {
      background-color: var(--form-background-default);
      border: solid 1px var(--form-border-default);
      border-radius: 3px;
      box-sizing: border-box;
      color: var(--form-color-default);

      &::placeholder {
        color: var(--form-color-placeholder);
      }
    }

    .rdw-image-mandatory-sign {
      color: var(--state-colors-danger);
    }

    .rdw-image-modal-btn{
      border-radius: 3px;
      background: var(--button-secondary-background-default);
      border: solid 1px var(--button-secondary-border-default);
      color: var(--button-secondary-color-default);
      box-shadow: none;

      &:hover {
        background: var(--button-secondary-background-hover);
        border: solid 1px var(--button-secondary-border-hover);
        color: var(--button-secondary-color-hover);
      }

      &:disabled {
        background: var(--button-secondary-background-disabled);
        border: solid 1px var(--button-secondary-border-disabled);
        color: var(--button-secondary-color-disabled);
      }
    }

    .rdw-image-modal-header-label-highlighted {
      background-color: var(--active);
      border-color: var(--active);
    }
  }

  .rdw-image-alignment-options-popup {
    border: 1px solid var(--form-border-default);
    background-color: var(--form-background-default);

    .rdw-image-alignment-option:hover {
      color: var(--accent);
    }
  }

  .public-DraftStyleDefault-block.public-DraftStyleDefault-ltr > span > span{
    font-style: inherit;
  }

  .rdw-option-wrapper.rdw-colorpicker-option.rdw-option-active.rdw-colorpicker-option-active .rdw-colorpicker-cube::after {
    content: '✓';
    display: block;
    text-align: center;
  }

  &__error {
    position: relative;
    color: var(--state-colors-danger);
    font-size: 12px;
    margin-top: 4px;
  }

  &__error-icon {
    font-size: 14px;
    margin-right: 5px;
    top: -3px;
    display: inline-block;
    vertical-align: bottom;
  }
}
