.DistributionRulesList {
  border: 1px solid var(--surface-page-border);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 47px;
    padding: 25px;
    background-color: var(--surface-page-background);
    border-bottom: 1px solid var(--divider);
    font-size: 20px;
    z-index: 7;
  }

  &__general {
    font-weight: 700;
  }

  &__additional {
    font-size: 11px;
  }

  &__status {
    text-transform: uppercase;

    &--active {
      color: var(--state-colors-success);
    }

    &--inactive {
      color: var(--state-colors-none);
    }
  }

  &__action {
    background: transparent;
    border: none;
    padding: 0;
  }

  &__actions-icon {
    fill: var(--state-colors-none);
    &:hover {
      fill: var(--state-colors-info);
    }
  }

  &__rule-name {
    cursor: pointer;
  }
}
