.DistributionRulesList {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 47px;
    padding: 25px;
    background-color: #fff;
    border-bottom: 1px solid #dfe4ed;
    font-size: 20px;
    z-index: 4;
  }

  &__primary {
    font-weight: 700;
  }

  &__secondary {
    font-size: 11px;
  }

  &__action {
    background: transparent;
    border: none;
    padding: 0;
  }

  &__actions-icon {
    &:hover {
      fill: #4990e2;
    }
  }

  &__rule-name {
    cursor: pointer;
  }
}
