.custom-tooltip {
  margin: 0px;
  padding: 10px;
  background-color: var(--surface-filters-background);
  border-width: 1px;
  border-style: solid;
  border-color: var(--divider);
  border-image: initial;
  white-space: nowrap;
}