.TradingEngineSecuritiesGrid {
  &__card {
    background-clip: border-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    word-wrap: break-word;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #dfe4ed;
    padding: 25px;
    align-items: center;
    position: sticky;
    top: 48px;
    z-index: 5;
  }

  &__cell-primary {
    font-weight: 700;
  }

  &__title {
    font-size: 20px;
  }

  &__action {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}
