.TradingEngineSecuritiesGrid {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__cell-primary {
    font-weight: 700;
  }

  &__title {
    font-size: 20px;
  }

  &__action {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}
