.PaymentList {
  background-color: var(--surface-page-background);
  border: 1px solid var(--surface-page-border);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  position: relative;
  word-wrap: break-word;

  &__header {
    background-color: var(--surface-page-background);
    border-bottom: 1px solid var(--divider);
    padding: 25px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 48px;
    z-index: var(--z-index-sticky);
  }

  &__title {
    font-size: 20px;
  }
}
