.PaymentList {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  position: relative;
  word-wrap: break-word;

  &__header {
    background-color: #fff;
    border-bottom: 1px solid #dfe4ed;
    padding: 25px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 48px;
    z-index: 5;
  }

  &__title {
    font-size: 20px;
  }
}
