.PaymentList {
  background-color: var(--surface-page-background);
  border: 1px solid var(--surface-page-border);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  position: relative;
  word-wrap: break-word;
}
