.RemoveBranchManagerModal {
  &__header {
    background-color: #ff8041;
  }

  &__description {
    margin-bottom: 15px;
    text-align: center;
  }

  &__warning {
    font-weight: 700;
    text-align: center;
  }

  &__select {
    margin-top: 15px;
  }
}