.ClientCallbacksGridFilter {
  &__form {
    background-color: #f2f4f8;
    padding: 20px 25px 35px;
    display: flex;
    align-items: flex-end;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__fields {
    display: flex;
    flex-grow: 1;
  }

  &__field {
    margin-bottom: 0;
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;

    &:last-child {
      margin-right: 0;
    }
  }

  &__search {
    flex-grow: 0.6;
    flex-basis: 350px;
    min-width: 350px;
    max-width: 450px;
  }

  &__status {
    flex-basis: 250px;
    min-width: 250px;
  }

  &__dates {
    flex-basis: 300px;
    min-width: 300px;
  }

  &__button {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}