.UpdateAcquisitionStatusModal {
  &__selected-clients {
    color: var(--state-colors-content);
    font-size: 11px;
  }

  &__error {
    color: var(--state-colors-danger);
    margin-bottom: 2px;
    text-align: center;
  }
}