.card {
  border-radius: 5px;
  &:not(:last-child) {
    margin-bottom: 25px;
  }
  &.no-borders {
    border: 0;
    border-radius: 0;
  }
  &-heading {
    background-color: #fff;
    border-bottom: 1px solid #dfe4ed;
    padding: 25px;
    display: flex;
    align-items: center;

    &--is-sticky {
      position: sticky;
      top: 48px;
      z-index: 5;
    }
  }
  &-body {
    padding: 25px;
  }
}
