.ClientKycForm {
  background-color: var(--surface-frame-background);
  border: 1px solid var(--surface-frame-border);
  border-radius: 5px;
  padding: 25px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__title {
    color: var(--text-primary);
    font-size: 18px;
    margin-bottom: 20px;
  }
}