.NotificationsGrid {
  &__text {
    &-primary {
      font-weight: 700;
    }

    &-secondary {
      color: var(--text-primary);
      font-size: 11px;
    }

    &-subtype {
      color: var(--text-primary);
      font-size: 12px;
      margin-top: 1px;
    }
  }

  &__row {
    &--high {
      background-color: var(--table-background-danger);
    }

    &--medium {
      background-color: var(--table-background-warning);
    }

    &--low {
      background-color: var(--table-background-success);
    }
  }

  &-priority-text {
    &--high {
      color: var(--state-colors-danger);
    }

    &--medium {
      color: var(--state-colors-warning);
    }

    &--low {
      color: var(--state-colors-success);
    }
  }
}
