.RuleScheduleTimeRange {
  position: relative;

  &__counts {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
  }

  &__separator {
    display: block;
    margin: 0 8px;
    width: 4px;
    height:  2px;
    background-color: var(--divider);
  }
  
  &__field {
    width: 148px;
  }

  &__unit {
    margin-left: 15px;
    font-weight: 600;
    font-size: 15px;
    color: var(--text-tertiary);
    display: flex;
    flex-direction: column;
  }

  &__full-day {
    margin: 5px 0 10px;
    line-height: 20px;
    color: var(--accent);
    border-bottom: 1px dashed var(--accent);

    &:hover {
      cursor: pointer;
      border-bottom-color: transparent;
    }
  }

  &__error {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 12px;
    color: var(--state-colors-danger);
  }

  &__error-icon {
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
    vertical-align: middle;
  }
}
