.DebugMode {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  z-index: 1;
  width: auto;
  padding: 0 10px;
  height: 30px;
  background-color: var(--accent);
  color: var(--state-colors-content);
  font-weight: 600;
  box-shadow: 0px 5px 25px var(--box-shadow-color);
  opacity: 0.9;

  &--right {
    right: 0;
  }

  &--left {
    left: 60px;
  }
}
