.fadeIn {
  visibility: visible;
  transition: all .4s ease-in-out;
  opacity: 1;
}

.fadeInUp {
  animation: fadeInUp .75s;
  display: block;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
