.EmailPreviewModal {
  &__label {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
  }

  &__pseudo-input {
    margin-bottom: 25px;
    padding-top: 7px;
    height: 39px;
    border-color: var(--divider);
    border-radius: 3px;
    color: var(--text-primary);
    font-size: 15px;
    font-weight: 600;
  }
}
