// ================ MIXINS ================ //

// Mixin for primary button
@mixin btn-primary {
  border: solid 1px #154b98;
  background: #154b98 none;

  &:hover {
    background: #1d6fdf;
  }

  &:not(:disabled):not(.disabled):active {
    background: #ffffff;
    color: #154b98;
  }
}

// Mixin for choice brand item
@mixin brand-choice-item {
  background-color: rgba(21, 75, 152, 0.9);
  border: solid 1px #ffffff;
  box-shadow: 0 2px 12px 0 rgba(0, 140, 254, 0.5);

  &:hover {
    box-shadow: 0 2px 12px 0 rgb(0, 101, 202);
  }
}

// ================ Redefine AuthLayout (BlackLayout) styles ================ //
.crm-background {
  background-color: #ffffff;

  .form-page {
    &__form {
      background-color: rgba(255, 255, 255, 0.77);
      border: solid 1px #154b98;
      box-shadow: none;

      &_btn {
        @include btn-primary;
      }
    }

    &__multibrand {
      &_heading {
        color: #154b98;
        text-shadow: none;
      }

      &_call-to-action {
        color: #177212;
        text-shadow: none;
      }

      .choice-item {
        @include brand-choice-item;

        &__label {
          color: #ffffff;
          text-shadow: none;
        }
      }
    }

    &__department {
      &_return {
        color: #154b98;
        text-shadow: none;

        &:hover {
          color: #1d6fdf;
        }
      }

      .department-item {
        @include brand-choice-item;
      }

      .department-name, .department-role {
        color: #ffffff;
        text-shadow: none;
      }
    }

    &__copyright {
      color: #177212;
    }
  }
}


// ================ Redefine other styles ================ //
.header, .sidebar {
  background-color: #154b98;
}

.sub-nav {
  background-color: #0e2d5a;
}

.preloader {
  background-color: rgba(21, 75, 152, 1);
}

.btn-primary {
  @include btn-primary;
}

.select-block__options-item.is-selected {
  background: #154b98 none;
}

.DayPicker_focusRegion::after,
.rdtDays::after,
.rdtMonths::after,
.rdtYears::after {
  background: #154b98 none;
}

.drop-down .dropdown-item.active, .drop-down .dropdown-item:active {
  background: #154b98 none !important;
}
