.OfficesGrid {
  background-color: #fff;
  padding: 0 25px 25px;

  & .GridHeaderCell {
    position: sticky;
    top: 138px;
  }

  &__cell {
    &-primary {
      font-weight: 700;
    }

    &-secondary {
      font-size: 11px;
    }
  }
}