.button-select {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  .btn-default {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    float: left;
    background: #6a7a84;
    border-color: #6a7a84;
  }

  & > button {
    position: relative;
    z-index: 3;
  }

  & > .auto-complete {
    position: absolute;
    top: 0;
    left: 10px;
    display: none;
    width: 300px;
    z-index: 2;

    &.opened {
      display: block;
    }
  }

  .Select:focus {
    outline: none;
  }

  .Select-control {
    display: inline-block;
    width: 32px;
    height: 21px;
    border-radius: 0;
    background: #6a7a84;
    border: 0;
    color: #fff;
    .Select-input {
      height: 12px;
      font-size: 10px;
      input {
        padding: 0 0 3px 0;
      }
    }
    .Select-arrow-zone {
      display: none;
    }
  }

  .btn-delete {
    display: none;
    left: 32px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .opened + .btn-default {
    display: none;

    &+.btn-delete {
      display: block;
    }
  }
}
