.button-select {
  & > .auto-complete {
    display: none;
    &.opened {
      display: block;
    }
  }
  .btn-delete {
    display: none;
    background-color: #6a7a84;
    color: #fff;
  }

  .opened + .btn-add-tag {
    display: none;

    & + .btn-delete {
      display: block;
    }
  }

  .Select.is-focused >.Select-control {
    background: #6a7a84;
  }
}

.Select {
  height: 23px;
  &:focus {
    outline: none;
  }
  &-placeholder {
    padding: 0;
  }
  &-menu-outer {
    position: absolute;
    min-width: 150px;
  }
  &-control {
    display: inline-block;
    height: 24px;
    min-width: 31px;
    border-radius: 0;
    background: #6a7a84;
    border: 0;
    color: #fff;
  }
  &-input {
    height: 12px;
    font-size: 10px;
    input {
      padding: 0 0 3px 0;
    }
  }
  &-arrow-zone {
    display: none;
  }
}

.is-open > .Select-control {
  background: #6a7a84;
}
