.tab-header-nav {
  font-size: 20px;
  &__item {
    margin-right: 10px;
    margin-left: 5px;
    border-bottom: 2px solid transparent;
    color: #333;
    &:focus {
      color: #069;
      outline: none;
    }
    &:hover {
      color: #069;
    }
    &--active {
      border-bottom-color: #069;
      color: #069;
    }
  }
}
