.FiltersTogglerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;
  background-color: var(--button-tertiary-background-default);
  border: 1px solid var(--button-tertiary-border-default);
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: var(--button-tertiary-background-hover);
    border-color: var(--button-tertiary-border-hover);

    & .FiltersTogglerButton__icon {
      fill: var(--button-tertiary-color-hover);
    }
  }

  &--collapsed {
    & .FiltersTogglerButton__icon {
      transform: rotate(180deg);
    }
  }

  &__icon {
    fill: var(--button-tertiary-color-default);
    transition: color 0.2s ease;
    height: 17px;
    width: 8px;
  }
}
