.GroupsGridFilters {
  &__buttons {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__fields {
    &--search {
      max-width: 415px;
    }
  }

  &__form {
    background-color: var(--surface-filters-background);
    padding: 20px 25px 35px;
  }
}