.RemoveBoardButton {
  padding: 0;
  border: none;

  &:disabled {
    background: transparent;
    cursor: default;
  }

  &:disabled &__icon {
    fill: #DDDDDD;
  }

  &__icon {
    display: block;
    line-height: 1;
  }
}