.GridPaymentInfo {
  &__transaction-id {
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap;
    color: var(--text-primary);
  }

  &__additional {
    font-size: 11px;
    color: var(--text-primary);
  }
}
