.brands {
  padding: 0 20px;
  margin-bottom: 70px;
  transition: opacity 0.6s ease;

  &__title,
  &__subtitle {
    color: #fff;
    text-align: center;
  }

  &__title {
    font-size: 20px;
    font-weight: 300;
  }

  &__subtitle {
    font-size: 25px;
    margin: 30px 0 35px;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  &__item {
    background-color: #000;
    border: solid 1px #4a4a4a;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin: 0 15px 25px;
    padding: 10px;
    transition: border-color 0.2s ease;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: calc(100% / 6 - 30px);

    &:hover {
      border-color: #d4d4d4;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      flex: 0 0 auto;
      color: #cfcfcf;
      font-size: 15px;
      font-weight: 600;
      margin-top: 10px;
      text-align: center;
      text-transform: uppercase;
    }

    &-image {
      margin: 0 auto;
      object-fit: contain;
      height: 110px;
      width: 140px;
    }
  }
}

// # States
.brands {
  &__item {
    &.is-active {
      border-color: #d4d4d4;
      cursor: default;
    }
  }
}

// # CSSTransition
.brands {
  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
  }
}