.Brands {
  padding: 0 20px;
  margin-bottom: 70px;
  transition: opacity 0.6s ease;

  &__title,
  &__subtitle {
    color: #fff;
    text-align: center;
  }

  &__title {
    font-size: 20px;
    font-weight: 300;
  }

  &__subtitle {
    font-size: 25px;
    margin: 30px 0 35px;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

// # CSSTransition
.Brands {
  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
  }
}