.GroupSecurityCustomizationModal {
  &__description {
    padding: 20px 15px 0 15px;
  }

  &__fields {
    display: grid;
    column-gap: 15px;
    grid-template-columns: repeat(12, 1fr);
  }

  &__field {
    grid-column: span 6;

    &--small {
      align-self: end;
      grid-column: span 4;
    }

    &--errorMessage {
      white-space: nowrap;
      position: absolute;
    }
  }

  &__field-hint {
    margin-top: -18px;
    font-size: 12px;
    color: var(--accent);
  }

  &__title {
    margin: 20px 0;
    color: var(--text-secondary);
    font-size: 11px;
    text-transform: uppercase;
  }
}
