.multi-input {
  &__multi-value {
    background-color: #000 !important;
    color: #fff !important;
  }
  &__multi-value__remove {
    min-width: 20px;
  }
  &__multi-value__remove:hover {
    background-color: red !important;
    color: #fff !important;
    cursor: pointer;
  }
  &__multi-value__label {
    font-weight: 600;
    font-size: 13px;
    color: #fff !important;
  }
}
