.multi-input {
  &__multi-value {
    background-color: var(--form-background-selected) !important;
  }

  &__multi-value__remove {
    min-width: 20px;
  }

  &__multi-value__remove:hover {
    background: none !important;
    background-color: none !important;
    color: var(--state-colors-danger) !important;
    cursor: pointer;
  }

  &__multi-value__label {
    font-weight: 600;
    font-size: 13px;
    color: var(--form-color-focus) !important;
  }

  &__control {
    background-color: var(--form-background-default) !important;
    border-color: var(--form-border-default) !important;
    min-height: 40px !important;
    border-radius: 3px;
    font-size: 15px;
    cursor: text !important;

    &:hover {
      border-color: var(--form-border-hover) !important;
    }

    &--is-focused {
      border-color: var(--form-border-hover) !important;
      box-shadow: none!important;
    }
  }

  &__input {
    input {
      color: var(--form-color-default) !important;
      &::placeholder {
        color: var(--form-color-placeholder);
      }
    }
  }
};