.ChangeLeverageModal {
  &__title {
    font-weight: 600;
    padding-bottom: 15px;
  }

  &__message {
    margin: 15px 0;
  }

  &__button {
    margin-right: 5px;
  }

  &__input {
    &:not(:first-child) {
      margin-left: 15px;
    }
  }

  &__select {
    flex-grow: 0.2;
    flex-basis: 150px;
    min-width: 150px;
  }

  &__inputs {
    display: flex;
    flex: 1 0 10px;
  }
}
