/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/
@import './bs3';
@import '~react-dates/css/variables';
@import '~react-dates/css/styles';

.DateInput {
  font-size: 14px;
  line-height: 18px;
  padding: 4px 8px;
}

.CalendarMonth__caption {
  text-align: center;
  caption-side: initial;
}
