/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/
@import './bs3';
@import '~react-dates/css/variables';
@import '~react-dates/css/styles';
@import '~react-datetime/css/react-datetime.css';

.DateInput {
  font-size: 14px;
  line-height: 18px;
  padding: 4px 8px;
}

.CalendarMonth__caption {
  text-align: center;
  caption-side: initial;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: relative;
}

.btn-transparent {
  background: Transparent no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  &:focus {
    outline: none;
  }
}

.highlighted-row {
  background: #d7d7d8;
}

.width-20 {
  position: relative;
  width: 20%;
  float: left;
  padding-left: 2rem;
}

.width-33 {
  position: relative;
  width: 33.3333333%;
  float: left;
  padding-left: 2rem;
}

small {
  font-size: 11px;
  color: #666;
}

.font-size-11 {
  font-size: 11px;
}

.padding-0 {
  padding: 0 !important;
}

//Синяя полоска сверху при клике//
.dropdown-highlight:before {
  content: '';
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background: transparent;
}

.dropdown-highlight.dropdown-open {

  &:before {
    background: #01a8fe;
  }

  .dropdown-menu {
    min-width: 100%;
    border: none;
    margin: 0;
    padding: 10px 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    top: 100%;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .175);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, .175);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .175);
  }

  .dropdown-item:hover {
    color: #827ca1;
  }
}

//Конец синей полоски//

@media only screen and (max-width: 991px) {
  .width-20 {
    padding-left: 1rem;
  }
}

.font-size-13 {
  font-size: 13px;
}

.line-height-1 {
  line-height: 1;
}

//notes
.note-icon {
  height: 25px;
  width: 25px;
  display: inline-block;
}

.note-with-text {
  background: url("../../public/img/notes/note-with-text.png") no-repeat;
  cursor: pointer;
}

.note-add-note {
  background: url("../../public/img/notes/note-add-note.png") no-repeat;
  cursor: pointer;
  opacity: .5;
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  -ms-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  transition: opacity .5s ease;
  &:hover {
    opacity: 1;
  }
}

.note-pinned-note {
  background: url("../../public/img/notes/note-pinned-note.png") no-repeat;
  cursor: pointer;
}

.table-responsive {
  overflow: visible;
}

.form-control-with-button {
  .form-control {
    display: inline-block;
    width: 250px;
    margin-right: 10px;
  }
  .form-control-button {
    display: inline-block;

    .btn {
      margin-top: -3px;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

