.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571429em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}

.fa-li.fa-lg {
  left: -1.85714286em;
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  -webkit-border-radius: .1em;
  border-radius: .1em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left {
  margin-right: .3em;
}

.fa.fa-pull-right {
  margin-left: .3em;
}

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}

.fa.pull-right {
  margin-left: .3em;
}

.fa-spin {
  -webkit-animation: fa-spin 1s infinite linear;
  -o-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  -o-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-o-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
  filter: none;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #ffffff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}




// Black layout file
.wrapper {
  height: 95%;
  min-height: 475px;
}

@keyframes fadeInn{
  0% { opacity:0; }
  100% { opacity:1; }
}

.form-page {
  &__department {
    .department-item {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width: 254px;
      height: 171px;
      margin: 0 15px 30px;
      opacity: 0.9;
      border-radius: 3px;
      background-color: #000;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
      border: solid 1px #4a4a4a;
      cursor: pointer;
      &:hover {
        border-color: #fff;
      }
      &_details {
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
        text-align: center;
      }
    }
    .department-name {
      font-size: 20px;
      font-weight: 600;
      line-height: 20px;
      color: #cfcfcf;
      text-shadow: 0 2px 4px #000;
    }
    .department-role {
      font-size: 15px;
      color: #9b9b9b;
      text-shadow: 0 2px 4px #000;
    }
  }
  &__success {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
  }
  &__success-title {
    margin-bottom: 20px;
    font-size: 23px;
    color: #f2f2f2;
  }
}

.chosen {
  .chosen-brand {
    display: flex;
    transform: translateY(-110px);
    transition: transform .3s ease-in-out;
    border: 1px solid #fff;
    opacity: 1;
  }
}

.fadeIn {
  visibility: visible;
  transition: all .4s ease-in-out;
  opacity: 1;
}

.fadeOut {
  visibility: hidden;
  transition: all .4s ease-in-out;
  opacity: 0;
}

.fadeOut-text {
  visibility: hidden;
  transition: all .2s ease-in-out;
  opacity: 0;
}

.fadeInUp {
  animation: fadeInUp .75s;
  display: block;
}

.fadeOutDown {
  visibility: hidden;
  animation: fadeOutDown .3s;
  display: block;
}

.fadeOutLeft {
  visibility: hidden;
  animation: fadeOutLeft .5s;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
  }
}

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
  }
}

.position-absolute {
  position: absolute;
}

.sales-rules-modal-error {
  & > div {
    text-align: center;
  }
}
