.u-center {
  text-align: center;
}

.u-bg-gray {
  background-color: #e6e6e9;
}

.u-bg-white {
  background-color: #ffffff;
}

.u-full-size {
  @include full-size;
}

.u-bg-black {
  background-color: #1b1919;
}