.campaign-create {
  padding: 20px 25px 15px;
  &__title {
    font-size: 20px;
  }
}

.campaigns-template {
  font-size: 14px;
  word-break: break-all;
  &__bordered-block {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }
  &__bordered-bottom-block {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 10px;
  }
  &__value {
    font-weight: 700;
  }
}

.campaign-node {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f9f9f9;
  &-label {
    font-size: 16px;
    font-weight: 700;
  }
  &-remove {
    padding: 0;
    font-size: 24px;
    font-weight: 300;
  }
}

.free-spin-card {
  display: flex;
  flex-direction: column;
  min-height: 104px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: #f3f9fe;
  text-align: center;
  height: 100%;
  justify-content: center;
  &-values {
    font-family: ArialMT, Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
    color: #1E1E1E;
  }
  &-label {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 11px;
    color: #666;
  }
}

.linked-campaign {
  &-label {
    font-size: 16px;
    font-weight: 700;
    color: #333;
  }
  &-remove {
    position: absolute;
    top: 3px;
    right: 5px;
    font-size: 24px;
    font-weight: 300;
  }
  &-container {
    min-height: 110px;
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
  }
  &-empty {
    color: #fb434a;
  }
}

.select-disabled-container {
  background-color: #f6f6f6;
  padding: 7px;
  border-radius: 3px;
  min-height: 38px;
  border: 1px solid #cfcfcf;
  font-size: 15px;
}
