:global {
  @import 'base';
  @import '~normalize.css/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .data-grid-layout {
    thead th {
      font-size: 12px;
      color: #666;
      font-weight: 400;
    }

    tr, th {
      border: none;
    }
  }

  .dash-after-input {
    width: 0;
    top: 5px;
    padding: 0;
  }

  .dash-after-input:after {
    content: "\2013";
    margin-left: -5px;
  }

  .label-black {
    text-align: left;
    background-color: rgba(51, 51, 51, 1);
    color:#FFFFFF;
    font-size: 12px;
    white-space: normal;
    word-break: break-word;
  }
}
