// Temporary solution for system-wide styles

@import "header";

.filter-row {
  @include flexbox();
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  &_big {
    @include flex(0.1 0 350px);
    padding: 0 .5rem;
  }
  &_middle {
    @include flex(0.1 0 250px);
    padding: 0 .5rem;
  }
  &_small {
    @include flex(0.1 0 150px);
    padding: 0 .5rem;
  }
  .form-group {
    position: relative;
  }
  label {
    margin-bottom: 0;
    font-weight: 600;
    color: #4a4a4a;
  }
  .input-group-addon {
    padding-right: 0;
    background-color: #fff;
  }
  .form-control {
    height: 39px;
    padding: 3px 10px 5px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #cfcfcf;
    font-size: 15px;
  }
  .form-control:focus {
    font-weight: 600;
  }
  .input-group > .input-group-addon + .form-control {
    border-left: 0;
  }


  .form-group__with-select {
    @include flexbox();
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    label,
    select {
      @include flex(0 0 100%);
    }
  }
  .two-inputs {
    @include flexbox();
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;
    .form-label {
      @include flex(0 0 100%);
    }
    .form-control {
      @include flex(0 0 44%);
    }
  }
  .two-inputs__with-date {
    .input-group {
      display: table;
    }
    .form-group {
      @include flex(0 0 48%);
      margin-bottom: 0;
    }
  }
  .dash {
    align-self: center;
  }
  .dash:after {
    content: '\2013';
    position: relative;
    bottom: 2px;
  }
  .button-block {
    margin-left: auto;
    margin-top: 4px;
    align-self: center;
    .form-group {
      @include flexbox();
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      justify-content: flex-end;
      margin-bottom: 0;
    }
    .btn {
      font-weight: 700;
      padding: 6px 16px;
    }
    .btn-primary {
      margin-left: 15px;
    }
  }
}
