@import "variables";
@import "mixins/mixins";

@for $i from 1 through 10 {
  .header-blocks-#{$i} {
    @media (min-width: 768px) {
      .header-block {
        @include rel-width($i);
      }
    }
  }
}

.header-blocks {
  font-size: 1em;

  .header-block {
    border-right: 1px solid $header-border-color;
    position: relative;
    float: left;
    padding-left: 1.2em;
    min-height: 70px;

    &_account {
      padding-left: 0;
    }

    &_balance {
      padding-left: 0;
    }

    &_wallet-limits {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
    }

    &-title {
      text-transform: uppercase;
      margin-bottom: 5px;
      font-size: $font-size-small;
    }

    &-text {
      font-weight: 700;
      font-size: 14px;
    }

    &-secondary-text {
      font-size: $font-size-small;
    }
  }
}

@media only screen and (max-width: 768px) {

  // Temporary ? breaking for header-blocks-5

  .header-blocks-5 {
    .header-block:nth-child(1),
    .header-block:nth-child(2) {
      width: 50%;
      margin-bottom: 25px;
    }

    .header-block:nth-child(2) {
      border-right: none;
    }

    .header-block:nth-child(3) {
      clear: left;
    }

    .header-block:nth-child(3),
    .header-block:nth-child(4),
    .header-block:nth-child(5) {
      width: 33.3333333%;
    }
  }
}
