.AddSourceBrandModal {
  &__message {
    margin: -20px 0 20px;
    font-size: 14px;
    color: #2196f3;
  }

  &__row {
    display: flex;
    align-items: flex-start;

    .select-block__label {
      display: flex;
      align-items: center;
      height: 40px;
    }
  }

  &__field {
    &--quantity {
      flex: 1;
      margin-right: 15px;
    }

    &--unit {
      flex: 0 90px;
    }
  }
}
