.TeamProfile {
  width: 94%;
  min-width: 960px;
  margin: auto;
  background-color: var(--surface-page-background);
  border: 1px solid var(--surface-page-border);

  &__header {
    padding-bottom: 50px;
    background: var(--surface-gradient-background);
  }

  &__body {
    background-color: var(--surface-page-background);
  }
}
