$grey-small-color: #666;

.create-bonus-modal {
  &.modal-dialog {
    width: 605px;
  }

  & .modal-footer {
    text-align: left;
  }

  .modal-title {
    font-weight: 300;
  }

  .modal-header {
    background-color: rgb(223, 242, 255);
    border: none;
  }

  .well {
    border: none;
    margin: 0 -1.1rem;
  }

  .grey-back-tab {
    padding: 0 2rem;
    min-height: inherit;
  }

  .close {
    font-size: 4rem;
    background: transparent;
  }

  .close:focus {
    outline: none;
  }
}
