.SelectMultipleOptions {
  position: relative;
  cursor: pointer;

  &__header {
    margin-top: 6px;
    margin-bottom: 8px;
    font-size: 11px;
    color: var(--dropdown-multioptions-default);
    text-transform: uppercase;
  }

  &__item {
    display: block;
    margin-bottom: 5px;

    &--unchecked {
      color: var(--dropdown-multioptions-default);

      &:hover {
        color: var(--dropdown-multioptions-hover);
      }
    }

    &--checked {
      color: var(--dropdown-multioptions-selected);
    }

    &__icon {
      font-size: 17px;
      margin-right: 5px;
    }

    &__label {
      display: block;
      font-weight: 600;
      font-size: 15px;
      letter-spacing: 0.4px;
      word-break: break-all;
    }
  }
}
