.phone-field {
  .react-tel-input {
    input[type=tel] {
      font-size: 1rem;
      line-height: 1.5;
      height: 39px;
    }

    .flag-dropdown {
      .selected-flag {
        height: 37px;
      }
    }

    .country-list {
      top: 39px;
    }
  }
}
