.HierarchyProfileRules {
  &__header {
    position: sticky;
    top: 48px;
    z-index: 3;
  }

  &__grid {
    padding: 0 25px 25px;

    & .GridHeaderCell {
      position: sticky;
      top: 113px;
    }
  }
}