.HierarchyProfileRules {
  &__header {
    position: sticky;
    top: 48px;
    z-index: 3;
  }

  &__rule {
    &-name {
      font-weight: 700;
    }

    &-uuid {
      font-size: 11px;
    }
  }

  &__info {
    font-weight: 700;
  }

  &__info-text {
    font-size: 12px;
  }

  &__priority {
    font-weight: 700;
  }

  &__partner {
    font-weight: 700;
  }

  &__edit-icon {
    font-size: 16px;
    cursor: pointer;
  }
}
