.filter {
  &-favorites {
    background-color: #f2f4f8;
    margin-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 1px;

    &__dropdown {
      top: 16px;

      &-container {
        margin-right: 15px;
        width: 334px;
      }

      &-label {
        font-weight: 600;
      }

      &-head {
        cursor: pointer;
        transition: border-radius 0.2s ease;
        position: relative;
      }

      &-drop {
        box-sizing: border-box;
        border-color: #9f9f9f;
        border-radius: 0 0 3px 3px;
        border-top: 0;
        padding: 0;
        top: 100% !important;
        width: 100%;
      }

      &-search {
        border: none;
      }

      &-list {
        overflow-y: auto;
        max-height: 200px;

        &-top {
          display: flex;
          justify-content: space-between;
          padding: 0 14px 6px 8px;

          &:first-child {
            padding-top: 11px;
          }
        }

        &-title,
        &-sort {
          color: #9b9b9b;
          font-size: 11px;
          font-weight: 500;
          text-transform: uppercase;
        }

        &-sort {
          cursor: pointer;
          transition: color 0.2s ease;
          position: relative;

          &:hover {
            color: #000;

            & i {
              &:before {
                filter: grayscale(0);
                opacity: 1;
              }
            }
          }

          & i {
            &:before {
              content: '';
              background-image: url("/img/filterSet/favorites-active.svg");
              background-repeat: no-repeat;
              background-size: cover;
              filter: grayscale(100%);
              opacity: 0.6;
              transition: filter 0.2s ease, opacity 0.2s ease;
              position: absolute;
              top: 2px;
              left: -15px;
              height: 10px;
              width: 11px;
            }
          }
        }
      }

      &-item {
        cursor: pointer;
        padding: 0 5px;
        margin-bottom: 5px;
        position: relative;

        &:last-child {
          margin-bottom: 0;
        }

        &:hover &-title {
          color: #000;
        }

        &:hover &-star {
          filter: grayscale(0);
        }

        &-star,
        &-title {
          display: inline-block;
          vertical-align: top;
        }

        &-star {
          cursor: pointer;
          filter: grayscale(100%);
          margin-right: 6px;
          transition: filter 0.2s ease;
          position: relative;
          height: 24px;
          width: 24px;

          &:before {
            background-image: url("/img/filterSet/favorites-inactive.svg");
            content: '';
            position: absolute;
            top: 5px;
            left: 5px;
            height: 13px;
            width: 14px;
          }
        }

        &-title {
          color: #4A4A4A;
          font-size: 15px;
          font-weight: 600;
          overflow: hidden;
          text-overflow: ellipsis;
          transition: color 0.2s ease;
          white-space: nowrap;
          width: calc(100% - 30px);
        }
      }

      &-not-found {
        padding: 5px 8px;
      }
    }
  }

  &-switcher {
    background-color: #fff;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    position: relative;
    top: 16px;
    height: 39px;
    width: 39px;

    &:before {
      content: '';
      background-image: url("/img/filterSet/switcher.svg");
      background-repeat: no-repeat;
      filter: grayscale(100%);
      transform: translate(-50%, -50%);
      transform-origin: 50% 50%;
      transition: filter 0.2s ease;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 17px;
      width: 8px;
    }

    &:hover {
      background-color: #f9fcfe;
      border-color: #d5dce9;
      
      &:before {
        filter: grayscale(0);
      }
    }
  }
}


// # States
.filter {
  &-favorites {
    &.is-filters-visible {
      margin-bottom: 0;
      padding-top: 20px;
      padding-bottom: 10px;
      height: auto;

      & .filter {
        &-favorites__dropdown,
        &-switcher {
          top: 0;
        }
      }
    }

    &__dropdown {
      &.is-disabled {
        pointer-events: none;
        z-index: 4;

        & .filter {
          &-favorites {
            &__dropdown {
              &-head {
                opacity: 0.8;
              }
            }
          }
        }
      }

      &.show {
        & .filter {
          &-favorites {
            &__dropdown {
              &-head {
                border-radius: 3px 3px 0 0;

                &-icon {
                  transform: rotate(180deg);
                }
              }
            }
          }
        }
      }

      &-head {
        &-value {
          &.is-placeholder {
            font-weight: 300;
            color: #798188;
          }
        }
      }

      &-item {
        &-star {
          &.is-active {
            &:before {
              background-image: url("/img/filterSet/favorites-active.svg");
            }
          }
        }
      }
    }
  }

  &-switcher {
    &.is-closed {
      &:before {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }
  }
}
