.ClientsGrid {
  padding: 0;

  &__balance,
  &__affiliate,
  &__referrer {
    color: var(--text-primary);
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
  }

  &__note {
    max-width: 200px;

    &-author {
      font-weight: 700;
      color: var(--text-primary);
    }

    &-content {
      font-size: 11px;
      margin-top: 5px;
      max-height: 35px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: var(--text-primary);
    }
  }

  &__text {
    &-primary {
      font-weight: 700;
      color: var(--text-primary);

      &--uppercase {
        text-transform: uppercase;
      }
    }

    &-secondary {
      color: var(--text-primary);
      font-size: 11px;
    }
  }

  &__status {
    &--verified {
      color: var(--state-colors-success);
    }

    &--not-verified {
      color: var(--state-colors-warning);
    }

    &--blocked {
      color: var(--state-colors-danger);
    }
  }

  &__last-activity {
    &--offline {
      color: var(--state-colors-none);
    }

    &--online {
      color: var(--state-colors-success);
    }
  }

  &__actions {
    display: flex;
  }

  &__note-button {
    display: flex;
    margin-left: 15px;
  }
}

