.ClientsGrid {
  padding: 0;

  &__balance,
  &__affiliate,
  &__referrer {
    color: #333;
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
  }

  &__note {
    max-width: 200px;

    &-author {
      font-weight: 700;
    }

    &-content {
      font-size: 11px;
      margin-top: 5px;
      max-height: 35px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__text {
    &-primary {
      font-weight: 700;
    }

    &-secondary {
      color: #333;
      font-size: 11px;
    }
  }
}

