.CrmBrandProvider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--navigation-primary-background);
  height: 100vh;

  &__text {
    font-size: 50px;
    font-weight: bold;
    color: var(--navigation-primary-color);
  }

  &__subtext {
    font-size: 18px;
    color: var(--navigation-secondary-color);
  }
}
