.EditOrderModal {
  width: 1230px;

  &__inner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__field-container {
    width: 600px;
    display: flex;
    flex: 1 1;
    align-items: flex-end;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &--half {
      width: calc(50% - 7.5px);
    }
  }

  &__field {
    width: 100%;
    margin-right: 15px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }

    &--center {
      margin-bottom: 8px;
    }
  }

  &__button {
    width: 100%;
    height: auto;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &--small {
      width: 33%;
    }
  }

  &__fieldset {
    border: 1px solid #ccc;
    padding: 0 20px 20px 20px;
  }

  &__fieldset-title {
    width: auto;
    font-size: 15px;
  }

  .modal-body {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
