.GridCheckbox {
  position: absolute;
  left: -13px;
  width: 25px;
  height: 25px;
  border: 1px solid currentColor;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.1s ease;
  cursor: pointer;
  color: #ccc;
  
  &:hover {
    color: #9b9b9b;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 5px;
    width: 2px;
    border-radius: 1px;
    background-color: currentColor;
  }

  &:before {
    transform: rotate(35deg);
    height: 15px;
    left: 12px;
  }

  &:after {
    transform: rotate(-35deg);
    height: 7px;
    left: 6px;
  }

  &--is-active {
    color: #5287bd;

    &:hover {
      color: #3f8edd;
    }
  }

  &--without-check {
    &:before {
      transform: rotate(90deg) translateY(2px);
    }

    &:after {
      background-color: transparent;
      transform: rotate(90deg);
    }

    &:hover {
      &:after {
        background-color: transparent;
      }
    }
  }
}
