.MarginCalls {
  border: 1px solid var(--surface-page-border);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 47px;
    padding: 25px;
    background-color: var(--surface-page-background);
    border-bottom: 1px solid var(--divider);
    font-size: 20px;
    z-index: 7;
  }

  &__text-primary {
    font-weight: 700;
  }

  &__text-secondary {
    font-size: 11px;
  }

  &__row {
    &--in-margin-call {
      background: var(--table-header-background-rejected);

      &:hover {
        background: var(--table-background-default-hover);
      }
    }
  }
}
