.TradingEngineOrdersGrid {
  &__cell-value {
    font-weight: 700;

    &:hover {
      .TradingEngineOrdersGrid__edit-button {
        display: inline-block;
      }
    }

    &--pointer {
      cursor: pointer;
    }

    &--upper {
      text-transform: uppercase;
    }
  }

  &__cell-value-add {
    font-size: 11px;
  }
}
