.Operators{
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__header-block-small {
    font-size: 11px;
    color: #333;
  }

  &__header-block-middle {
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
    color: #333;
  }

  &__text-primary {
    font-weight: 700;
  }

  &__text-secondary {
    font-size: 11px;
  }

  &__upper {
    text-transform: uppercase
  }
}
