.campaign-mini-profile {
  &.draft {
    border-color: #bcbcbc;
    background-color: #eee;
    .mini-profile-label {
      background-image: linear-gradient(to left, #bdbdbd, #979797);
    }
  }
  &.pending {
    border-color: #00d0ff;
    background-color: #eff9fb;
    .mini-profile-label {
      background-image: linear-gradient(to right, #007b9e, #00d0ff);
    }
  }
  &.active {
    border-color: #1cbb1c;
    background-color: #e9f7e6;
    .mini-profile-label {
      background-image: linear-gradient(to right, #009a00, #07cd07);
    }
  }
  &.finished {
    border-color: #999;
    background-color: #d7d7d7;
    .mini-profile-label {
      background-image: linear-gradient(to right, #343434, #666666);
    }
  }
  &.canceled {
    border-color: #cc5f32;
    background-color: #f6e2e1;
    .mini-profile-label {
      background-image: linear-gradient(to right, #990101, #d96620);
    }
  }

}
