.OperatorMiniProfile {
  &__loader {
    width: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
  }

  &__departments {
    margin-bottom: 6px;
  }

  &__department {
    width: 100%;
    margin-top: 3px;
    padding: 2px 10px;
    border-radius: 2px;
    background-color: var(--hint-background);
    font-size: 11px;
    color: var(--hint-color);
    font-weight: 600;
  }
}
