i.green {
  color: #46be8a;
}
.float-left {
  float: left;
}
.panel-yellow {
  background-color: rgba(255, 247, 211, 1);
}

/** Account status **/
/** ************** **/

/* Один класс для всех промежуточных дивов  */
.player__account-bold {
  font-size: 14px;
  font-weight: bold;
}



.player__account__name {
  margin-bottom: 5px;
  font-size: 28px;
}
.player__account__ids {
  color: #827ca1;
}
.player__account__labels {
  margin: 10px 35px;
}
.player__account__labels .label {
  margin: 0 0 0 5px;
}

/** Account details **/
/** ************** **/
.player__account__details.panel-body{
  padding: 25px 12px;
}
.player__account__details_personal{}
.player__account__details_personal .panel-body{
  padding: 7px!important;
}
.player__account__details_personal-label{
    text-transform: uppercase !important;
    font-size: 13px;
    font-weight: bold;
}
.player__account__details_additional{}
.player__account__details_additional small.label {
  font-size: 14px;
  margin: 0px 10px 10px 0px;
}
.player__account__details_additional .panel-body{
  padding: 7px!important;
}
.player__account__details_additional-label {
  color: #827ca1;
}
.player__account__details_additional-label {
    text-transform: uppercase !important;
    font-size: 13px;
    font-weight: bold;
}

.player__account__details_networking{}
.player__account__details_networking .panel-body{
  padding: 7px!important;
  overflow-x: hidden;
}
.player__account__details_networking-label{
    text-transform: uppercase !important;
    font-size: 13px;
    font-weight: bold;
}
.player__account__details_notes{}
.player__account__details_notes-label{
    text-transform: uppercase !important;
    font-size: 13px;
    font-weight: bold;
}
.player__account__details_notes .notes{
  padding: 7px!important;
  overflow-x: hidden;
}
.player__account__details_notes .note{
  margin-bottom: 9px;
}
.player__account__details_notes .note-content {
  padding: 7px!important;
}

.player__account__page-list {}
.player__account__page_kyc {}
.player__account__page_kyc-label {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: bold;
}
.player__account__page_kyc-date {}


.player__account__page__kyc-document-label {
  color: #827ca1;
  font-weight: bold;
}
.player__account__page__kyc-document-add {
}
.player__account__page_transactions-label {
  font-weight: bold;
  font-size: 16px;
  float: left;
}

.player__account__page_transactions-input {
  display: inline-block;
  width: auto;
}
.player__account__page_transactions-filter {
  background-color: #f7f8fb;
  border-radius: 0;
}
.player__account__page_transactions-filter .panel-body{
  padding: 7px 0 0px 17px;
}

.player__account__page_transactions-filter .control {
  width: auto;
  float: left;
  padding-left: 10px;
}
.player__account__page_transactions-filter .control input,
.player__account__page_transactions-filter .control select {
  padding: 4px 16px;
}
.player__account__page_transactions-filter .control input.min {
  width: 65px;
}

.player__account__page_feed-item-details {
  padding: 10px !important;
}
.player__account__page_feed-item-details p{
  margin-bottom: 0px;
}

.tag-arrow {
  height: 21px;
  border: 0.77em solid transparent;
  border-right: 10px solid #6a7a84;
  float: left;
}

.tag-arrow-danger {
  border-right-color: #fb434a;
}

.tag-arrow-success {
  border-right-color: #46be8a;
}

.tag-arrow-default {
  border-right-color: #acb7bf;
}

.panel-body-min-height {
  min-height: 150px;
}

.dropdown-caret:after {
  display: inline-block;
  color: green;
  width: 0;
  height: 0;
  margin-right: .25rem;
  margin-left: .25rem;
  vertical-align: middle;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-left: .3em solid transparent;
}

.player-header-blocks > div {
  border-right: 1px solid #dfe4ed;
  min-height: 70px;
}

.player-header-blocks > div:last-child {
  border-right: none;
}

.dropdown-inline.dropdown.open .dropdown-menu {
  display: inline-flex;
}

.dropdown-inline.dropdown.open .dropdown-menu button {
  border-right: 1px solid #dfe4ed;
  padding: 0px 1.2rem;
  height: 50px;
  text-align: center;
}

.dropdown-inline.dropdown.open .dropdown-menu span.amount {
  font-weight: bold;
  color: #514d6a;
}

.dropdown-inline.dropdown.open .dropdown-menu button:last-child {
  border-right: none;
}
