.Departments {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 100vh;

  &__logo {
    padding: 50px 0;
    text-align: center;

    & img {
      display: inline-block;
      height: auto;
      width: auto;
    }
  }

  &__greeting {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 60px;
    text-align: center;
  }

  &__brand {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  &__back {
    margin-bottom: 90px;
    text-align: center;

    & span {
      color: #9b9b9b;
      cursor: pointer;
      font-size: 20px;
      font-weight: 600;
      padding: 0 20px;
      transition: color 0.2s ease;

      &:before,
      &:after {
        content: '';
        background-color: #9b9b9b;
        transition: background-color 0.2s ease, transform 0.2s ease;
        position: absolute;
        left: 2px;
        height: 11px;
        width: 2px;
      }

      &:before {
        transform: rotate(45deg);
        top: 5px;
      }

      &:after {
        transform: rotate(-45deg);
        top: 12px;
      }

      &:hover {
        color: #fff;

        &:before,
        &:after {
          background-color: #fff;
        }

        &:before {
          transform: rotate(45deg) translate(-3px, 3px);
        }

        &:after {
          transform: rotate(-45deg) translate(-3px, -3px);
        }
      }
    }
  }

  &__list {
    margin-bottom: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
