.Button {
  background-color: #fff;
  border: 1px solid #dfe4ed;
  color: #827ca1;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
  transition: all 0.1s ease-in-out;
  white-space: nowrap;

  &:disabled, [disabled], :disabled:hover, [disabled]:hover {
    background: #D3D3D3;
    color: #fff;
  }

  &--common {
    background-image: linear-gradient(to left, #bdbdbd, #979797);
    border: none;
    border-radius: 3px;
    color: #fff;
    padding-bottom: 9px;
    padding-top: 9px;

    &:hover,
    &:not(:disabled):not(.disabled):active {
      background-image: linear-gradient(to left, #B0B0B0, #858585);
    }

    &:disabled, [disabled], &:disabled:hover, [disabled]:hover {
      background: #D3D3D3;
      color: #fff;
    }
  }

  &--common-outline {
    border-radius: 3px;
    border-color: #9b9b9b;
    color: #9b9b9b;

    &:hover,
    &:not(:disabled):not(.disabled):active {
      background-color: #F4F4F4;
      color: #bdbdbd;
    }

    &:disabled, [disabled], :disabled, [disabled] {
      background: #fff;
      border-color: #CDCDCD;
      color: #CDCDCD;
    }
  }

  &--primary {
    background-image: linear-gradient(to left, #24bdee, #4a90e2);
    border: none;
    border-radius: 3px;
    color: #fff;
    padding-bottom: 9px;
    padding-top: 9px;

    &:hover,
    &:not(:disabled):not(.disabled):active {
      background-image: linear-gradient(to left, #1DB8ED, #297BDC);
    }

    &:disabled, [disabled], :disabled:hover, [disabled]:hover {
      background: #D3D3D3;
      color: #fff;
    }
  }

  &--primary-outline {
    border-radius: 3px;
    border-color: #4990e2;
    color: #4990e2;

    &:hover,
    &:not(:disabled):not(.disabled):active {
      border-color: #4990e2;
      background-color: #F4F4F4;
      color: #4990e2;
    }

    &:disabled, [disabled], :disabled:hover, [disabled]:hover {
      background: #D3D3D3;
      border-color: #CDCDCD;
      color: #fff;
    }
  }

  &--danger {
    background-image: linear-gradient(to left, #f99939, #f76b1c);
    border: none;
    border-radius: 3px;
    color: #fff;
    padding-bottom: 9px;
    padding-top: 9px;

    &:hover,
    &:not(:disabled):not(.disabled):active {
      background-image: linear-gradient(to left, #F78717, #F55000);
    }

    &:disabled, [disabled], :disabled:hover, [disabled]:hover {
      background: #D3D3D3;
      color: #fff;
    }
  }

  &--danger-outline {
    border-color: #d0011b;
    color: #d0011b;

    &:hover,
    &:not(:disabled):not(.disabled):active {
      background-color: #F4F4F4;
      border-color: #d0011b;
      color: #d0011b;
    }

    &:disabled, [disabled] {
      background: #fff;
      border-color: #CDCDCD;
      color: #CDCDCD;
    }
  }

  &--verified {
    border-radius: 3px;
    border: solid 1px rgba(37, 154, 53, 0.15);
    color: #259a35;
    width: 100%;
  }

  &--transparent {
    border-color: #fff;
  }

  &--small {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 13px;
  }
}
