@import "../../styles/helpers/variables";

.NotePopover {
  width: 100%;
  max-width: 475px;
  background-color: $color-paper;

  &__header,
  &__title {
    margin-bottom: 10px;
  }

  &__header {
    background-color: transparent;
    border-bottom: 0;
    border-radius: 0;
    padding: 0;
  }

  &__title {
    font-size: 16px;
    line-height: normal;
  }

  &__subtitle {
    font-size: 11px;
  }

  &__author {
    font-size: 13px;
    line-height: normal;
  }

  &__delete-btn {
    padding: 0;
    border: 0;
    background-color: transparent;
    font-size: 14px;
  }

  &__pin-label {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    vertical-align: middle;
    font-size: 12px;
  }

  & label {
    font-size: 13px;
    margin-bottom: 2px;
  }

  input,
  textarea {
    border-color: #ccc;
    border-radius: 0;
    font-size: 14px;
    line-height: 21px;
    padding: 2px;
  }

  input {
    background-color: transparent !important;
    height: 26px;
  }

  textarea {
    margin-bottom: 8px;
    height: 200px;
    background-attachment: local;
    background-image:
      linear-gradient(to right, white 0px, transparent 0px),
      linear-gradient(to left, white 0px, transparent 0px),
      repeating-linear-gradient($color-paper, $color-paper 20px, #dfe4ed 20px, #dfe4ed 21px, #FFFDE6 21px);
  }

  &.bs-popover-top .arrow:after {
    border-top-color: $color-paper;
  }

  &.bs-popover-right .arrow:after {
    border-right-color: $color-paper;
  }

  &.bs-popover-bottom .arrow:after {
    border-bottom-color: $color-paper;
  }

  &.bs-popover-left .arrow:after {
    border-left-color: $color-paper;
  }
}
