@import './button-mixin.scss';

.Button {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 9px 16px;
  position: relative;

  &--primary {
    border-radius: 3px;
    padding-bottom: 9px;
    padding-top: 9px;
    @include button(primary);
  }

  &--secondary {
    border-radius: 3px;
    padding-bottom: 9px;
    padding-top: 9px;
    @include button(secondary);
  }

  &--tertiary {
    border-radius: 3px;
    @include button(tertiary);
  }

  &--danger {
    border-radius: 3px;
    padding-bottom: 9px;
    padding-top: 9px;
    @include button(danger);
  }

  &--success {
    border-radius: 3px;
    padding-bottom: 9px;
    padding-top: 9px;
    @include button(success);
  }

  &--icon {
    border-color: transparent;
    background-color: transparent;
    color: var(--button-icon-button-default);

    &:hover,
    &:not(:disabled):not(.disabled):active:not(.disabled):focus {
      color: var(--button-icon-button-hover);
    }

    &:focus,
    &:active,
    &:not(:disabled):not(.disabled):active:not(.disabled):focus {
      color: var(--button-icon-button-focus);
    }

    &:disabled, [disabled], :disabled:hover, [disabled]:hover {
      color: var(--button-icon-button-disabled);
    }
  }

  &--small {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 13px;
  }

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__content {
    text-align: center;
    white-space: nowrap;

    &--submitting {
      visibility: hidden;
    }
  }
}
