.HeaderCallbacksCalendarDropdown {
  flex: 0 0 auto;
  margin-right: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
  z-index: 5;

  &__toggle {
    border: 0;
    font-size: 18px;
    color: #ccc;
    &:focus,
    &:hover {
      color: #fff;
    }
  }

  &__popover {
    max-width: inherit;
    z-index: 1000;
  }

  &__calendar {
    width: calc(90vh * 1.4);
    height: 90vh;
  }
}
