.AccountProfile {
  margin: 0 auto;
  min-width: 960px;
  background-color: var(--surface-page-background);

  &__content {
    padding-bottom: 50px;
    background: var(--surface-gradient-background);
  }

  &__info {
    display: flex;
    padding: 20px 25px 20px;
    border-bottom: 1px solid var(--divider);

    // # needs to add right border to all imported blocks in info section
    & > *:not(:last-child) {
      border-right: 1px solid var(--divider);
    }
  }
}
