.AccountProfile {
  margin: 0 auto;
  min-width: 960px;

  &__content {
    padding-bottom: 50px;
    background: linear-gradient(180deg,#fff,#fff 0,#f8f8f8 100%,#f8f8f8 0);
  }

  &__tab-content {
    background-color: #fff;
  }

  &__info {
    display: flex;
    padding: 20px 25px 20px;
    border-bottom: 1px solid #eee;
    background-color: #ffffff;
    z-index: 1;

    // # needs to add right border to all imported blocks in info section
    & > *:not(:last-child) {
      border-right: 1px solid #dfe4ed;
    }
  }
}
