.PartnerSchedule {
  margin-top: 25px;

  &--is-disabled {
    td:not(:last-child) {
      opacity: 0.5;
    }
  }

  &__countrySpreads {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    height: 29px;
    font-size: 18px;
    font-weight: normal;
    color: #333;
    margin-bottom: 20px;
  }
}
