.select-search-box {
  background-color: #eee;
  border-left: 1px solid #9b9b9b;
  border-right: 1px solid #9b9b9b;
  padding: 10px 5px;

  position: relative;
  
  input {
    font-size: 13px;
    padding-left: 25px;
    padding-right: 25px;

    height: 29px;
  }

  i {
    color: #cfcfcf;
    font-size: 13px;

    position: absolute;
    top: 19px;
  }

  &__icon-left {
    left: 15px;
  }

  &__icon-right {
    right: 12px;
  }
}
