.SelectTree {
  width: 100%;

  &__label {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__input {
    width: 0;
    min-width: 100%;
    height: auto;
    min-height: 40px;
    line-height: 1.5;
    color: var(--form-color-default);
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    background-clip: padding-box;
    background-color: var(--form-background-default);
    border: solid 1px var(--form-border-default);
    padding: 7px 30px 7px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    cursor: pointer;

    &:focus {
      border-color: var(--form-border-focus);
      box-shadow: 0px 5px 25px var(--box-shadow-color);
    }

    &--disabled {
      pointer-events: none;
      background-color: var(--form-background-disabled);
      border: 1px solid var(--form-border-disabled);
    }
  }

  &__icon {
    position: absolute;
    top: 11px;
    right: 10px;
    cursor: pointer;
    transition: all .2s;
    font-size: 16px;
    color: var(--button-icon-button-default);

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &__dropdown {
    position: absolute;
    top: 65px;
    width: 100%;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid var(--form-border-default);
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: var(--form-background-default);
    box-shadow: 0 5px 15px 0 var(--form-border-default);
    transition: all 0.25s ease;
    z-index: 2;
  }

  &__dropdown-content {
    padding: 0 10px 10px 5px;
    color: var(--dropdown-options-color-default);
  }

  &__search-input {
    position: sticky;
    top: 0;
    padding: 10px 5px;
    margin-bottom: 0;
    background: var(--form-background-default);
    z-index: 2;

    .input__control,
    .input__addition {
      height: 35px;
    }
  }

  &__not-found {
    margin: 0 10px;
    font-size: 12px;
    color: var(--state-colors-none);
  }

  &__favorites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 5px;
  }

  &__favorite-btn {
    max-width: 120px;
    font-size: 12px;
    padding-right: 5px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    border: 0;
    cursor: pointer;

    &--active {
      color: var(--active);
    }

    &:hover,
    &:focus {
      color: var(--active);
      text-shadow: 0 0;
    }
  }
}

.rct-node-icon {
  color: var(--state-colors-info);
}

.rct-node-clickable {
  display: block;
  border-radius: 5px;
  
  &:hover,
  &:focus {
    background: var(--dropdown-options-background-hover);
    color: var(--dropdown-options-color-hover);

    .rct-node-icon {
      color: var(--dropdown-options-color-hover);
    }
  }
}

.rct-title {
  font-size: 15px;
  font-weight: 600;
}

.rct-checkbox {
  display: none;
}
