.CircleLoader {
  border-radius: 50%;
  animation: CircleLoader__animation-spin 2s linear infinite;
}

@keyframes CircleLoader__animation-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
