.HierarchyBranchTree {
  &__userNode {
    background: #f2f4f8;
  }

  &__expandAll {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1px 5px;

    &:hover {
      box-shadow: 1px 1px 1px #bbb;
    }
  }
}
