.TrashButton {
  padding: 0;
  border: none;

  &:disabled {
    background: transparent;

    .TrashButton {
      &__icon {
        opacity: .4;
      }
    }
  }

  &__icon {
    display: block;
    line-height: 1;
    color: #fb434a;
  }
}
