.ClientCallbacksGrid {
  .Table {
    &__cell {
      &:last-child {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
    }
  }

  &__info {
    &-main {
      font-weight: 700;

      &--pointer {
        cursor: pointer;
      }
    }

    &-secondary {
      font-size: 11px;
    }
  }

  &__client {
    max-width: 250px;
    cursor: pointer;
  }

  &__status {
    text-transform: uppercase;

    &--pending {
      color: var(--state-colors-info);
    }

    &--rejected {
      color: var(--state-colors-danger);
    }

    &--success {
      color: var(--state-colors-success);
    }
  }

  &__trash {
    font-size: 22px;
  }
}