.BrandItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  border: solid 1px #4a4a4a;
  border-radius: 3px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin: 0 15px 25px;
  padding: 10px;
  transition: border-color 0.2s ease;
  height: 170px;
  width: calc(100% / 6 - 30px);

  &:hover {
    border-color: #d4d4d4;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__title {
    flex: 0 0 auto;
    color: #cfcfcf;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
  }

  &__image {
    margin: 0 auto;
    object-fit: contain;
    max-width: 150px;
    height: 100px;
  }
}

// # Modifiers
.BrandItem {
  &--active {
    border-color: #d4d4d4;
    cursor: default;
  }
}
