.currency-calc-modal {
  .modal-header {
    background-color: transparent;
  }
  &-header {
    margin-left: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #333;
  }
  .nas-currencies_icon:before {
    color: #000;
  }
  .modal-body {
    padding: 0;
  }
  &__input {
    padding: 15px 30px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    &-label {
      margin-bottom: 5px;
      font-size: 15px;
      font-weight: 700;
      color: #333;
    }
    &-wrapper {
      display: flex;
    }
    &-currency {
      padding-top: 6px;
      font-family: Arial-BoldMT, "Arial Bold", Arial;
      font-size: 18px;
      font-weight: 700;
      color: #333;
    }
    &-input {
      margin-right: 10px;
      margin-left: 10px;
      font-size: 18px;
      color: #0099CC;
    }
    .form-control {
      max-width: 100px;
    }
    &-warning {
      margin-top: 2px;
      font-size: 12px;
      color: #999;
    }
  }
  &__output {
    padding: 5px 21px 15px;
    .table {
      margin-bottom: 0;
    }
    .table th {
      padding-top: 0;
      padding-bottom: 0;
    }
    .table td {
      padding-top: 5px;
      padding-bottom: 5px;
      vertical-align: middle;
    }
    &-header {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 400;
      color: #999;
    }
    &-content {
      font-size: 18px;
      color: #333;
    }
    .form-control {
      font-size: 18px;
      color: #0099CC;
    }
  }
}
