.HeaderCalendar {
  &__button {
    background-color: transparent;
    color: var(--navigation-secondary-color);
    font-size: 18px;
    text-align: center;
    transition: color 0.2s ease;

    &:hover {
      color: var(--navigation-primary-color);
    }
  }

  &__popper {
    max-width: none !important;
    width: calc(130vh) !important;
    margin: 0.175rem auto !important;
  }

  &__view {
    height: 90vh !important;
    width: calc(90vh * 1.4) !important;
  }
}
