.BranchHeaderPlaceholder {
  &__row {
    animation: 1s linear infinite forwards branchHeaderPlaceholderAnimation;
    background: #f6f7f8 linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
  }
}

@keyframes branchHeaderPlaceholderAnimation {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}
