.FormikDateRangePicker {
  &__label {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
  }

  &__presets {
    border-left: 1px solid #eee;
    width: 190px;

    &-title {
      color: #9b9b9b;
      font-size: 14px;
      font-weight: 400;
      padding: 22px 0 0 25px;
      text-transform: uppercase;
      line-height: 0.8em;
      height: 50px;
    }

    &-list {
      margin: 0;
      max-height: 278px;
      overflow-y: auto;
      padding: 0 10px 10px;
    }

    &-item {
      color: #4a4a4a;
      border: 1px solid transparent;
      border-radius: 3px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
      margin-top: 3px;
      margin-bottom: 3px;
      padding: 6px 15px;

      &:hover {
        border-color: #e0e0e0;
        cursor: pointer;
      }
    }
  }

  /*
    DateRange library stylization
  */
  & .DateRangePickerInput {
    height: 40px;
    transition: border-color 0.2s ease;

    &_calendarIcon {
      color: #afafaf;
      top: 1px;
      transition: color 0.15s ease;
    }
  }

  & .DateInput_input {
    border-color: #cfcfcf;
  }
}


// # Modifiers
.FormikDateRangePicker {
  &--focused {
    & .DateRangePickerInput {
      border-color: #4990e2;

      &_calendarIcon {
        color: #999;
      }
    }
  }

  &__presets {
    &-item {
      &--active {
        background-image: linear-gradient(270deg,#25bdee,#4a90e2);
        border: none;
        color: #fff;
        padding-bottom: 7px;
        padding-top: 7px;
        
        &:hover {
          border-color: transparent;
        }
      }
    }
  }
}