.header-nav {
  flex: 0 0 auto;
  margin-right: 20px;
  margin-left: auto;
  padding-top: 9px;
  padding-bottom: 9px;
  &__toggle {
    border: 0;
    background: transparent;
    font-size: 18px;
    color: #ccc;
    &:focus,
    &:hover {
      color: #fff;
    }
  }
}
