.EmailTemplatesCreator {
  border-radius: 5px;
  background-clip: border-box;
  background-color: var(--surface-page-background);
  border: 1px solid var(--surface-page-border);
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;

  &__header {
    display: flex;
    align-items: center;
    padding: 25px;
    border-bottom: 1px solid var(--divider);

    &-title {
      font-size: 20px;
    }

    &-link {
      margin-left: auto;
    }
  }



  &__body {
    flex: 1 1 auto;
    padding: 25px 25px 40px;

    &-form {
      height: calc(100vh - 270px);
      display: flex;
      justify-content: space-between;

      &-editor-container {
        width: 50%;
      }

      &-fields-container {
        width: 45%;
        display: flex;
        flex-direction: column;

        & input {
          width: 70%;
        }

        & button {
          width: fit-content;
        }
      }

      // styles for editor
      & .public-DraftEditor-content {
        min-height: calc(100vh - 400px);
      }
    }
  }
}
