.ClientsGrid {
  & .GridHeaderCell {
    position: sticky;
    top: 154px;
  }

  &__noteAuthor {
    display: block;
    font-weight: bolder;
  }

  &__notes {
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
