.CreatePartnerModal {
  &__field {
    display: inline-block;
    vertical-align: top;

    margin-right: 15px;
    width: calc(50% - 7.5px);

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
