.SubscribersGrid {
  &__grid {
    padding: 25px;

    &-header {
      font-size: 16px;
      margin-bottom: 8px;
    }
  }

  &__subscriber {
    &-id {
      font-weight: 700;
    }

    &-status {
      font-size: 11px;
    }
  }

  &__provider {
    &-name {
      font-weight: 700;
      max-width: 200px;
    }

    &-id {
      font-size: 11px;
    }
  }

  &__archieved,
  &__date {
    font-weight: 700;
  }

  &__time {
    font-size: 11px;
  }
}