.player__account__status {

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #ffffff;
  }
}


.dropdown-open {
  border-right: 0 !important;

  &:before {
    background: #01a8fe;
  }
}

.dropdown-menu {
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  .dropdown-item {
    padding: 10px 15px;
  }

  .dropdown-item:first-child {
    border-bottom: 1px solid #eeeeee;

  }

  .dropdown-item:hover {
    background: rgba(242, 242, 242, 1);
  }
}



