@import "../../../../styles/settings/variables";

.popover-inner.availability-popover {
  max-width: 300px;
  .popover-title {
    background: $yellow-color;
    border: none;
  }

  .tab-pane {
    overflow-x: hidden;
    max-height: 150px;
    overflow-y: auto;
  }

  .nav-item {
    .active {
      color: #0088ff;
      background-color: transparent;
      &:hover {
        color: #0088ff;
        background-color: transparent;
      }
    }
    .nav-link {
      border: none;
      cursor: pointer;
    }
  }

  .nav-tabs {
    margin-top: 0;
    border-bottom: none;
    font-weight: 700;
  }

  .tab-name {
    font-weight: 700;
    color: #08f;
  }

  .icmn-search {
    font-size: 12px;
  }
  .popover-content {
    background: white;
  }
}
