.ChangePasswordModal {
  &__header {
    background-color: #ff8041;
  }

  &__subtitle {
    color: #333;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;

    &-text {
      text-align: center;
    }
  }

  &__uuid {
    font-weight: 300;
  }
}