.Preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 1366px;
  width: 100%;
  background-color: var(--surface-page-background);
  transition: opacity 0.25s linear;
  z-index: var(--z-index-modal);

  &__item {
    background: url("./loader.svg") no-repeat scroll center center transparent;
    height: 124px;
    width: 124px;
  }
}
