.preloader {
  background-color: #000;
  transition: opacity 0.25s linear;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 1366px;
  width: 100%;
  z-index: 9999;

  &__item {
    background: url("./loader.svg") no-repeat scroll center center transparent;
    position: absolute;
    left: calc(50% - 62px);
    top: calc(50% - 62px);
    height: 124px;
    width: 124px;
  }
}

// # States
.preloader {
  &.is-fading {
    opacity: 0;
  }
}