.game-activity__row--jackpot, .game-activity__row--jackpot .game-activity__amount  {
  color: #FF6600!important;
  background-color: #000;
}
.game-activity__jackpot {
  font-weight: 700;
  font-style: normal;
  font-size: 11px;
}
