.DistributionRuleForm {
  &__common {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__brands {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 2fr 1.2fr;
    margin-top: 20px;
  }

  &__fieldset {
    border: 1px solid #ccc;
    padding: 0 20px 20px 20px;
    border-radius: 3px;
  }

  &__not-saved-message {
    color: #ff0000;
    grid-column: 3 / 4;
    font-size: 15px;
    font-weight: 700;
  }

  &__fieldset-title {
    width: auto;
    color: #888;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }

  &__actions-btn {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}