@import "../../styles/old/variables";

.note-preview {
  display: block;
  padding: 3px 10px;
  border: 1px solid #aeaeae;
  border-radius: 5px;
  background-color: $yellow-color;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  &__icon {
    margin-right: 5px;
    vertical-align: middle;
  }
}
