.note-preview {
  display: block;
  padding: 3px 10px;
  border: 1px solid var(--divider); 
  border-radius: 5px;
  background-color: var(--surface-page-background);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  &__icon {
    margin-right: 5px;
    vertical-align: middle;
  }
}
