.balances {
  flex-wrap: nowrap;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
  &__item {
    min-width: 110px;
    max-width: 140px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }
  &__item:not(:first-child) {
    border-left: 1px solid #dfe4ed;
  }
}
