.FilterSetsSearch {
  padding: 10px 5px;
  background-color: var(--surface-filters-background);

  &__field-wrapper {
    position: relative;
  }

  &__field {
    margin-bottom: 0;
  }

  &__reset-icon {
    position: absolute;
    right: 5px;
    top: 0;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--dropdown-options-color-default);
    cursor: pointer;
  }
}
