.cancel-limit-modal {
  width: 655px;

  .modal-header {
    background-color: rgb(223, 242, 255);
    border: none;
  }

  .modal-title {
    font-weight: 300;
  }

  .modal-footer {
    text-align: left;
  }
}
