.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: #000;
  &__brand {
    flex: 0 0 60px;
    display: block;
    max-width: 60px;
    height: 100%;
    padding: 5px;
    text-align: center;
  }

  &__navigation {
    display: flex;
    margin-left: auto;
  }

  .dropdown-menu {
    min-width: 100%;
    position: absolute;
    top: 100% !important;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    border-radius: 0;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.09);
    transition: 200ms ease;
  }
  .dropdown-item {
    padding: 10px 21px;
    border-bottom: 1px solid #e6e6e6;
    line-height: 1.2;
    color: #666;
    &:hover {
      background-color: #f9f9f9;
      color: #000;
    }
  }
}

.search {
  display: inline-flex;
  align-items: center;
  margin-left: 20px;
  color: hsla(0,0%,100%,.5);
  &__input {
    height: 28px;
    border: none;
    background-color: transparent;
    font-size: 13px;
    &:focus {
      border: none;
      background-color: transparent;
    }
  }
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 70px;
  padding-right: 70px;
  padding-left: 100px;
  background-color: rgba(0, 0, 0, .9);
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
  transition: transform .2s, opacity .2s, visibility 0s .2s;
  &.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: transform .4s, opacity .4s;
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__input {
    height: 60px;
    border: none;
    background-color: transparent;
    font-size: 42px;
    &:focus {
      border: none;
      box-shadow: none;
      background-color: transparent;
      color: #fff;
    }
  }
  &__close {
    border: none;
    font-size: 42px;
    background: transparent;
    color: #fff;
  }
}
