.mini-profile {
   border-radius: 3px;
   font-size: 12px;
   
   &-header {
     position: relative;
     padding: 5px 8px;
   }

   &-label {
     position: absolute;
     top: -10px;
     right: -1px;
     padding: 1px 10px;
     border-radius: 5px;
     border-bottom-right-radius: 0;
     color: var(--text-primary);
     text-transform: uppercase;
   }

   &-type {
     color: var(--text-secondary);
   }

   &-title {
     max-width: fit-content;
     word-break: break-word;
     line-height: 16px;
     font-size: 15px;
     color: var(--text-primary);

     &-name {
       font-weight: 700;
     }
   }

   &-ids {
     margin-top: 2px;
     color: var(--text-secondary);
     line-height: 1.17;
   }

   &-username {
     font-weight: 600;
   }

   &-status-reason,
   &-content {
     margin: 8px 0;
     background-color: var(--surface-frame-background);
   }

   &-error {
    padding: 30px;
    min-height: 90px;

    &-message {
      font-size: 14px;
      text-align: center;
    }
   }

   .info-block {
     color: var(--text-secondary);

     & + .info-block {
       margin-top: 6px;
     }

     &-label {
       vertical-align: top;
       text-transform: uppercase;
       font-weight: 600;

       &-footer {
         font-size: 12px;
         font-weight: 400;
       }
     }

     &-content {
       font-size: 13px;
       font-weight: bold;
       line-height: 15px;

       &-footer {
         line-height: 15px;
         font-size: 13px;
         color: var(--accent);
         border-bottom: 1px dashed var(--accent);
       }
     }

     &_status-reason {
       margin-bottom: 3px;
       text-transform: uppercase;
       font-weight: 600;

       &_body {
         flex: 1 0 100%;
         font-size: 13px;
         font-weight: 600;
         color: var(--state-colors-danger);
       }
     }

     &-label {
       padding: 0 40px 5px 8px;
       text-transform: uppercase;
       font-weight: 600;
     }

     &-content {
       padding: 0 40px 5px 8px;
       font-size: 13px;
       font-weight: bold;
       line-height: 15px;
     }
   }

   &-status-reason {
     .info-block {
       flex-wrap: wrap;
     }
   }

   &.not_verified {
     border-color: var(--surface-frame-border);
     background-color: var(--surface-frame-background);

     .mini-profile-label {
       background: var(--state-colors-none);
     }
   }

   &.verified, &.active {
     border-color: var(--state-colors-success);
     background-color: var(--surface-frame-background);

     .mini-profile-label {
      background: var(--state-colors-success);
     }
   }

   &.closed,
   &.blocked,
   &.suspended,
   &.cooloff {
     border-color: var(--state-colors-warning);
     background-color: var(--surface-frame-background);

     .mini-profile-label {
      background: var(--state-colors-warning);
     }
   }

   &.dormant {
     border-color: var(--surface-frame-border);
     background-color: var(--surface-frame-background);

     .mini-profile-label {
       background: var(--text-primary);
     }
   }

   &-footer {
     padding: 8px 9px;
     background-color: var(--surface-frame-background);
   }

   &-departments {
     margin-bottom: 6px;
   }

   &-department {
     width: 100%;
     margin-top: 3px;
     padding: 2px 10px;
     border-radius: 2px;
     background-color: var(--hint-background);
     font-size: 11px;
     color: var(--hint-color);
   }

   &-loader {
     width: 325px;
     display: flex;
     align-items: center;
     justify-content: center;

     &-operator {
       height: 150px;
     }

     &-lead {
       height: 210px;
     }

     &-client {
       height: 180px;
     }
   }

   &-popover.popover {
     min-width: 325px;
     max-width: none;
     z-index: 5;
     inset: unset;
     background-color: var(--surface-frame-background);
     border: 1px solid var(--surface-frame-border);
     box-shadow: 0 5px 25px var(--box-shadow-color);

     .popover-body {
       padding: 0;
     }
   }
 }
