.NotificationCenterTrigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  outline: none;
  width: 40px;
  background-color: transparent;
  box-sizing: border-box;
  font-size: inherit;
  color: var(--navigation-secondary-color);
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    color: var(--navigation-primary-color);
  }

  &:focus {
    border: none;
  }

  &:after {
    display: none;
    content: attr(counter);
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 1;
    padding: 2px 4px;
    min-width: 14px;
    border-radius: 6px;
    background-color: var(--state-colors-danger);
    text-align: center;
    font: bold 10px/1 'Open Sans', Arial, sans-serif;
    color: var(--state-colors-content);
  }

  &--beep:after {
    display: block;
  }

  &__icon {
    font-size: 21px;
    font-weight: bold;
    pointer-events: none;
    stroke: currentColor;
    fill: currentColor;
  }
}
