.BackToTop {
  background-color: var(--button-tertiary-background-default);
  border: 1px solid var(--button-tertiary-border-default);
  color: var(--button-tertiary-color-default);
  border-radius: 50%;
  font-size: 16px;
  padding: 0 0 3px 0;
  text-align: center;
  transition: all 0.2s linear;
  position: fixed;
  bottom: 20px;
  display: inline-block;
  height: 30px;
  width: 30px;
  z-index: var(--z-index-sticky);

  &:hover {
    background-color: var(--button-tertiary-background-hover);
  }

  &--sidebar-position-left {
    right: 5px;
    transform: translateX(200%);
  }

  &--sidebar-position-right {
    left: 5px;
    transform: translateX(-200%);
  }

  &--visible {
    transform: translateX(0);
  }
}
