.ClientCallbacksGrid {
  &__info {
    &-main {
      font-weight: 700;
    }

    &-secondary {
      font-size: 11px;
    }
  }

  &__callback-id {
    cursor: pointer;
  }

  &__client {
    max-width: 250px;
  }

  &__status {
    text-transform: uppercase;

    &--pending {
      color: #0190da;
    }

    &--rejected {
      color: #fb434a;
    }

    &--success {
      color: #46be8a;
    }
  }
}
