.HierarchyUserBranchItem {
  &__branchLink {
    color: #0645ad;
    margin-left: 4px;
    margin-top: 8px;

    &:hover {
      text-decoration: underline;
      text-decoration-style: dashed;
    }
  }
}
