.my-profile-wrapper {
  position: fixed;
  top: 0;
  right: 300px;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

.my-profile {
  position: fixed;
  top: 48px;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: calc(100% - 48px);
  padding: 10px 1px 5px;
  background-color: #666;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
  animation-duration: .5s;
  animation-fill-mode: both;
  transform: translateX(110%);
  z-index: 9999;
  &__header {
    flex: 0 0 auto;
    padding-right: 9px;
    padding-left: 9px;
    font-size: 16px;
    color: #fff;
  }
  &__content {
    flex: 1 0 auto;
    margin-top: 10px;
    padding: 20px 10px;
    border-radius: 3px;
    background-color: #fff;
  }
  &__content-heading {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: normal;
    color: #333;
  }
  &__personal-details {
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
  }
}

.slideInRight {
  animation-name: slideInRight;
}

.slideOutRight {
  animation-name: slideOutRight;
}

@keyframes slideInRight {
  from {
    transform: translateX(110%);
    visibility: visible;
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }

  to {
    visibility: hidden;
    transform: translateX(110%);
  }
}
