.ChangeLeverageModal {
  &__title {
    margin-bottom: 15px;
    font-weight: 600;
  }

  &__account-name {
    font-weight: 600;
  }

  &__account-details {
    font-size: 11px;
  }
  
  &__message {
    margin: 15px 0;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;;
    }
  }
}
