.PinnedNotes {
  &__title {
    color: var(--text-secondary);
    font-size: 11px;
    text-transform: uppercase;
  }

  &__content {
    background-color: var(--surface-frame-background);
    border: 1px solid var(--surface-frame-border);
    border-radius: 5px;
    font-size: 13px;
    padding: 7px;
    overflow-y: auto;
    height: 200px;
    word-break: break-word;
  }

  &__item {
    background-color: var(--surface-note);
    padding: 7px;
    margin-bottom: 4px;
    cursor: pointer;

    &-operator,
    &-author {
      font-size: 13px;
    }

    &-time {
      font-size: 11px;
    }

    &-author, &-time {
      color: var(--text-secondary);
    }

    &-subject {
      font-weight: 700;
      margin: 5px 0 0 0;
    }

    &-content {
      font-style: italic;
    }
  }
}
