.AccountsSelectField {
  &__option {
    padding: 5px 0;
    cursor: pointer;

    &:last-child {
      border: none;
    }

    &-title {
      font-size: 13px;
      font-weight: 700;
      color: var(--text-primary);
    }

    &-content {
      font-size: 11px;
      color: var(--text-primary);
    }
  }

  &__error {
    color: var(--state-colors-danger);
  }
}
