.LeadAccountStatus {
  border-right: 1px solid var(--divider);
  padding: 5px 0;
  flex: 1;
  min-height: 60px;

  &__title {
    color: var(--text-secondary);
    font-size: 11px;
    text-transform: uppercase;
  }

  &__status {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;

    &--new {
      color: var(--state-colors-info);
    }

    &--converted {
      color: var(--state-colors-success);
    }
  }

  &__additional {
    color: var(--text-primary);
    font-size: 11px;
  }
}