.FailureReasonIcon {
  position: absolute;
  top: 12px;
  right: 35px;
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-image: url("./img/failure-reason-icon.png");
  background-repeat: no-repeat;

  &__popover {
    max-width: 310px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 25px var(--box-shadow-color);

    &-header {
      margin-bottom: 5px;
      padding: 0;
      border-bottom: none;
      background-color: transparent;
      line-height: 1.2;
      color: var(--text-secondary);
    }

    &-title {
      font-size: 13px;
    }

    &-primary-text {
      font-weight: 700;
    }

    &-date {
      font-size: 11px;
    }

    &-body {
      padding: 0;
      text-align: justify;
      font-size: 13px;
      line-height: 18px;
      color: var(--text-primary);
    }

    .popover {
      width: max-content;
      padding: 3px;
      inset: 30px auto auto 0px;
      background-color: var(--surface-frame-background);
      border: 1px solid var(--surface-frame-border);
      box-shadow: 0 5px 25px var(--box-shadow-color);
    }
  }
}
