.LeadsGrid {
  padding: 25px 0;

  &__primary {
    font-weight: 700;
  }

  &__secondary {
    font-size: 11px;
  }

  &__last-note {
    max-width: 200px;

    &-content {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      max-height: 35px;
      font-size: 11px;
      overflow: hidden;
    }
  }

  &__status {
    &-title {
      font-weight: 700;
      text-transform: uppercase;
    }

    &-converted {
      color: #333;
    }

    &-converted,
    &-operator {
      font-size: 11px;
    }
  }
}