.bonus-campaign-change-status-modal {
  width: 600px;

  .modal-footer {
    text-align: left;
  }

  .modal-title {
    font-weight: 300;
  }

  .modal-header {
    background-color: #FFCC66;
    border: none;
  }

  .close {
    font-size: 4rem;
    background: transparent;
  }

  .close:focus {
    outline: none;
  }
}
