.LastNotificationsGrid {  
    &__title {
      font-size: 20px;
      margin-bottom: 15px;
      margin-top: 25px;
    }

    &__row {
      &--high {
        background-color: var(--table-background-danger);
      }
  
      &--medium {
        background-color: var(--table-background-warning);
      }
  
      &--low {
        background-color: var(--table-background-success);
      }
    }
  
    &__text-highlight {
      font-weight: bold;
    }
  
    &__text-subtype {
      font-size: 12px;
    }
  
    &__row--read &__text-highlight {
      font-weight: normal;
    }
  
    &__text-priority {
      text-transform: capitalize;
  
      &--high {
        color: var(--state-colors-danger);
      }
  
      &--medium {
        color: var(--state-colors-warning);
      }
  
      &--low {
        color: var(--state-colors-success);
      }
    }
  
    &__text-secondary {
      font-size: 11px;
    }
  }
  