$color-error: #d0011b;
$color-primary: #3f8edd;
$color-checked: #5287bd;
$color-disable: #cfcfcf;

.Checkbox {
  margin-bottom: 12px;

  &__container {
    cursor: pointer;

    &:hover {
      & .Checkbox {
        &__icon {
          border-color: #9b9b9b;
        }

        &__input:checked ~ &__icon {
          border-color: $color-primary;
        }

        &__label {
          color: #000;
        }
      }
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #ccc;
    transition: border-color 0.1s ease;
    vertical-align: top;
    height: 20px;
    width: 20px;
  }

  &__icon-in {
    width: 10px;
    height: 10px;
    fill: $color-checked;
    opacity: 0;
    transition: .1s ease;
  }

  &__input {
    display: none;
  }

  &__input:checked ~ &__icon {
    border-color: $color-checked;
  }

  &__input:checked ~ &__icon &__icon-in {
    opacity: 1;
  }

  &__label {
    font-size: 15px;
    margin-left: 10px;
    transition: color 0.1s ease;
  }

  &__error {
    color: $color-error;
    font-size: 12px;
    margin-top: 3px;

    & i {
      font-size: 16px;
      margin-right: 5px;
      position: relative;
      top: 2px;
    }
  }
}

// # Modifiers
.Checkbox {
  &--has-error {
    & .Checkbox {
      &__icon {
        border-color: $color-error;
      }

      &__label {
        color: $color-error;
      }
    }
  }

  &--disabled {
    pointer-events: none;

    & .Checkbox {
      &__icon {
        border-color: $color-disable;
        background-color: #F6F6F6;
      }

      &__label {
        color: $color-disable;
      }
    }
  }

  &--vertical {
    & .Checkbox {
      &__container {
        display: flex;
        flex-direction: column-reverse;
      }

      &__label {
        margin-left: 0;
        margin-bottom: 8px;
        font-size: 11px;
        text-align: center;
      }

      &__icon {
        width: 25px;
        height: 25px;
      }

      &__icon-in {
        width: 14px;
        height: 14px;
      }
    }
  }
}
