.operator-mini-profile {
  &_ACTIVE {
    border-color: #1cbb1c;
    background-color: #e9f7e6;
    .mini-profile-label {
      background-image: linear-gradient(to right, #009a00, #07cd07);
    }
  }
  &_INACTIVE {
    border-color: #bcbcbc;
    background-color: #eee;
    .mini-profile-label {
      background-image: linear-gradient(to left, #bdbdbd, #979797);
    }
  }
  &_CLOSED {
    border-color: #cc5f32;
    background-color: #f6e2e1;
    .mini-profile-label {
      background-image: linear-gradient(to right, #990101, #d96620);
    }
  }
  &-departments {
    margin-bottom: 6px;
  }
  &-department {
    width: 100%;
    margin-top: 3px;
    padding: 2px 10px;
    border-radius: 2px;
    background-color: #4a4a4a;
    font-size: 11px;
    color: #ffffff;

  }
}
