.player__account__details {
  padding: 10px 15px;
  &-label {
    color: #999;
    font-size: 12px;
    text-transform: uppercase;
  }
  &_personal {
    .panel-body {
      padding: 7px;
      font-size: 13px;
    }
  }
  &_additional {
    .panel-body {
      padding: 5px 7px;
      font-size: 13px;
      overflow-x: hidden;
    }
    &-label {
      color: #999;
      text-transform: uppercase;
      font-size: 11px;
    }
    &-departments {
      padding-top: 5px;
    }
  }
  &_networking {
    .panel-body {
      padding: 7px;
      font-size: 13px;
      overflow-x: hidden;
    }
  }
}
