.departments-dropdown-menu {
  flex: 0 0 auto;
  padding-top: 7px;
  padding-bottom: 7px;
  &__toggle {
    padding: 0 28px 0 20px;
    border-top: 0;
    border-right: 1px solid darken(#464a4c, 5%);
    border-bottom: 0;
    border-left: 1px solid darken(#464a4c, 5%);
    background-color: transparent;
    text-align: left;
  }
  &__toggle:hover &__caret {
    color: #fff;
  }
  &__department {
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
  }
  &__role {
    margin-top: 3px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    color: #999;
  }
  &__caret {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%) rotate(0);
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    transition: all .2s ease;
  }
  &.show &__caret {
    transform: translateY(-50%) rotate(180deg);
    color: #fff;
  }
  &__item-department {
    font-weight: 600;
  }
}
