.free-spin-status {
  &__status {
    font-weight: 700;
    text-transform: uppercase;
  }
  &__status-date {
    font-size: 11px;
  }
  &__status-author {
    font-size: 11px;
  }
  &__status-additional {
    font-size: 11px;
  }
}
