.sidebar {
  height: 100%;
  width: 60px;
  position: fixed;
  left: 0;
  padding-top: 20px;
  background-color: #333;
  -webkit-transition: .5s width linear;
  -moz-transition: .5s width linear;
  -o-transition: .5s width linear;
  transition: .5s width linear;
  z-index: 17;
  &.open {
    width: 240px;
  }
  .nav:first-child {
    padding-bottom: 15px;
  }
  .nav-item {
    width: 100%;
    font-size: 15px;
    color: #ccc;
    white-space: nowrap;
    cursor: pointer;
  }
  .nav-item + .nav-item {
    padding-top: 15px;
  }
  .nav-link {
    color: inherit;
    &:focus,
    &:hover {
      color: #fff;
    }
  }
  .fa {
    width: 55px;
    text-align: center;
  }
  .fa-angle-down {
    width: 40px;
    position: absolute;
    top: 18px;
    right: 0;
    opacity: 0;
  }
  .nav-link__label {
    font-weight: 600;
    opacity: 0;
    -webkit-transition: opacity .25s linear .2s;
    -moz-transition: opacity .25s linear;
    -o-transition: opacity .25s linear;
    transition: opacity .25s linear .2s;
    transition-delay: .75s;
    margin-left: 5px;
  }
  .dropdown-menu {
    display: block;
    width: 100%;
    max-height: 0;
    position: relative;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    border-radius: 0;
    opacity: 0;
    visibility: hidden;
    background-color: #666;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2) inset;
    transition: all .25s linear;
    .dropdown-item {
      padding-left: 56px;
      color: #ccc;
      &:hover {
        color: #fff;
      }
    }
  }
  .active {
    .fa-angle-down {
      transform: rotate(180deg);
    }
  }
  .scroll-bar {
    transition: opacity .5s ease-in;
    opacity: 0;
  }
  &:hover {
    //width: 240px;
    //-webkit-transition-delay: .25s;
    //-moz-transition-delay: .25s;
    //-o-transition-delay: .25s;
    //transition-delay: .25s;
    .scroll-bar {
      opacity: 1;
    }
    .nav-link__label {
      opacity: 1;
      transition-delay: .25s;
    }
    .fa-angle-down {
      opacity: 1;
      transition: all .2s 0s, opacity .75s .5s;
    }
    .active {
      .dropdown-menu {
        max-height: 100%;
        margin-top: .5rem;
        padding-top: 8px;
        padding-bottom: 8px;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
