.sidebar {
  height: 100%;
  width: 60px;
  position: fixed;
  padding-top: 1.5rem;
  padding-right: 4px;
  z-index: 5;
  top: 48px;
  left: 0;
  background-color: #333333;
  -webkit-transition: .25s width linear;
  -webkit-transition-delay: .75s;
  -moz-transition: .25s width linear;
  -moz-transition-delay: .75s;
  -o-transition: .25s width linear;
  -o-transition-delay: .75s;
  transition: .25s width linear;
  transition-delay: .75s;
  .navbar-nav {
    margin-bottom: 0;
    padding-left: 0;
    max-height: 70%;
    overflow-y: hidden;
    overflow-x: hidden;
    list-style: none;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      border: 2px solid #000;
      background-color: #000;
    }
    &::-webkit-scrollbar-track {
      background-color: #333333;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
    }
  }
  .link-text {
    font-weight: 600;
    opacity: 0;
    -webkit-transition: opacity .25s linear .2s;
    -moz-transition: opacity .25s linear;
    -o-transition: opacity .25s linear;
    transition: opacity .25s linear .2s;
    transition-delay: .75s;
  }
  .nav-item {
    width: 100%;
    margin-left: 0;
    font-size: 15px;
    color: #cccccc;
    white-space: nowrap;
    padding-bottom: 1rem;
    cursor: pointer;
  }
  .nav-item + .nav-item {
    margin-left: 0;
  }
  .nav-link {
    padding: 0;
    color: inherit;
  }
  .nav-link:focus,
  .nav-link:hover {
    color: #ffffff;
  }
  .fa {
    width: 55px;
    text-align: center;
    font-size: 1.1rem;
  }
  .dropdown-toggle:after {
    display: none;
  }
  .link-text .fa {
    padding: 0;
  }
  .fa-angle-down {
    opacity: 0;
    position: absolute;
    top: 4px;
    right: 12px;
    width: auto;
  }
  .dropdown-menu {
    margin-top: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    max-height: 0;
    display: block;
    opacity: 0;
    visibility: hidden;
    background: rgba(102, 102, 102, 1);
    border: none;
    border-radius: 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2) inset;
    transition: ease-out .25s;
    .dropdown-item {
      padding: 0 1.5rem 0 4rem;
      margin-bottom: 5px;
      color: #cccccc;
      &:hover {
        background: transparent;
        color: #ffffff;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .active {
    .fa-angle-down {
      transform: rotate(180deg);
    }
    .dropdown-menu {
      max-height: 0;
      transition: ease-in .25s;
    }
  }
  .support-tab {
    position: absolute;
    bottom: 3.35em;
  }
  &:hover {
    width: 240px;
    -webkit-transition-delay: .25s;
    -moz-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s;
    .navbar-nav {
      overflow-y: auto;
    }
    .link-text {
      opacity: 1;
      transition-delay: .25s;
      .fa-angle-down {
        opacity: 1;
        transition: all .2s 0s, opacity .75s .5s;
      }
    }
    .active {
      .dropdown-menu {
        margin-top: .5rem;
        padding: 11px 0;
        opacity: 1;
        visibility: visible;
        max-height: 100%;
      }
    }
  }
}
