.Sidebar {
  position: fixed;
  top: 48px;
  width: 60px;
  height: calc(100% - 48px);
  padding-top: 13px;
  background-color: var(--navigation-primary-background);
  overflow-x: hidden;
  box-shadow: none;
  z-index: 52;
  transition: box-shadow .3s ease-in-out;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }

  &:hover {
    box-shadow: 0 5px 25px var(--box-shadow-color);
  }

  .Scrollbars {
    .ScrollbarContainer {
      &::-webkit-scrollbar-corner {
        display: none;
      }
    }

    .TrackHorizontal {
      display: none;
    }

    .ThumbHorizontal {
      display: none;
    }

    .ThumbVertical {
      background-color: var(--navigation-secondary-background);
    }
  }
}
