.ClientReferralsGrid {
  &__col-text {
    &--small {
      font-size: 11px;
    }

    &--upper {
      text-transform: uppercase;
    }

    &--bold {
      font-weight: 700;
    }
  }

  &__type {
    &--ftd {
      color: var(--state-colors-success);
    }

    &--registration {
      color: var(--state-colors-warning);
    }
  }
}
