/*
 * TABS
 */
.profile-user-content {
  border: none;
}
.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: transparent;
  outline: none;
}

.nav-tabs-horizontal .nav-tabs .nav-item .nav-link {
  padding: 10px 20px;
  border: none;
  border-top: 3px solid transparent;
  border-radius: 0;
  color: #666;
  font-size: 15px;
  font-weight: bold;
}

.nav-tabs-horizontal .nav-tabs .nav-item .nav-link.active {
  border-top-color: #01a8fe;
  color: #01a8fe;
  -moz-box-shadow: 0px 15px 0px 0px white, 0px 0px 0px 0px white, 0 0 15px -4px rgba(0, 0, 0, 0.149019607843137), 0 0 15px -4px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow: 0px 15px 0px 0px white, 0px 0px 0px 0px white, 0 0 15px -4px rgba(0, 0, 0, 0.149019607843137), 0 0 15px -4px rgba(0, 0, 0, 0.149019607843137);
  box-shadow: 0px 15px 0px 0px white, 0px 0px 0px 0px white, 0 0 15px -4px rgba(0, 0, 0, 0.149019607843137), 0 0 15px -4px rgba(0, 0, 0, 0.149019607843137);
}

.nav-tabs-horizontal .nav-tabs .nav-item .nav-link:hover {
  border-bottom-color: #dfe4ed;
}

.nav-tabs-vertical .nav-tabs {
  border-bottom: none;
  border-right: 1px solid #dfe4ed;
  float: left;
  margin-right: 30px;
}

.nav-tabs-vertical .nav-tabs .nav-item {
  margin: 0 -2px 1px 0;
  float: none;
  cursor: pointer;
}

.nav-tabs-vertical .nav-tabs .nav-item .nav-link {
  border: none;
  border-right: 3px solid transparent;
  padding-left: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.nav-tabs-vertical .nav-tabs .nav-item .nav-link.active, .nav-tabs-vertical .nav-tabs .nav-item .nav-link:focus {
  border-right-color: #01a8fe;
}

.nav-tabs-vertical .nav-tabs .nav-item .nav-link:hover {
  border-right-color: #dfe4ed;
}

.nav-tabs-horizontal .nav-tabs .nav-item .nav-link.nav-link_with-badge {
  padding-right: 32px;
}
