.player__account__details {
  padding: 10px 15px;
  &-label {
    color: #999999;
    font-size: 12px;
    text-transform: uppercase;
  }
  &_personal,
  &_networking {
    .panel-body {
      padding: 7px;
      font-size: 13px;
    }
  }
  &_additional {
    .panel-body {
      padding: 5px 7px;
      font-size: 13px;
    }
    &-label {
      color: #999999;
      text-transform: uppercase;
      font-size: 11px;
    }
  }
  &_networking {
    .panel-body {
      overflow-x: hidden;
    }
  }
  &_notes {
    .notes {
      padding: 7px;
      overflow-x: hidden;
    }
    .note {
      margin-bottom: 9px;
    }
    .note-content {
      padding: 7px;
      background: #fff7d3;
    }
    .note-content__author {
      font-size: 13px;
      line-height: 1;
      color: #666;
    }
    .note-content__content {
      margin-top: 5px;
      font-size: 13px;
      font-style: italic;
    }
  }
}
