// # BackofficeMonolith
@font-face {
  font-family: 'backofficeMonolith';
  src:
    url("/fonts/backofficeMonolith.ttf?a3zjzm") format('truetype'),
    url("/fonts/backofficeMonolith.woff?a3zjzm") format('woff'),
    url("/fonts/backofficeMonolith.svg?a3zjzm#backoffice") format('svg');
  font-weight: normal;
  font-style: normal;
}