[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'backofficeMonolith' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-filter:before {
  content: "\e8fa";
}
.icon-reports:before {
  content: "\e900";
}
.icon-tags:before {
  content: "\e901";
}
.icon-support:before {
  content: "\e902";
}
.icon-callbacks:before {
  content: "\e903";
}
.icon-campaigns:before {
  content: "\e904";
}
.icon-users:before {
  content: "\e905";
}
.icon-operators:before {
  content: "\e906";
}
.icon-payments:before {
  content: "\e907";
}
.icon-settings:before {
  content: "\e908";
}
.icon-minimize-popup-profile:before {
  content: "\e909";
}
.icon-currencies:before {
  content: "\e90a";
}
.icon-union:before {
  content: "\e90b";
}
.icon-close-popup-profile:before {
  content: "\e90c";
}
.icon-calendar:before {
  content: "\e90d";
}
.icon-times:before {
  content: "\e90e";
}
.icon-arrow-down:before {
  content: "\e90f";
}
.icon-alert:before {
  content: "\e910";
}
.icon-search:before {
  content: "\e911";
}
.icon-nav-arrow-v:before {
  content: "\e912";
}
.icon-nav-arrow-h:before {
  content: "\e913";
}
.icon-leads:before {
  content: "\e914";
}
.icon-generate-password:before {
  content: "\e915";
}
.icon-dashboard:before {
  content: "\e916";
}
.icon-organization:before {
  content: "\e917";
}
.icon-notifications:before {
  content: "\e918";
}
.icon-Group-181:before {
  content: "\e919";
}
.icon-Group-182:before {
  content: "\e91a";
}
.icon-icon-24px-time:before {
  content: "\e91b";
}
.icon-trading-engine:before {
  content: "\e91c";
}
