.CallbacksCalendar {
  height: 100%;
  background-color: var(--calendar-body-background);

  .rbc-header {
    padding: 10px 0;  
    border: 1px solid var(--calendar-divider);
    background-color: var(--calendar-header-background);
  }

  .rbc-month-view {
    border-color: var(--calendar-divider);
  }

  .rbc-row-content {
    z-index: 1;
  }

  .rbc-event-content {
    overflow: visible;
  }

  .rbc-month-row {
    overflow: visible;
    border-color: var(--calendar-divider);
  }

  .rbc-row-segment {
    padding: 0;
    overflow: visible;
  }

  .rbc-day-bg {
    border-color: var(--calendar-divider);
  }
  
  .rbc-today {
    background-color: var(--calendar-current-background);
    border: 1px solid var(--calendar-current-border);
  }
  
  .rbc-off-range-bg {
    background-color: var(--calendar-background-disabled);
  }

  .rbc-off-range {
    &> a {
      color: var(--text-secondary);

      &:hover {
        color: var(--accent);
      }
    }
  }

  .rbc-event {
    background-color: var(--active);
    color: var(--state-colors-content);
  }

  .rbc-time-view,
  .rbc-time-header-content,
  .rbc-time-content,
  .rbc-timeslot-group,
  .rbc-time-slot,
  .rbc-time-content > * + * > * {
    border-color: var(--calendar-divider);
  }
}
