.SymbolNew {
  background-color: var(--surface-page-background);
  border: 1px solid var(--surface-page-border);

  &__actions {
    display: flex;
  }

  &__column {
    padding: 20px 25px;
  }

  &__button {
    margin: 25px 0 25px auto;
    order: 2;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 48px;
    height: 110px;
    padding: 25px;
    background-color: var(--surface-page-background);
    border-bottom: 1px solid var(--divider);
    z-index: var(--z-index-sticky);
  }

  &__title {
    font-size: 20px;
  }
}
