.ClosedOrderModal {
  &__field-container {
    display: flex;
    flex: 1 1;
    align-items: flex-end;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &--half {
      width: calc(50% - 7.5px);
    }
  }

  &__field {
    width: 100%;
    margin-right: 15px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &__button {
    text-align: center;
    width: 180px;
  }

  &__fieldset {
    border: 1px solid #ccc;
    padding: 0 20px 20px 20px;
  }

  &__fieldset-title {
    width: auto;
    font-size: 15px;
  }
}
