.PaymentsListGrid {
  &__header-block-small {
    font-size: 11px;
    color: var(--text-primary);
  }

  &__header-block-middle {
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
    color: var(--text-primary);
  }

  &__partner {
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
    color: var(--text-primary);
  }

  &__payment-method {
    color: var(--state-colors-warning);
  }

  &__text-primary {
    font-weight: 700;
    color: var(--text-primary);
  }

  &__text-secondary {
    font-size: 11px;
    color: var(--text-primary);
  }

  &__upper {
    text-transform: uppercase
  }

  &__type {
    &--deposit,
    &--demo-deposit,
    &--fee {
      color: var(--state-colors-success);
    }

    &--withdraw,
    &--commission,
    &--inactivity-fee {
      color: var(--state-colors-danger);
    }

    &--interest-rate,
    &--transfer-in,
    &--transfer-out {
      color: var(--state-colors-info);
    }

    &--credit-in,
    &--credit-out {
      color: var(--state-colors-warning);
    }
  }
}
