.DashboardClientsGrid {
  &__text-primary {
    font-weight: 700;

    &--uppercase {
      text-transform: uppercase;
    }
  }

  &__text-secondary {
    font-size: 11px;
  }

  &__status {
    &--verified {
      color: var(--state-colors-success);
    }

    &--not-verified {
      color: var(--state-colors-warning);
    }

    &--blocked {
      color: var(--state-colors-danger);
    }
  }
}
