.RuleSettings {
  &__message-error {
    & > div {
      text-align: center;
    }
  }

  &__button {
    width: 0;
  }

  &__percentage-error {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    text-align: right;
  }
}
