@import "../../styles/old/variables";

.note-item {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  &__content-wrapper {
    flex: 1;
  }
  &__heading {
    margin-bottom: 5px;
    line-height: 1.2;
    font-size: 13px;
    color: #666;
  }
  &__author {
    font-weight: 700;
    color: $color-primary;
  }
  &__edition-date {
    font-size: 11px;
  }
  &__body {
    align-items: flex-start;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  &__content {
    font-size: 13px;
    font-style: italic;
    line-height: normal;
  }
  &__pinned-note-badge {
    display: inline-block;
    margin-top: 10px;
    padding: 2px 3px;
    border-radius: 3px;
    background-color: $color-primary;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    line-height: normal;
    color: #fff;
  }
  &__delete-btn {
    padding: 0 12px;
    border: 0;
    font-size: 24px;
  }
}
