.RemoveTimeIntervalButton {
  position: relative;
  padding: 0;
  border: none;

  &:disabled {
    background: transparent;
    cursor: default;
  }

  &:disabled &__icon {
    fill: #DDDDDD;
  }

  &__icon {
    display: block;
    line-height: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: -15px;
    left: -5px;
    right: -5px;
    bottom: -15px;
  }
}
