@import "../../styles/tools/mixins";

.profile-layout {
  border: none;
  margin-bottom: 0;
  .nav-tabs {
    margin-top: -80px;
    margin-right: 25px;
    margin-left: 25px;
  }
  &.operators-profile-layout {
    width: 94%;
    margin-top: -20px;
    margin-right: auto;
    margin-left: auto;
    .nav-tabs {
      margin-top: -80px;
      margin-right: 0;
      margin-left: 0;
    }
  }
  &-heading {
    padding-bottom: 75px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(248, 248, 248, 1) 100%, rgba(248, 248, 248, 1) 100%);
  }
  .profile-user-content {
    padding-top: 15px;
  }

  .tab-content {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.sticky-outer-wrapper,
.sticky-inner-wrapper {
  z-index: 5;
}

.sticky-outer-wrapper.active {
  .tab-header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.15);
  }
}

.tab-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 20px 25px;
  background-color: #fff;
  transition: all .2s ease;
  &__heading {
    font-size: 20px;
  }
  &__actions {
    margin-left: auto;
  }
}

.hide-details-block {
  @include flexbox();
  flex-flow: row nowrap;
  align-items: center;
  &_divider {
    @include flex(1 0 40%);
    min-height: 1px;
    border-top: 1px solid #eee;
  }
  &_text {
    padding: 0 15px;
    text-align: center;
    text-decoration: underline;
    font-size: 11px;
    color: #999;
    cursor: pointer;
  }
}
