.acquisition-status {
  display: flex;
  flex-direction: column;
  > div:not(:last-child) {
    margin-bottom: 15px;
  }
  .acquisition-item {
    width: 100%;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    .status-col {
      flex: 1 0 auto;
      text-align: left;
      text-transform: uppercase;
      .status {
        font-size: 15px;
        font-weight: 600;
      }
    }
    .operator-col {
      flex: 1 0 auto;
      text-align: right;
      .name {
        font-weight: 400;
      }
      & div {
        text-align: right;
      }
    }
  }
}