.Header {
  background-color: var(--navigation-primary-background);
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;
  width: 100%;
  z-index: var(--z-index-layout);

  &__body {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: calc(100% - 60px);
  }

  &__controls {
    padding-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
  }
}
