.DesksFilter {
  &__form {
    background-color: var(--surface-filters-background);
    padding: 20px 25px 35px;
    display: flex;
    flex: 1 0 20px;
    justify-content: space-between;
  }

  &__fields {
    margin-right: 60px;
    display: flex;
    flex: 1 0 10px;
  }

  &__field {
    margin-bottom: 0;

    &:not(:first-child) {
      margin-left: 15px;
    }
  }

  &__search {
    flex-grow: 0.75;
    flex-basis: 250px;
    min-width: 250px;
    max-width: 450px;
  }

  &__select {
    flex-grow: 0.2;
    flex-basis: 150px;
    min-width: 150px;
    max-width: 300px;
  }

  &__buttons {
    display: flex;
    align-items: flex-end;
  }

  &__button {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}
