@import "../../../../../../../../../../styles/variables";

.view-modal {
  &__body {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
  }
  &__bonus-stats {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f2f4f8;
    > * {
      padding-left: 30px;
    }
    > :not(:first-child) {
      border-left: 1px solid #d6d6d6;
    }
  }
}
