.fs {
  display: inline-block;
  position: relative;
  width: 100%;
}

.fs-icon {
  display: inline-block;
  width: 16px;
  height: 11px;
  //background: url(./flags.png) no-repeat 0 0;
}

.fs-placeholder,
.fs-placeholder i {
  display: none
}

.fs-icon.fs-ad {
  background-position: -16px 0
}

.fs-icon.fs-ae {
  background-position: -32px 0
}

.fs-icon.fs-af {
  background-position: -48px 0
}

.fs-icon.fs-ag {
  background-position: -64px 0
}

.fs-icon.fs-ai {
  background-position: -80px 0
}

.fs-icon.fs-al {
  background-position: -96px 0
}

.fs-icon.fs-am {
  background-position: -112px 0
}

.fs-icon.fs-an {
  background-position: -128px 0
}

.fs-icon.fs-ao {
  background-position: -144px 0
}

.fs-icon.fs-ar {
  background-position: -160px 0
}

.fs-icon.fs-as {
  background-position: -176px 0
}

.fs-icon.fs-at {
  background-position: -192px 0
}

.fs-icon.fs-au {
  background-position: -208px 0
}

.fs-icon.fs-aw {
  background-position: -224px 0
}

.fs-icon.fs-az {
  background-position: -240px 0
}

.fs-icon.fs-ba {
  background-position: 0 -11px
}

.fs-icon.fs-bb {
  background-position: -16px -11px
}

.fs-icon.fs-bd {
  background-position: -32px -11px
}

.fs-icon.fs-be {
  background-position: -48px -11px
}

.fs-icon.fs-bf {
  background-position: -64px -11px
}

.fs-icon.fs-bg {
  background-position: -80px -11px
}

.fs-icon.fs-bh {
  background-position: -96px -11px
}

.fs-icon.fs-bi {
  background-position: -112px -11px
}

.fs-icon.fs-bj {
  background-position: -128px -11px
}

.fs-icon.fs-bm {
  background-position: -144px -11px
}

.fs-icon.fs-bn {
  background-position: -160px -11px
}

.fs-icon.fs-bo {
  background-position: -176px -11px
}

.fs-icon.fs-br {
  background-position: -192px -11px
}

.fs-icon.fs-bs {
  background-position: -208px -11px
}

.fs-icon.fs-bt {
  background-position: -224px -11px
}

.fs-icon.fs-bv {
  background-position: -240px -11px
}

.fs-icon.fs-bw {
  background-position: 0 -22px
}

.fs-icon.fs-by {
  background-position: -16px -22px
}

.fs-icon.fs-bz {
  background-position: -32px -22px
}

.fs-icon.fs-ca {
  background-position: -48px -22px
}

.fs-icon.fs-catalonia {
  background-position: -64px -22px
}

.fs-icon.fs-cd {
  background-position: -80px -22px
}

.fs-icon.fs-cf {
  background-position: -96px -22px
}

.fs-icon.fs-cg {
  background-position: -112px -22px
}

.fs-icon.fs-ch {
  background-position: -128px -22px
}

.fs-icon.fs-ci {
  background-position: -144px -22px
}

.fs-icon.fs-ck {
  background-position: -160px -22px
}

.fs-icon.fs-cl {
  background-position: -176px -22px
}

.fs-icon.fs-cm {
  background-position: -192px -22px
}

.fs-icon.fs-cn {
  background-position: -208px -22px
}

.fs-icon.fs-co {
  background-position: -224px -22px
}

.fs-icon.fs-cr {
  background-position: -240px -22px
}

.fs-icon.fs-cu {
  background-position: 0 -33px
}

.fs-icon.fs-cv {
  background-position: -16px -33px
}

.fs-icon.fs-cw {
  background-position: -32px -33px
}

.fs-icon.fs-cy {
  background-position: -48px -33px
}

.fs-icon.fs-cz {
  background-position: -64px -33px
}

.fs-icon.fs-de {
  background-position: -80px -33px
}

.fs-icon.fs-dj {
  background-position: -96px -33px
}

.fs-icon.fs-dk {
  background-position: -112px -33px
}

.fs-icon.fs-dm {
  background-position: -128px -33px
}

.fs-icon.fs-do {
  background-position: -144px -33px
}

.fs-icon.fs-dz {
  background-position: -160px -33px
}

.fs-icon.fs-ec {
  background-position: -176px -33px
}

.fs-icon.fs-ee {
  background-position: -192px -33px
}

.fs-icon.fs-eg {
  background-position: -208px -33px
}

.fs-icon.fs-eh {
  background-position: -224px -33px
}

.fs-icon.fs-england {
  background-position: -240px -33px
}

.fs-icon.fs-er {
  background-position: 0 -44px
}

.fs-icon.fs-es {
  background-position: -16px -44px
}

.fs-icon.fs-et {
  background-position: -32px -44px
}

.fs-icon.fs-eu {
  background-position: -48px -44px
}

.fs-icon.fs-fi {
  background-position: -64px -44px
}

.fs-icon.fs-fj {
  background-position: -80px -44px
}

.fs-icon.fs-fk {
  background-position: -96px -44px
}

.fs-icon.fs-fm {
  background-position: -112px -44px
}

.fs-icon.fs-fo {
  background-position: -128px -44px
}

.fs-icon.fs-fr {
  background-position: -144px -44px
}

.fs-icon.fs-ga {
  background-position: -160px -44px
}

.fs-icon.fs-gb {
  background-position: -176px -44px
}

.fs-icon.fs-gd {
  background-position: -192px -44px
}

.fs-icon.fs-ge {
  background-position: -208px -44px
}

.fs-icon.fs-gf {
  background-position: -224px -44px
}

.fs-icon.fs-gg {
  background-position: -240px -44px
}

.fs-icon.fs-gh {
  background-position: 0 -55px
}

.fs-icon.fs-gi {
  background-position: -16px -55px
}

.fs-icon.fs-gl {
  background-position: -32px -55px
}

.fs-icon.fs-gm {
  background-position: -48px -55px
}

.fs-icon.fs-gn {
  background-position: -64px -55px
}

.fs-icon.fs-gp {
  background-position: -80px -55px
}

.fs-icon.fs-gq {
  background-position: -96px -55px
}

.fs-icon.fs-gr {
  background-position: -112px -55px
}

.fs-icon.fs-gs {
  background-position: -128px -55px
}

.fs-icon.fs-gt {
  background-position: -144px -55px
}

.fs-icon.fs-gu {
  background-position: -160px -55px
}

.fs-icon.fs-gw {
  background-position: -176px -55px
}

.fs-icon.fs-gy {
  background-position: -192px -55px
}

.fs-icon.fs-hk {
  background-position: -208px -55px
}

.fs-icon.fs-hm {
  background-position: -224px -55px
}

.fs-icon.fs-hn {
  background-position: -240px -55px
}

.fs-icon.fs-hr {
  background-position: 0 -66px
}

.fs-icon.fs-ht {
  background-position: -16px -66px
}

.fs-icon.fs-hu {
  background-position: -32px -66px
}

.fs-icon.fs-ic {
  background-position: -48px -66px
}

.fs-icon.fs-id {
  background-position: -64px -66px
}

.fs-icon.fs-ie {
  background-position: -80px -66px
}

.fs-icon.fs-il {
  background-position: -96px -66px
}

.fs-icon.fs-im {
  background-position: -112px -66px
}

.fs-icon.fs-in {
  background-position: -128px -66px
}

.fs-icon.fs-io {
  background-position: -144px -66px
}

.fs-icon.fs-iq {
  background-position: -160px -66px
}

.fs-icon.fs-ir {
  background-position: -176px -66px
}

.fs-icon.fs-is {
  background-position: -192px -66px
}

.fs-icon.fs-it {
  background-position: -208px -66px
}

.fs-icon.fs-je {
  background-position: -224px -66px
}

.fs-icon.fs-jm {
  background-position: -240px -66px
}

.fs-icon.fs-jo {
  background-position: 0 -77px
}

.fs-icon.fs-jp {
  background-position: -16px -77px
}

.fs-icon.fs-ke {
  background-position: -32px -77px
}

.fs-icon.fs-kg {
  background-position: -48px -77px
}

.fs-icon.fs-kh {
  background-position: -64px -77px
}

.fs-icon.fs-ki {
  background-position: -80px -77px
}

.fs-icon.fs-km {
  background-position: -96px -77px
}

.fs-icon.fs-kn {
  background-position: -112px -77px
}

.fs-icon.fs-kp {
  background-position: -128px -77px
}

.fs-icon.fs-kr {
  background-position: -144px -77px
}

.fs-icon.fs-kurdistan {
  background-position: -160px -77px
}

.fs-icon.fs-kw {
  background-position: -176px -77px
}

.fs-icon.fs-ky {
  background-position: -192px -77px
}

.fs-icon.fs-kz {
  background-position: -208px -77px
}

.fs-icon.fs-la {
  background-position: -224px -77px
}

.fs-icon.fs-lb {
  background-position: -240px -77px
}

.fs-icon.fs-lc {
  background-position: 0 -88px
}

.fs-icon.fs-li {
  background-position: -16px -88px
}

.fs-icon.fs-lk {
  background-position: -32px -88px
}

.fs-icon.fs-lr {
  background-position: -48px -88px
}

.fs-icon.fs-ls {
  background-position: -64px -88px
}

.fs-icon.fs-lt {
  background-position: -80px -88px
}

.fs-icon.fs-lu {
  background-position: -96px -88px
}

.fs-icon.fs-lv {
  background-position: -112px -88px
}

.fs-icon.fs-ly {
  background-position: -128px -88px
}

.fs-icon.fs-ma {
  background-position: -144px -88px
}

.fs-icon.fs-mc {
  background-position: -160px -88px
}

.fs-icon.fs-md {
  background-position: -176px -88px
}

.fs-icon.fs-me {
  background-position: -192px -88px
}

.fs-icon.fs-mg {
  background-position: -208px -88px
}

.fs-icon.fs-mh {
  background-position: -224px -88px
}

.fs-icon.fs-mk {
  background-position: -240px -88px
}

.fs-icon.fs-ml {
  background-position: 0 -99px
}

.fs-icon.fs-mm {
  background-position: -16px -99px
}

.fs-icon.fs-mn {
  background-position: -32px -99px
}

.fs-icon.fs-mo {
  background-position: -48px -99px
}

.fs-icon.fs-mp {
  background-position: -64px -99px
}

.fs-icon.fs-mq {
  background-position: -80px -99px
}

.fs-icon.fs-mr {
  background-position: -96px -99px
}

.fs-icon.fs-ms {
  background-position: -112px -99px
}

.fs-icon.fs-mt {
  background-position: -128px -99px
}

.fs-icon.fs-mu {
  background-position: -144px -99px
}

.fs-icon.fs-mv {
  background-position: -160px -99px
}

.fs-icon.fs-mw {
  background-position: -176px -99px
}

.fs-icon.fs-mx {
  background-position: -192px -99px
}

.fs-icon.fs-my {
  background-position: -208px -99px
}

.fs-icon.fs-mz {
  background-position: -224px -99px
}

.fs-icon.fs-na {
  background-position: -240px -99px
}

.fs-icon.fs-nc {
  background-position: 0 -110px
}

.fs-icon.fs-ne {
  background-position: -16px -110px
}

.fs-icon.fs-nf {
  background-position: -32px -110px
}

.fs-icon.fs-ng {
  background-position: -48px -110px
}

.fs-icon.fs-ni {
  background-position: -64px -110px
}

.fs-icon.fs-nl {
  background-position: -80px -110px
}

.fs-icon.fs-no {
  background-position: -96px -110px
}

.fs-icon.fs-np {
  background-position: -112px -110px
}

.fs-icon.fs-nr {
  background-position: -128px -110px
}

.fs-icon.fs-nu {
  background-position: -144px -110px
}

.fs-icon.fs-nz {
  background-position: -160px -110px
}

.fs-icon.fs-om {
  background-position: -176px -110px
}

.fs-icon.fs-pa {
  background-position: -192px -110px
}

.fs-icon.fs-pe {
  background-position: -208px -110px
}

.fs-icon.fs-pf {
  background-position: -224px -110px
}

.fs-icon.fs-pg {
  background-position: -240px -110px
}

.fs-icon.fs-ph {
  background-position: 0 -121px
}

.fs-icon.fs-pk {
  background-position: -16px -121px
}

.fs-icon.fs-pl {
  background-position: -32px -121px
}

.fs-icon.fs-pm {
  background-position: -48px -121px
}

.fs-icon.fs-pn {
  background-position: -64px -121px
}

.fs-icon.fs-pr {
  background-position: -80px -121px
}

.fs-icon.fs-ps {
  background-position: -96px -121px
}

.fs-icon.fs-pt {
  background-position: -112px -121px
}

.fs-icon.fs-pw {
  background-position: -128px -121px
}

.fs-icon.fs-py {
  background-position: -144px -121px
}

.fs-icon.fs-qa {
  background-position: -160px -121px
}

.fs-icon.fs-re {
  background-position: -176px -121px
}

.fs-icon.fs-ro {
  background-position: -192px -121px
}

.fs-icon.fs-rs {
  background-position: -208px -121px
}

.fs-icon.fs-ru {
  background-position: -224px -121px
}

.fs-icon.fs-rw {
  background-position: -240px -121px
}

.fs-icon.fs-sa {
  background-position: 0 -132px
}

.fs-icon.fs-sb {
  background-position: -16px -132px
}

.fs-icon.fs-sc {
  background-position: -32px -132px
}

.fs-icon.fs-scotland {
  background-position: -48px -132px
}

.fs-icon.fs-sd {
  background-position: -64px -132px
}

.fs-icon.fs-se {
  background-position: -80px -132px
}

.fs-icon.fs-sg {
  background-position: -96px -132px
}

.fs-icon.fs-sh {
  background-position: -112px -132px
}

.fs-icon.fs-si {
  background-position: -128px -132px
}

.fs-icon.fs-sk {
  background-position: -144px -132px
}

.fs-icon.fs-sl {
  background-position: -160px -132px
}

.fs-icon.fs-sm {
  background-position: -176px -132px
}

.fs-icon.fs-sn {
  background-position: -192px -132px
}

.fs-icon.fs-so {
  background-position: -208px -132px
}

.fs-icon.fs-somaliland {
  background-position: -224px -132px
}

.fs-icon.fs-sr {
  background-position: -240px -132px
}

.fs-icon.fs-ss {
  background-position: 0 -143px
}

.fs-icon.fs-st {
  background-position: -16px -143px
}

.fs-icon.fs-sv {
  background-position: -32px -143px
}

.fs-icon.fs-sx {
  background-position: -48px -143px
}

.fs-icon.fs-sy {
  background-position: -64px -143px
}

.fs-icon.fs-sz {
  background-position: -80px -143px
}

.fs-icon.fs-tc {
  background-position: -96px -143px
}

.fs-icon.fs-td {
  background-position: -112px -143px
}

.fs-icon.fs-tf {
  background-position: -128px -143px
}

.fs-icon.fs-tg {
  background-position: -144px -143px
}

.fs-icon.fs-th {
  background-position: -160px -143px
}

.fs-icon.fs-tj {
  background-position: -176px -143px
}

.fs-icon.fs-tk {
  background-position: -192px -143px
}

.fs-icon.fs-tl {
  background-position: -208px -143px
}

.fs-icon.fs-tm {
  background-position: -224px -143px
}

.fs-icon.fs-tn {
  background-position: -240px -143px
}

.fs-icon.fs-to {
  background-position: 0 -154px
}

.fs-icon.fs-tr {
  background-position: -16px -154px
}

.fs-icon.fs-tt {
  background-position: -32px -154px
}

.fs-icon.fs-tv {
  background-position: -48px -154px
}

.fs-icon.fs-tw {
  background-position: -64px -154px
}

.fs-icon.fs-tz {
  background-position: -80px -154px
}

.fs-icon.fs-ua {
  background-position: -96px -154px
}

.fs-icon.fs-ug {
  background-position: -112px -154px
}

.fs-icon.fs-um {
  background-position: -128px -154px
}

.fs-icon.fs-us {
  background-position: -144px -154px
}

.fs-icon.fs-uy {
  background-position: -160px -154px
}

.fs-icon.fs-uz {
  background-position: -176px -154px
}

.fs-icon.fs-va {
  background-position: -192px -154px
}

.fs-icon.fs-vc {
  background-position: -208px -154px
}

.fs-icon.fs-ve {
  background-position: -224px -154px
}

.fs-icon.fs-vg {
  background-position: -240px -154px
}

.fs-icon.fs-vi {
  background-position: 0 -165px
}

.fs-icon.fs-vn {
  background-position: -16px -165px
}

.fs-icon.fs-vu {
  background-position: -32px -165px
}

.fs-icon.fs-wales {
  background-position: -48px -165px
}

.fs-icon.fs-wf {
  background-position: -64px -165px
}

.fs-icon.fs-ws {
  background-position: -80px -165px
}

.fs-icon.fs-ye {
  background-position: -96px -165px
}

.fs-icon.fs-yt {
  background-position: -112px -165px
}

.fs-icon.fs-za {
  background-position: -128px -165px
}

.fs-icon.fs-zanzibar {
  background-position: -144px -165px
}

.fs-icon.fs-zm {
  background-position: -160px -165px
}

.fs-icon.fs-zw {
  background-position: -176px -165px
}
