.profile-layout {
  .dash-text {
    text-align: center;
    position: relative;
    width: 80px;
    background: white;
    margin: auto;
    text-decoration: underline;
    z-index: 1;
    font-size: 11px;
    color: #999999;
    cursor: pointer;
  }

  hr {
    margin: 0 auto;
    border-top: 1px solid #eee;
    position: relative;
    top: -8px;
    left: 0;
    width: 100%;
    z-index: 0;
  }
}

.profile-tab-container {
  .well {
    margin: 0 -25px;
    border: none;
    padding: 25px;
  }
  .well label {
    margin-bottom: 0;
    padding-left: 2px;
  }
  .btn-sm {
    padding: 2px 15px;
  }

  .well .btn-default {
    margin-left: 15px;
  }

  .well .btn-sm:last-child {
    margin: 0;
    float: right;
  }
}
