.user-profile-layout {
  background-color: #fff;
}

.profile-tab-container {
  background-color: #fff;
  .well {
    margin-bottom: 0;
    padding: 25px;
    border: none;
  }
}

.profile-bordered-block {
  border-right: 1px solid #eee;
}
