.user-profile-layout {
  background-color: #fff;
}

.profile-tab-container {
  background-color: #fff;
  .well {
    margin-right: -25px;
    margin-bottom: 0;
    margin-left: -25px;
    padding: 25px;
    border: none;
  }
}

.profile-table, .documents-table {
  thead > tr > th,
  tbody > tr > th,
  tfoot > tr > th,
  thead > tr > td,
  tbody > tr > td,
  tfoot > tr > td {
    border: none;
  }
}

.profile-bordered-block {
  border-right: 1px solid #eee;
}
