.SessionsSettings {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 20px;

  &__section-header {
    display: flex;
    justify-content: space-between;
  }

  &__section-title {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
  }

  &__text-primary {
    margin-top: 10px;
    display: inline-block;
    font-weight: 700;
  }

  &__edit {
    float: right;
    cursor: pointer;
    font-size: 16px;
  }

  &__day {
    margin-top: 10px;
    font-weight: 700;
  }

  &--is-disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--is-error {
    border: 2px solid #fb434a;
  }

  &__message-error {
    padding-bottom: 5px;
    color: #fb434a;
  }
}
