.NotificationCenter {
  &__popper {
    max-width: none !important;
    width: 75vw;
    height: 70vh;
    min-height: 400px;
    z-index: 1000 !important;
    
    &.popover {
      background-color: var(--surface-frame-background);
      border: 1px solid var(--divider);
    }
  }

  &__popover-inner {
    width: 100%;
    height: 100%;
  }
}
