.FilterSetsDropdown {
  &__list {
    overflow-y: auto;
    max-height: 200px;
    padding: 15px 0;
    background-color: var(--dropdown-surface-background);

    &-row {
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
      font-size: 11px;
      font-weight: 500;
      color: var(--dropdown-options-color-default);
      text-transform: uppercase;
    }

    &-sort {
      position: relative;
      display: inline-flex;
      align-items: center;
      transition: .2s ease;
      cursor: pointer;

      &:hover {
        color: var(--dropdown-options-background-focus);
      }

      &:hover &-icon {
        opacity: 1;
        fill: var(--dropdown-options-background-focus);
      }

      &-icon {
        width: 11px;
        height: 11px;
        margin-right: 4px;
        transition: .2s ease;
        opacity: 0.6;
        fill: var(--form-icon-button-default);
      }
    }
  }

  &__not-found {
    padding: 15px 18px;
    font-size: 10px;
    color: var(--dropdown-options-color-default);
    background-color: var(--form-background-default);
  }
}