.MigrateButton {
  background-image: linear-gradient(to left, #24bdee, #4a90e2);
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  line-height: 28px;
  padding: 0 16px;
  margin-right: 15px;
  transition: all 0.1s ease-in-out;
  display: inline-block;
  vertical-align: top;
  height: 28px;

  &:hover {
    background-image: linear-gradient(to left, #1DB8ED, #297BDC);
  }
}