.DatePickerAdditional {
  padding: 10px 0 0 15px;
  border-left: 1px solid #eee;

  &__items {
    grid-column: span 2;
    column-count: 2;
    grid-gap: 30px;
  }

  &__item {
    color: #000;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 5px;
    padding: 0 15px;
    white-space: nowrap;
    height: 30px;

    &:not(.DatePickerAdditional__item--selected) {
      cursor: pointer;

      &:hover {
        background-color: #e4f7ff;
      }
    }

    &--selected {
      background-color: #D6F1FF;
    }
  }

  & hr {
    margin: 0;
  }
}
