.AccountProfileOrdersGrid {
  &__cell-value {
    font-weight: 700;

    &:hover {
      .AccountProfileOrdersGrid__edit-button {
        display: inline-block;
      }
    }

    &--pointer {
      cursor: pointer;
    }

    &--upper {
      text-transform: uppercase;
    }
  }

  &__cell-value-add {
    font-size: 11px;
  }

  &__uuid {
    width: 110%;
    height: 37px;
  }

  &__edit-button {
    display: none;
    margin-left: 10px;
    position: absolute;
    top: 4px;
  }
}
