.Table {
  background: var(--surface-frame-background);
  border-left: 1px solid var(--divider);
  border-right: 1px solid var(--divider);
  position: relative;

  &__scroll-x {
    overflow-x: auto;

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar { width: 0; height: 0; }
  }

  &__scroll-y {
    overflow-y: auto;
  }

  &--loader {
    background-color: var(--surface-page-background);
    padding-top: 7px;
    padding-bottom: 20px;
  }

  &__table {
    width: 100%;
    margin-top: -54px;
  }

  &__head {
    opacity: 0;
    color: var(--text-secondary);
    font-size: 12px;
    line-height: 1.4em;
    text-transform: uppercase;
    z-index: 1;
    border-bottom: 1px solid var(--divider);
  }

  &__head-fixed {
    position: sticky;
    overflow-x: auto;
    z-index: 2;

    &:before {
      content: '';
      border-top: 1px solid var(--divider);
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
    }
  }

  &__cell-fixed {
    display: flex;
    align-items: center;
    padding-bottom: 0;
    box-shadow: var(--box-shadow-color);
  }

  &__row-fixed {
    display: flex;
    color: var(--text-secondary);
    font-size: 12px;
    text-transform: uppercase;
  }

  &__body-row {
    background: var(--surface-page-background);
    border-bottom: 1px solid var(--divider);
    color: var(--text-primary);

    &:hover {
      background: var(--table-background-default-hover);
    }

    &--selected {
      background-color: var(--table-background-selected);

      &:hover {
        background-color: var(--table-background-selected-hover);
      }
    }
  }

  &__cell {
    padding: 15px 10px;
    font-weight: 400;
    word-wrap: break-word;
    vertical-align: top;

    // Padding only for first column without multiselect
    &:first-child:not(.Table__cell--multiselect) {
      padding-left: 15px;
    }

    &:last-child {
      padding-right: 15px;
    }
  }

  &__head-cell {
    padding-top: 15px;
    padding-bottom: 12px;
    height: 52px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-top: 1px solid var(--divider);
      background: var(--surface-page-background);
      z-index: -1;
    }

    &:not(:last-child):after {
      border-right: 1px solid var(--divider);
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-bottom: 1px solid var(--divider);
    }

    &--sticky {
      position: sticky;
    }

    &--with-sorting {
      cursor: pointer;

      &:hover {
        &:after {
          background: var(--table-background-default-hover);
        }

        & path {
          fill: var(--button-icon-button-default);
        }
      }
    }

    &--sorted-by-asc,
    &--sorted-by-desc {
      color: var(--active);
      font-weight: 600;

      .Table__head-cell-sort {
        & path {
          fill: var(--active);
        }

        &:hover {
          color: var(--active);

          & path {
            fill: var(--active);
          }
        }
      }
    }

    &--sorted-by-asc {
      & svg {
        transform: translateY(-3px);
      }

      & path {
        &:first-child {
          fill: transparent;
        }
      }
    }

    &--sorted-by-desc {
      & svg {
        transform: translateY(3px);
      }

      & path {
        &:last-child {
          fill: transparent;
        }
      }
    }
  }

  &__head-cell-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--full {
      width: 100%;
    }
  }

  &__head-cell-sort {
    margin-left: 10px;

    & svg {
      transition: transform 0.2s ease;
      display: block;
      height: 10px;
      width: 5px;
    }

    & path {
      fill: var(--button-icon-button-default);
      transition: fill 0.2s ease;
    }
  }

  &__cell-checkbox {
    background: var(--dropdown-options-background-default);
    position: sticky;
    left: 0;
    z-index: 1;
    min-width: 46px;
    width: 46px;

    &:after {
      content: "";
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
      border-right: 1px solid var(--divider);
    }
  }

  &--no-content {
    .Table__head-cell {
      text-overflow: ellipsis;
    }

    .Table__body-cell {
      min-width: 100%;
      text-align: center;
      font-size: 16px;
      font-weight: 300;
      color: var(--text-primary);
    }

    // Hide hovering for row if no content available
    .Table__body-row {
      &:hover {
        background: transparent;
      }
    }
  }

  // Table checkbox
  &__checkbox {
    width: 25px;
    height: 25px;
    border: 1px solid var(--checkbox-unselected-border-default);
    border-radius: 3px;
    background-color: var(--checkbox-unselected-background-default);
    transition: 0.1s ease;
    cursor: pointer;
    color: var(--text-secondary);

    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: 5px;
      width: 2px;
      border-radius: 1px;
      background-color: var(--checkbox-selected-color-default);
    }

    &:hover {
      color: var(--text-secondary);
      border: 1px solid var(--checkbox-unselected-border-hover);
      background-color: var(--checkbox-unselected-background-hover);
      &:before,
      &:after {
        background-color: var(--checkbox-selected-color-hover);
      }
    }
    &:focus {
      border: 1px solid var(--checkbox-unselected-border-focus);
      background-color: var(--checkbox-unselected-background-focus);
      &:before,
      &:after {
        background-color: var(--checkbox-selected-color-focus);
      }
    }

    &:before {
      transform: rotate(35deg);
      height: 15px;
      left: 12px;
    }

    &:after {
      transform: rotate(-35deg);
      height: 7px;
      left: 6px;
    }

    &--is-active {
      border: 1px solid var(--checkbox-selected-border-default);
      background-color: var(--checkbox-selected-background-default);
      &:hover {
        border: 1px solid var(--checkbox-selected-border-hover);
        background-color: var(--checkbox-selected-background-hover);
        &:before,
        &:after {
          background-color: var(--checkbox-selected-color-hover);
        }
      }
      &:focus {
        border: 1px solid var(--checkbox-selected-border-focus);
        background-color: var(--checkbox-selected-background-focus);
        &:before,
        &:after {
          background-color: var(--checkbox-selected-ащсгы-content);
        }
      }
    }

    &--is-disabled:after {
      content: none;
    }

    &--is-disabled:before {
      content: none;
    }

    &--without-check {
      &:before {
        transform: rotate(90deg) translateY(2px);
      }

      &:after {
        background-color: transparent;
        transform: rotate(90deg);
      }

      &:hover {
        &:after {
          background-color: transparent;
        }
      }
    }
  }
}
