.Table {
  &--loader {
    padding-top: 7px;
    padding-bottom: 20px;
  }

  &__table {
    width: 100%;
  }

  &__head {
    color: #666;
    font-size: 12px;
    line-height: 1.4em;
    text-transform: uppercase;
    z-index: 2;
  }

  &__body-row {
    border-bottom: 1px solid #dfe4ed;

    &:hover {
      background: #f8f8f8;
    }

    &--selected {
      background-color: #eef3f8;

      &:hover {
        background-color: #e9eff7;
      }
    }
  }

  &__cell {
    padding: 15px 10px;
    font-weight: 400;
    word-break: break-word;
    vertical-align: top;

    &:last-child {
      padding-right: 20px;
    }
  }

  &__head-cell {
    padding-top: 15px;
    padding-bottom: 12px;
    height: 52px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    background: #ffffff;

    &:not(:last-child):after {
      content: "";
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
      border-right: 1px solid #dfe4ed;
    }

    &:before {
      content: "";
      position: absolute;
      height: 100%;
      left: -2px;
      right: -2px;
      bottom: 0;
      box-shadow: 0 4px 2px -2px #bcbcbc;
    }

    &--sticky {
      position: sticky;
    }

    &--with-sorting {
      cursor: pointer;

      &:hover {
        background: #f5f5f5;

        & path {
          fill: #555;
        }
      }
    }

    &--sorted-by-asc,
    &--sorted-by-desc {
      color: #0190DA;
      font-weight: 600;

      .Table__head-cell-sort {
        & path {
          fill: #0190DA;
        }

        &:hover {
          color: #0190DA;

          & path {
            fill: #0190DA;
          }
        }
      }
    }

    &--sorted-by-asc {
      & svg {
        transform: translateY(-3px);
      }

      & path {
        &:first-child {
          fill: transparent;
        }
      }
    }

    &--sorted-by-desc {
      & svg {
        transform: translateY(3px);
      }

      & path {
        &:last-child {
          fill: transparent;
        }
      }
    }
  }

  &__head-cell-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__head-cell-sort {
    margin-left: 10px;

    & svg {
      transition: transform 0.2s ease;
      display: block;
      height: 10px;
      width: 5px;
    }

    & path {
      fill: #cfcfcf;
      transition: fill 0.2s ease;
    }
  }

  &__body-cell {
    &--checkbox {
      &:after {
        content: "";
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        border-right: 1px solid #dfe4ed;
      }
    }
  }

  &--no-content {
    .Table__head-cell {
      text-overflow: ellipsis;
    }

    .Table__body-cell {
      min-width: 100%;
      text-align: center;
      font-size: 16px;
      font-weight: 300;
    }

    // Hide hovering for row if no content available
    .Table__body-row {
      &:hover {
        background: transparent;
      }
    }
  }

  // Table checkbox
  &__checkbox {
    width: 25px;
    height: 25px;
    border: 1px solid currentColor;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.1s ease;
    cursor: pointer;
    color: #ccc;

    &:hover {
      color: #9b9b9b;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: 5px;
      width: 2px;
      border-radius: 1px;
      background-color: currentColor;
    }

    &:before {
      transform: rotate(35deg);
      height: 15px;
      left: 12px;
    }

    &:after {
      transform: rotate(-35deg);
      height: 7px;
      left: 6px;
    }

    &--is-active {
      color: #5287bd;

      &:hover {
        color: #3f8edd;
      }
    }

    &--without-check {
      &:before {
        transform: rotate(90deg) translateY(2px);
      }

      &:after {
        background-color: transparent;
        transform: rotate(90deg);
      }

      &:hover {
        &:after {
          background-color: transparent;
        }
      }
    }
  }
}
