.Table {
  overflow: auto;

  &__table {
    width: 100%;
  }

  &__head {
    color: #666;
    font-size: 12px;
    line-height: 1.4em;
    text-transform: uppercase;
    transition: color 0.2s ease;
    border-bottom: 1px solid #eff1f3;
  }

  &__body-row {
    &:not(:last-child) {
      border-bottom: 1px solid #eff1f3;
    }
  }

  &__cell {
    box-sizing: border-box;
    white-space: nowrap;
    padding: 15px 10px;
    font-weight: 400;

    &--sticky {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 2;
      background: #ffffff linear-gradient(90deg, transparent 0%, transparent calc(100% - .05em), #eff1f3 calc(100% - .05em), #eff1f3 100%);
    }

    &:last-child {
      padding-right: 20px;
    }
  }

  &__head-cell {
    padding-top: 32px;
    padding-bottom: 15px;
    text-align: left;
  }

  &--no-content {
    .Table__head-cell {
      max-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .Table__body-cell {
      min-width: 100%;
      text-align: center;
      font-size: 16px;
      font-weight: 300;
    }
  }
}


.Table {
  background:
    radial-gradient(farthest-side at 0% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)) 100% 0;
  background-repeat: no-repeat;
  background-size: 10px 100%;
}

.Table__table {
  background:
    linear-gradient(to right, white 30%, rgba(255,255,255,0)),
    linear-gradient(to left, white 30%, rgba(255,255,255,0)) 100% 0;
  background-size: 50px 100%;
  background-repeat: no-repeat;
}
