.campaign-settings {
  padding: 30px 15px 15px;
  &__title {
    font-size: 20px;
  }
  .form-row {
    margin-right: -5px;
    margin-left: -5px;
    .form-group {
      margin-bottom: 0;
    }
  }
}

.add-campaign {
  &-setting {
    justify-content: center;
    .form-group {
      margin-right: 10px;
      margin-bottom: 0;
    }
  }
  &-container {
    position: relative;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f2f2f2;
    color: #333;
    input[type="checkbox"] {
      margin-right: 2px;
      vertical-align: middle;
    }
  }
  &-label {
    font-size: 16px;
    font-weight: 700;
    color: #333;
  }
  &-remove {
    padding: 0;
    font-size: 24px;
    font-weight: 300;
  }
}

.free-spin-card {
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  padding-left: 5px;
  background-color: #f3f9fe;
  text-align: center;
  height: 100%;
  justify-content: center;
  &-values {
    font-family: ArialMT, Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
    color: #1E1E1E;
  }
  &-label {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 11px;
    color: #666;
  }
}

.linked-campaign {
  &-label {
    font-size: 16px;
    font-weight: 700;
    color: #333;
  }
  &-remove {
    position: absolute;
    top: 3px;
    right: 5px;
    font-size: 24px;
    font-weight: 300;
  }
  &-container {
    min-height: 110px;
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
  }
  &-empty {
    color: #fb434a;
  }
}

.select-disabled-container {
  background-color: #f6f6f6;
  padding: 7px;
  border-radius: 3px;
  min-height: 38px;
  border: 1px solid #cfcfcf;
  font-size: 15px;
}

.nas-currencies_icon {
  top: 10px;
  right: 6px;
  cursor: pointer;
  font-size: 20px;
  &:before {
    color: #000;
  }
  &:hover:before {
    color: #58abee;
  }
}
