.DesksGrid {
  background-color: var(--surface-page-background);

  &__cell {
    &-primary {
      font-weight: 700;
    }

    &-secondary {
      font-size: 11px;
    }
  }

  &__edit-button {
    margin-right: 15px;
  }
}
