.bonus-list-tab {
  .well {
    margin: 0 -25px;
    border: none;
  }
  .well label {
    margin-bottom: 0;
    padding-left: 2px;
  }
  .btn-sm {
    padding: 2px 15px;
  }

  .table>thead>tr>th,
  .table>tbody>tr>th,
  .table>tfoot>tr>th,
  .table>thead>tr>td,
  .table>tbody>tr>td,
  .table>tfoot>tr>td {
    border: none;
  }

  .table thead th {
    font-size: 12px;
    color: #666;
    font-weight: 400;
  }
}
