.bonus-list-tab {
  .well {
    margin: 0 -25px;
    border: none;
    padding: 25px
  }
  .well label {
    margin-bottom: 0;
    padding-left: 2px;
  }

  .btn-sm {
    padding: 2px 15px;
  }

  .well .btn-default {
    margin-left: 15px;
  }

  .well .btn-sm:last-child {
    margin: 0;
    float: right;
  }

  .table>thead>tr>th,
  .table>tbody>tr>th,
  .table>tfoot>tr>th,
  .table>thead>tr>td,
  .table>tbody>tr>td,
  .table>tfoot>tr>td {
    border: none;
  }
}
