.AddSourceBrandModal {
  &__row {
    &--amount {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin: 0 -9px;
    }
  }

  &__field {
    &--amount, &--unit {
      padding: 0 9px;
    }

    &--amount {
      flex-grow: 3;
    }

    &--unit {
      flex-grow: 1;
    }
  }

  &__actions {
    border: none;
  }
}
