.SidebarNavItem {
  position: relative;

  &__link {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0;
    border: none;
    background: none;
    font-size: 15px;
    line-height: normal;
    color: var(--navigation-secondary-color);
    transition: color .175s linear;
    cursor: pointer;
    
    &:focus,
    &:hover {
      color: var(--navigation-primary-color);
    }

    &--active {
      color: var(--navigation-primary-color);
      font-weight: 600;
    }
  }

  &__label {
    flex: 0 0 auto;
    display: inline-block;
    margin-right: auto;
    margin-left: 5px;
  }

  &__icon {
    flex: 0 0 60px;
    display: inline-block;
    width: 60px;
    text-align: center;
    font-size: 19px;

    &--operators {
      font-size: 22px;
    }

    &--payments {
      font-size: 15px;
    }

    &--leads {
      font-size: 24px;
    }

    &--trading-accounts {
      font-weight: 600;
      font-size: 20px;
    }
  }

  &__arrow {
    margin-right: 15px;
    font-size: 10px;
  }
}
