.form-page-container {
  position: relative;
  height: 100vh;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  transition: opacity 0.25s linear;
  background-color: #000;
  &.fade {
    opacity: 0;
  }
  .loader {
    height: 124px;
    width: 124px;
    position: absolute;
    left: calc(50% - 62px);
    top: calc(50% - 62px);
    background: url("/img/loader.svg") no-repeat scroll center center transparent;
  }
}

.wrapper {
  height: 95%;
  min-height: 475px;
}

.crm-background {
  background: #000 url("/img/mountain_ani.svg") no-repeat center bottom;
  background-size: 100%;
  .form-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 100vh;
  }
  .wrapper {
    background: none;
  }
  .form-page__form {
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.6);
    border: solid 1px rgba(57, 57, 57, 0.6);
    padding: 50px 50px 30px;
    .form-group label {
      display: none;
    }
  }
  .form-page__form_btn {
    border-radius: 3px;
    border: solid 1px #fff;
    background: none;
    min-width: 107px;
  }
  .form-page__copyright {
    color: rgba(255, 208, 70, 0.5);
  }
}

@keyframes fadeInn{
  0% { opacity:0; }
  100% { opacity:1; }
}

.form-page {
  margin-top: -50px;

  h2 {
    margin-bottom: 20px;
    font-size: 23px;
  }
  &__logo {
    text-align: center;
    padding: 50px 0;
  }
  &__form {
    max-width: 420px;
    margin: 50px auto;
    padding: 30px 45px;
    border-right: 5px solid #4990e2;
    border-left: 5px solid #4990e2;
    border-radius: 5px;
    background-color: #f2f2f2;
    &_submit {
      margin-top: 30px;
      text-align: right;
    }
    &_btn {
      min-width: 137px;
      transition: opacity 0s, visibility 0s;
      text-transform: uppercase;
    }
  }
  &__copyright {
    height: 5%;
    font-size: 14px;
    color: #666;
    text-align: center;
    padding-bottom: 30px;
  }
  &__multibrand {
    display: none;
    &_heading {
      width: 100%;
      text-align: center;
      font-size: 20px;
      font-weight: 300;
      color: #fff;
      text-shadow: 0 2px 4px #000;
      .heading-name {
        font-weight: 600;
      }
    }
    &_call-to-action {
      margin-top: 35px;
      margin-bottom: 30px;
      text-align: center;
      font-size: 25px;
      color: #fff;
      text-shadow: 0 2px 4px #000;
    }
    &_choice {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
    .choice-item {
      display: flex;
      flex-direction: column;
      width: 193px;
      height: 140px;
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: 25px;
      padding-bottom: 8px;
      border-radius: 3px;
      background-color: #000;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
      border: solid 1px #4a4a4a;
      cursor: pointer;
      transition: visibility .4s ease-in-out, opacity .4s ease-in-out;
      &:hover {
        border-color: #fff;
      }
      &__image {
        height: 110px;
        padding: 10px;
      }
      &__label {
        flex: 0 0 auto;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0 2px 4px #000;
        font-size: 15px;
        font-weight: 600;
        line-height: 16px;
        color: #cfcfcf;
      }
      &.remove-block {
        width: 0;
        margin: 0;
        border: 0;
      }
      &.returned-block {
        transform: translateY(0);
        transition: transform .3s ease-in-out;
      }
      &.fadeOut {
        visibility: hidden;
        transition-delay: 1s;
        transition: all .4s ease-in-out;
        opacity: 0;
      }
      &.fadeIn {
        visibility: visible;
        transition-delay: 1s;
        transition: all .4s ease-in-out;
        opacity: 1;
      }
    }
  }
  &__department {
    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
    display: none;
    &_return {
      font-size: 20px;
      font-weight: 300;
      text-align: center;
      color: #9b9b9b;
      text-shadow: 0 2px 4px #000;
      cursor: pointer;
      &::before {
        content: url("../../../public/img/arrow-left-icon.svg");
        position: relative;
        top: 9px;
        right: 5px;
      }
      &:hover {
        color: #fff;
      }
      .return-label {
        font-weight: 600;
      }
    }
    .form-page__multibrand_call-to-action {
      position: relative;
      top: 160px;
    }
    &_block {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      position: relative;
      top: 170px;
    }
    .department-item {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width: 254px;
      height: 171px;
      margin: 0 15px 30px;
      opacity: 0.9;
      border-radius: 3px;
      background-color: #000;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
      border: solid 1px #4a4a4a;
      cursor: pointer;
      &:hover {
        border-color: #fff;
      }
      &_details {
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
        text-align: center;
      }
    }
    .department-name {
      font-size: 20px;
      font-weight: 600;
      line-height: 20px;
      color: #cfcfcf;
      text-shadow: 0 2px 4px #000;
    }
    .department-role {
      font-size: 15px;
      color: #9b9b9b;
      text-shadow: 0 2px 4px #000;
    }
  }
  &__single-brand {
    display: none;
    margin-top: 10px;
    &_brand {
      width: 193px;
      height: 140px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      margin: 30px auto 0;
      border-radius: 3px;
      background-color: #000;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
      border: solid 1px #fff;
      cursor: pointer;
      transition: visibility .4s ease-in-out, opacity .4s ease-in-out;
      &:hover {
        border-color: #fff;
      }
      img {
        flex: 0 0 auto;
        max-width: 140px;
        height: auto;
        margin: auto;
      }
    }
    &_label {
      width: 100%;
      margin-bottom: 9px;
      text-align: center;
      font-size: 15px;
      font-weight: 600;
      line-height: 16px;
      color: #cfcfcf;
      text-shadow: 0 2px 4px #000;
      text-transform: uppercase;
    }
    .form-page__multibrand_call-to-action,
    .form-page__department_block {
      top: 0;
    }
  }
  &__success {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
  }
  &__success-title {
    margin-bottom: 20px;
    font-size: 23px;
    color: #f2f2f2;
  }
}

.chosen {
  .chosen-brand {
    display: flex;
    transform: translateY(-110px);
    transition: transform .3s ease-in-out;
    border: 1px solid #fff;
    opacity: 1;
  }
}

.fadeIn {
  visibility: visible;
  transition: all .4s ease-in-out;
  opacity: 1;
}

.fadeOut {
  visibility: hidden;
  transition: all .4s ease-in-out;
  opacity: 0;
}

.fadeOut-text {
  visibility: hidden;
  transition: all .2s ease-in-out;
  opacity: 0;
}

.fadeInUp {
  animation: fadeInUp .75s;
  display: block;
}

.fadeOutDown {
  visibility: hidden;
  animation: fadeOutDown .3s;
  display: block;
}

.fadeOutLeft {
  visibility: hidden;
  animation: fadeOutLeft .5s;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
  }
}

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
  }
}

.position-absolute {
  position: absolute;
}
