@import "../../styles/mixins/mixins";

body.black-layout {
  color: #333;
  background-color: #000;


  /************************************************/
  /*ICONS*/

  .nas.nas-radio_button_checked:before {
    color: #4990e2;
  }

  .btn {
    outline: none !important;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    padding: 7px 16px;
    line-height: 1.7;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: .25rem;
    cursor: pointer;
  }

  .btn-case-sensitive {
    position: absolute;
    top: 22px;
    right: 5px;
    padding: 0;
    background: transparent;
    border: none;
    font-size: 22px;
  }

  .btn-case-sensitive.is-active {
    color: #4990e2;
  }

  .btn-case-sensitive.is-inactive {
    color: #cfcfcf;
  }

  .btn-case-sensitive:active {
    box-shadow: none;
  }

  .btn-case-sensitive:focus {
    outline: none;
  }

  .btn-primary {
    border: none;
    border-radius: 3px;
    background-image: linear-gradient(to left, #24bdee, #4a90e2);
    color: #fff;
  }

  .btn-primary:hover {
    background-image: linear-gradient(to left, #1DB8ED, #297BDC);
  }

  .btn-danger {
    border: none;
    border-radius: 3px;
    background-image: linear-gradient(to left, #f99939, #f76b1c);
    color: #fff;
  }

  .btn-danger:hover {
    background-image: linear-gradient(to left, #F78717, #F55000);
  }

  .btn-default {
    border: none;
    border-radius: 3px;
    background-image: linear-gradient(to left, #bdbdbd, #979797);
    color: #fff;
  }

  .btn-default:hover {
    background-image: linear-gradient(to left, #B0B0B0, #858585);
  }

  .btn-default-outline {
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #9b9b9b;
    color: #9b9b9b;
  }

  .btn-default-outline:hover {
    background-color: #F4F4F4;
  }

  .btn-primary-outline {
    border-color: #4990e2;
    color: #4990e2;
  }

  .btn-danger-outline {
    border-color: #d0011b;
    color: #d0011b;
  }

  .btn-sm {
    padding: 3px 20px 2px;
    font-size: 13px;
    font-weight: 300;
  }

  .btn-icon {
    padding: 4px 10px 0;
    font-size: 21px;
  }

  .btn-remove-filter {
    position: absolute;
    top: 2px;
    right: 0;
    padding: 0;
    background: transparent;
    border: none;
    font-size: 12px;
  }

  .btn-remove-filter .nas.icon-in-label:before {
    color: #d0011b;
  }

  button.btn:disabled,
  button.btn[disabled] {
    background: #D3D3D3;
    color: #fff;
  }

  button.btn.btn-default-outline:disabled,
  button.btn.btn-default-outline[disabled] {
    background: #fff;
    color: #CDCDCD;
    border-color: #CDCDCD;
  }
}
