.TradingAccountsList {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 47px;
    padding: 25px;
    background-color: var(--surface-page-background);
    border-bottom: 1px solid var(--divider);
    font-size: 20px;
    z-index: 7;
  }
}
