.Notification {
  padding: 10px 30px 10px 15px;
  color: var(--state-colors-content);
  opacity: 0.9;

  &--info {
    background: var(--state-colors-info);
  }

  &--warning {
    background: var(--state-colors-warning);
  }

  &--error {
    background: var(--state-colors-danger);
  }

  &--success {
    background: var(--state-colors-success);
  }

  &__title {
    font-weight: bold;
  }
}
