.AdjustableTable {
  &__no_columns {
    background-color: #fff;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-weight: 700;
    color: #999999;
  }
}
