.ReactSwitch {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &--label-top {
    flex-direction: column-reverse;

    .ReactSwitch__label {
      margin-bottom: 2px;
    }
  }

  &--label-bottom {
    flex-direction: column;

    .ReactSwitch__label {
      margin-top: 2px;
    }
  }

  &--label-right {
    flex-direction: row;

    .ReactSwitch__label {
      margin-left: 7px;
    }
  }

  &--label-left {
    flex-direction: row-reverse;

    .ReactSwitch__label {
      margin-right: 7px;
    }
  }

  &__button {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
    padding: 0;
    border: none;
    border-radius: 8px;
    background-color: rgba(153, 153, 153, 1);
    vertical-align: middle;

    &--on {
      background-color:green;

      .ReactSwitch__switch-toggle {
        left: 16px;
      }
    }

    &--disabled {
      cursor: not-allowed;
    }
  }

  &__switch-toggle {
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    transition: left .2s ease-in-out;
  }
}
