.AccountProfileOrdersGrid {
  &__header {
    height: 110px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--surface-page-background);
  }

  &__title {
    display: block;
    font-size: 20px;
  }

  &__selected {
    color: var(--accent);
    font-size: 14px;
  }

  &__cell-value {
    font-weight: 700;

    &:hover {
      .AccountProfileOrdersGrid__edit-button {
        display: inline-block;
      }
    }

    &--pointer {
      cursor: pointer;
    }

    &--upper {
      text-transform: uppercase;
    }
  }

  &__cell-value-add {
    font-size: 11px;
  }

  &__type {
    &--buy {
      color: var(--state-colors-success);
    }

    &--sell {
      color: var(--state-colors-danger);
    }
  }

  &__status {
    &--pending {
      color: var(--state-colors-info);
    }

    &--open {
      color: var(--state-colors-success);
    }
  }

  &__cell-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__cell-actions-dropdown {
    margin-left: 5px;
  }
}
