.FilesGrid {
  &__client-name {
    cursor: pointer;
    font-weight: 700;
    &:hover {
      color: var(--accent);
    }
  }

  &__time,
  &__uuid {
    font-size: 11px;
  }

  &__date,
  &__category,
  &__file-title,
  &__document-type {
    font-weight: 700;
  }
}
