.DistributionRuleHeader {
  background-color: var(--surface-page-background);
  border-bottom: 1px solid var(--divider);
  padding: 25px;
  position: sticky;
  top: 48px;
  z-index: 51;

  &__title {
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
  }

  &__edit-icon {
    margin-left: 10px;
  }
}
