.LeadsUploadModal {
  &__desc {
    margin-bottom: 20px;

    &-title,
    &-subtitle {
      text-align: center;
    }

    &-title {
      font-weight: 700;
      margin-bottom: 5px;
    }

    &-subtitle {
      a {
        color: var(--accent);
        text-decoration: underline;
      }
    }
  }

  &__dropzone {
    width: 100%;
    height: 100%;
    border: 2px dashed var(--divider);
    border-radius: 3px;

    &-active {
      border-style: solid;
    }

    &-accept {
      border-style: solid;
    }

    &-content {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      padding: 80px 0;
    }

    &-upload-image {
      margin-right: 37px;
    }

    &-info {
      p {
        color: var(--accent);
        font-size: 15px;
        margin: 0;
        padding-bottom: 10px;
      }
    }

    &-button {
      background: transparent;
      border-radius: 2.5px;
      font-size: 14px;
      font-weight: 600;
      padding: 10px 30px;
    }

    &--submitting {
      opacity: 0.5;
    }
  }
}
