.DateRangePicker {
  display: block;
}

.DateRangePickerInput {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 39px;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
}

.DateRangePickerInput_calendarIcon {
  padding: 0;
  margin-right: 8px;
  margin-left: auto;
  font-size: 18px;
  color: #9b9b9b;
  &:hover {
    color: #000;
  }
}

.DateInput {
  width: 100px;
  position: static;
}

.DateInput_input {
  padding: 0 10px;
  border-bottom: none;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  color: #4a4a4a;
}

.DateInput_fang {
  top: 34px !important;
  left: auto;
  right: 6px;
  z-index: 1;
}

.DateRangePickerInput_arrow {
  color: #9b9b9b;
}

.DateRangePicker_picker {
  top: 44px !important;
  z-index: 1;
}

.DayPicker_weekHeaders {
  position: absolute;
  top: 62px;
  left: 15px;
}

.DayPicker_weekHeader {
  position: relative;
  top: 0;
  small {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #3391d8;
  }
}

.CalendarMonth_caption {
  padding-top: 12px;
  padding-bottom: 55px;
  color: #fff;
  strong {
    font-weight: 500;
  }
}

.DayPicker {
  width: auto !important;
  border: 1px solid #cfcfcf;
  box-shadow: 0 2px 23px 0 #ededed;
  > div {
    display: flex;
  }
}

.DayPicker_focusRegion {
  position: relative;
  z-index: 1;
  &::after {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: -1;
    display: block;
    height: 50px;
    border-top-left-radius: 3px;
    background: linear-gradient(to left, #24bdee, #4a90e2);
  }
}

.CalendarMonthGrid,
.CalendarMonth {
  background-color: transparent;
}

.DayPickerNavigation_button {
  border: none;
  border-radius: 0;
  background: transparent;
  color: #fff;
  top: 10px;
  font-size: 24px;
  padding: 2px;
}

.DayPickerNavigation_leftButton__horizontal {
  left: 30px;
}

.DayPickerNavigation_rightButton__horizontal {
  right: 30px;
}

.DayPicker_weekHeaders__horizontal {
  margin-left: 0;
}

.DayPicker_weekHeader {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

.DayPicker_weekHeader_li {
  width: 51px !important;
}

.DayPicker_transitionContainer {
  width: 386px !important;
}

.CalendarMonthGrid_month__horizontal {
  width: 386px;
}

.CalendarMonthGrid__horizontal {
  left: 0;
}

.CalendarMonth_table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 4px;
}

.CalendarDay_container {
  height: 30px !important;
  padding-top: 1px;
  padding-bottom: 1px;
  border: none;
  &:hover {
    border: none;
    background-color: transparent;
  }
}

.CalendarDay_button {
  width: 41px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  color: #4a4a4a;
  &:hover {
    cursor: pointer;
    border-color: #e0e0e0;
    background-color: transparent;
    color: #000;
  }
}

.CalendarDay__selected .CalendarDay_button {
  position: relative;
  font-size: 16px;
  color: #fff;
  z-index: 0;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: linear-gradient(to left, #25bdee, #4a90e2);
    z-index: -1;
  }
  &:hover {
    border-color: transparent;
  }
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  border-color: transparent;
  background-color: transparent;
}

.CalendarDay__selected_start,
.CalendarDay__selected_end {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(74, 144, 226, 0.1);
  }
}

.CalendarDay__selected_start::after {
  right: 0;
}

.CalendarDay__selected_end::after {
  left: 0;
}

.CalendarDay__hovered_span {
  background-color: rgba(74, 144, 226, 0.1);
  &:hover {
    border-color: transparent;
  }
}

.CalendarDay__selected_span {
  background-color: rgba(74, 144, 226, 0.1);
}

.CalendarDay__selected_span:active {
  border: none;
  background-color: rgba(74, 144, 226, 0.1);
}

.CalendarDay__selected_span:hover {
  background-color: rgba(74, 144, 226, 0.1);
  .CalendarDay_button {
    border-color: transparent;
  }
}

.CalendarDay__today .CalendarDay_button {
  background-color: rgba(105, 226, 74, 0.15);
  color: #000;
}

.CalendarDay__today.CalendarDay__selected_end .CalendarDay_button {
  background-color: transparent;
  color: #fff;
}

.CalendarDay__outside .CalendarDay_button {
  font-weight: 400;
  color: #b7b7b7;
}

.CalendarDay__outside.CalendarDay__selected_span .CalendarDay_button {
  font-weight: 600;
  color: #4a4a4a;
}

.CalendarDay__outside.CalendarDay__selected .CalendarDay_button {
  color: #fff;
}

.presetsBlock {
  width: 190px;
  position: relative;
  border-left: 1px solid #eee;
  &::before,
  &::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    height: 24px;
  }
  &::before {
    top: 34px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), #fff);
  }
  &::after {
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
  }
  &__title {
    padding: 20px 10px 10px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #9b9b9b;
  }
  ul {
    max-height: 278px;
    overflow-y: auto;
    margin: 0;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    list-style: none;
  }
  li {
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 6px 15px;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #4a4a4a;
    &:hover {
      border-color: #e0e0e0;
      cursor: pointer;
    }
  }
  li.active {
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    background-image: linear-gradient(270deg,#25bdee,#4a90e2);
    color: #fff;
    &:hover {
      border-color: transparent;
    }
  }
}
