.DistributionRuleSettings {
  margin-bottom: 40px;

  &__headline {
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 600;
  }

  &__form {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);

    &-field {
      margin-bottom: 0;
    }
  }
}
