.ClientsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 48px;
  height: 110px;
  padding: 25px;
  background-color: var(--surface-page-background);
  border-bottom: 1px solid var(--divider);
  z-index: var(--z-index-sticky);

  &__title {
    font-size: 20px;
  }

  &__selected {
    color: var(--accent);
    font-size: 14px;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__filters-toggler-button {
    margin-left: 20px;
  }
}
