.ChangeUnauthorizedPasswordModal {
  &__header {
    background-color: #ff8041;
  }

  &__error {
    color: #fb434a;
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__subtitle {
    color: #333;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
  }
}