.ChangeUnauthorizedPasswordModal {
  &__header {
    background: var(--window-header-background-warning);
  }

  &__error {
    color: var(--state-colors-danger);
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__subtitle {
    color: var(--text-primary);
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
  }
}