$orange: #ff6600;
$green: #009900;
$purple: #6600ff;
$blue: #0066ff;
$pink: #cc00ff;
$carrot: #b93703;

.users-panel {
  &-title {
    display: flex;
    align-items: center;
    height: 60px;
    width: 94%;
    margin: 0px auto;
    .header-text {
      color: #fff;
      font-size: 22px;
      margin-right: auto;
    }
    div[class^='icon-'] {
      margin-left: 20px;
      color: #9b9b9b;
      font-size: 22px;
      cursor: pointer;
    }
  }
  &-content {
    position: fixed;
    top: 48px;
    right: 0;
    bottom: 0;
    left: 60px;
    iframe {
      display: block;
      position: relative;
      top: 0px;
    }
  }
  &-footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 54px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 4px 20px 4px 70px;
    background-color: #333;
    opacity: 0.9;
    visibility: visible;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.149019607843137);
    color: #ccc;
    overflow: hidden;
    z-index: 1;
    &__close {
      min-width: 1px;
      margin-left: auto;
      font-size: 24px;
      color: #cfcfcf;
      &:hover {
        color: #fff;
      }
    }
    &.with-border {
      border-top: 4px solid transparent;
      box-shadow: none;
    }
    &.with-border-orange {
      border-top-color: $orange;
    }
    &.with-border-green {
      border-top-color: $green;
    }
    &.with-border-purple {
      border-top-color: $purple;
    }
    &.with-border-blue {
      border-top-color: $blue;
    }
    &.with-border-pink {
      border-top-color: $pink;
    }
    &.with-border-carrot {
      border-top-color: $carrot;
    }
  }
  &-opened {
    .users-panel-content {
      background-color:rgba(0, 0, 0, .8);
      z-index: 1;
    }
    .user-panel-content-frame {
      width: 94%;
      border-top: 5px solid transparent;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      &-orange {
        border-top-color: $orange;
      }
      &-green {
        border-top-color: $green;
      }
      &-purple {
        border-top-color: $purple;
      }
      &-blue {
        border-top-color: $blue;
      }
      &-pink {
        border-top-color: $pink;
      }
      &-carrot {
        border-top-color: $carrot;
      }
    }
  }
}
