.ClientLastIps {
  &__title {
    color: var(--text-secondary);
    font-size: 11px;
    text-transform: uppercase;
  }

  &__content {
    background-color: var(--surface-frame-background);
    border: 1px solid var(--surface-frame-border);
    border-radius: 5px;
    font-size: 13px;
    padding: 7px;
    overflow: auto;
    height: 200px;
  }

  &__ip {
    margin-bottom: 2px;

    &-flag {
      margin-right: 10px;
    }
  }
}
