.DistributionRuleScheduleSettings {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 30px;
  background-color: var(--surface-page-background);

  &__days-item {
    margin-right: 35px;
    text-transform: uppercase;
  }
}
