/*
 * GLOBAL STYLES
 */
html {
  font-size: 14px;
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  font-family: "Open Sans", sans;
  background-color: #f2f2f2;
  overflow-x: hidden;
  color: #514d6a;
}

a {
  color: #827ca1;
  -webkit-transition: all 0.05s ease-in-out;
  -o-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
}

a:hover, a:focus {
  color: #0088ff;
  text-decoration: none;
  -webkit-transition: all 0.05s ease-in-out;
  -o-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
}

.modal-open nav.top-menu {
  padding-right: 15px;
}

.modal-open:not([style]) nav.top-menu {
  padding-right: 0px !important;
}

/*
 * PAGE CONTENT
 */
.page-content {
  padding: 25px;
}

/*
 * PANELS
 */
.page-content-inner > .panel:last-child {
  margin-bottom: 0px;
}

.panel {
  background: #ffffff;
  border: 1px solid #dfe4ed;
  padding: 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 25px;
}

.panel .panel:last-child {
  margin-bottom: 0px;
}

.panel .panel-heading {
  padding: 25px;
}

.panel .panel-heading + .panel-body {
  padding-top: 0px;
}

.panel .panel-heading h1:last-child, .panel .panel-heading h2:last-child, .panel .panel-heading h3:last-child, .panel .panel-heading h4:last-child, .panel .panel-heading h5:last-child, .panel .panel-heading h6:last-child,
.panel .panel-heading .h1:last-child, .panel .panel-heading .h2:last-child, .panel .panel-heading .h3:last-child, .panel .panel-heading .h4:last-child, .panel .panel-heading .h5:last-child, .panel .panel-heading .h6:last-child {
  margin-bottom: 0px;
}

.panel .panel-heading .dropdown-inline-button {
  padding: 0px;
}

.panel .panel-body {
  padding: 25px;
}

.panel .panel-body + .panel-footer {
  padding-top: 0px;
}

.panel.panel-with-borders > .panel-heading {
  border-bottom: 1px solid #dfe4ed;
}

.panel.panel-with-borders > .panel-body {
  padding-top: 25px;
}

.panel.panel-with-borders > .panel-footer {
  border-top: 1px solid #dfe4ed;
  margin-top: -1px;
  padding-top: 25px;
}

/*
 * BREADCRUMB
 */
.breadcrumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: none;
}

.breadcrumb > li:before {
  display: none;
}

.breadcrumb > li:after {
  padding-right: .5rem;
  padding-left: .5rem;
  color: #bbb8cb;
  content: "/";
}

.breadcrumb > li:last-child:after {
  display: none;
}

/*
 * SINGLE PAGE BLOCK
 */
body.full-height {
  height: 100%;
}

body.full-height .page-content {
  height: 100%;
  padding: 0px;
}

body.full-height .page-content .page-content-inner {
  background-size: cover;
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 991px) {
  body.full-height .single-page-block {
    padding: 0px 20px;
  }

  body.full-height .single-page-block-header,
  body.full-height .single-page-block-footer {
    padding: 40px 20px;
  }
}

body.full-height .single-page-block {
  color: #ffffff;
}

body.full-height .single-page-block a {
  color: #ffffff;
}

body.full-height .single-page-block a:hover {
  text-decoration: underline;
}

.single-page-block {
  padding: 80px 20px 80px;
  width: 100%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  position: relative;
  z-index: 2;
}

.single-page-block .single-page-block-inner {
  min-width: 300px;
  max-width: 500px;
  margin: 0px auto;
  padding: 5px 40px 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.single-page-block .single-page-block-inner h3 {
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
}

.single-page-block .avatar {
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
}

.single-page-block .blur-placeholder {
  position: absolute;
  z-index: 1;
  background-size: cover;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  opacity: .8;
}

.single-page-block .single-page-block-form {
  position: relative;
  z-index: 2;
}

.single-page-block .single-page-block-form input.form-control {
  border-color: #e6e6e6 !important;
  opacity: 0.7;
}

.single-page-block .single-page-block-form input.form-control:focus {
  opacity: 1;
}

.single-page-block .single-page-block-form .input-group-addon {
  border-color: #ffffff !important;
  opacity: 0.7;
}

.single-page-block .single-page-block-form .input-group-addon:hover {
  opacity: 1;
}

.single-page-block .single-page-block-form .form-actions {
  border-top-color: rgba(255, 255, 255, 0.4);
}

.single-page-block .single-page-block-form .form-input-icon i {
  color: #514d6a;
}

.single-page-block-header {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  width: 100%;
  color: #ffffff;
  padding: 40px;
}

.single-page-block-header .logo {
  max-width: 150px;
  height: 50px;
}

.single-page-block-header .logo img {
  max-width: 100%;
  max-height: 100%;
}

.single-page-block-header .single-page-block-header-menu {
  text-align: right;
}

@media (max-width: 991px) {
  .single-page-block-header .single-page-block-header-menu {
    text-align: left;
    margin-top: 30px;
  }

  .single-page-block-header .single-page-block-header-menu ul li {
    margin-bottom: 10px;
  }
}

.single-page-block-header .single-page-block-header-menu ul {
  font-size: 16px;
}

.single-page-block-header .single-page-block-header-menu ul li {
  margin-right: 20px;
  text-transform: uppercase;
}

.single-page-block-header .single-page-block-header-menu ul li:last-child {
  margin-right: 0px;
}

.single-page-block-header .single-page-block-header-menu ul li.active a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.single-page-block-header .single-page-block-header-menu ul li a {
  color: #ffffff !important;
  line-height: 1.4;
  display: inline-block;
  font-weight: bold;
}

.single-page-block-header .single-page-block-header-menu ul li a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.single-page-block-footer {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  width: 100%;
  padding: 40px;
  color: white;
}

.single-page-block-footer ul {
  margin-bottom: 0;
}

.single-page-block-footer ul li {
  margin-right: 20px;
  text-transform: uppercase;
}

.single-page-block-footer ul li:last-child {
  margin-right: 0;
}

.single-page-block-footer ul li a {
  color: #bbb8cb !important;
  line-height: 1.4;
  display: inline-block;
}
