.FileButton {
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid var(--button-secondary-border-default);
  background-color: var(--button-secondary-background-default);
  color: var(--button-secondary-color-default);
  cursor: pointer;

  &:hover {
    border: 1px solid var(--button-secondary-border-hover);
    background-color: var(--button-secondary-background-hover);
    color: var(--button-secondary-color-hover);
  }

  &:focus {
    border: 1px solid var(--button-secondary-border-focus);
    background-color: var(--button-secondary-background-focus);
    color: var(--button-secondary-color-focus);
  }

  &:disabled {
    border: 1px solid var(--button-secondary-border-disabled);
    background-color: var(--button-secondary-background-disabled);
    color: var(--button-secondary-color-disabled);
  }
  
  input[type="file"] {
    display: none;
  }
}
