.NewOrderModal {
  width: 1200px;

  &__container {
    display: flex;
  }

  &__container-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 20px;
  }

  &__container-right {
    width: 100%;
  }

  &__chart {
    height: 100%;
  }

  &__field-container {
    display: flex;
    align-items: flex-end;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__error {
    color: var(--state-colors-danger);
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__field {
    width: 100%;
    margin-bottom: 0;
  }

  &__button {
    width: 33%;
    text-align: center;
    margin-left: 15px;
  }

  &__account {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 8px;
    border: 1px solid var(--divider);
    border-radius: 3px;
  }

  &__account-label {
    font-weight: 600;
  }

  // Tabs styling
  &__tabs-nav {
    display: flex;
    background: transparent;
    padding: 0;
  }

  &__tabs-nav-item {
    width: 100%;
    padding: 5px 20px;
    text-align: center;


  }

  &__tabs-content {
    padding: 10px 0 0;
  }
}
