.EmailPreview {
  &__label {
    font-size: 15px;
    font-weight: 600;
  }

  &__body {
    margin-top: 5px;
    padding: 5px;
    min-height: 100px;
    max-height: 200px;
    background-color: var(--surface-page-background);
    border: 1px solid var(--divider);
    border-radius: 3px;
    font-size: 16px;
    overflow: auto;
  }
}

