.Click2Call {
  &__submenu-item {
    padding: 5px;
    text-align: center;

    &:hover {
      cursor: pointer;
      background-color: #eee;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #dfe4ed;
    }

    &--no-hover {
      &:hover {
        cursor: initial;
        background-color: initial;
      }
    }
  }

  &__submenu-item-image {
    display: block;
    height: 25px;
    margin: 5px auto;
  }

  &__submenu-item-prefixes {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
  }

  &__submenu-item-prefix {
    padding: 6px 0;
    margin: 5px 0;
    width: 33%;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    color: #6c757d;

    &:not(:nth-child(3n)) {
      border-right: 1px solid #dfe4ed;
    }

    &:last-child {
      border: none;
    }

    &:hover {
      background-color: #eee;
    }
  }
}
