.payment-method-toggle {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  &__caret {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    transition: all .2s ease-in-out;
    opacity: 0;
    color: #a8a8a8;
  }
  &:hover &__caret {
    opacity: 1;
  }
  &.open {
    background-color: #f2f2f2;
  }
  &.open &__caret {
    opacity: 1;
    transform: rotate(180deg);
  }
}
