.DistributionRuleFeeds {
  background: var(--surface-page-background);

  &__header {
    background-color: var(--surface-page-background);
    padding: 20px 25px 15px;
    font-size: 20px;
  }

  &__grid {
    padding: 10px 25px;
  }
}
