.create-operator-modal {
  width: 655px;
  margin: 80px auto;

  .modal-header {
    background-color: rgb(223, 242, 255);
    border: none;
  }

  .modal-title {
    font-weight: 300;
  }

  .modal-footer {
    text-align: left;
  }

  .close span {
    font-size: 50px;
  }
}
