.ClientsGridFilter {
  &__fields {
    width: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(8, calc(12.5% - 15px * 7 / 8));

    /*
      grid-template-columns: repeat(8, calc(12.5% - 15px * 7 / 8));

      where:
        8 - columns in a row
        12.5% - basic column width (100% / 8)
        15px - gap size
        7 - count of gaps in a row
    */
  }

  &__field {
    margin-bottom: 0;
  }

  &__search {
    grid-column: span 2;
  }

  &__migration-id {
    grid-column: span 2;
  }

  &__select {
    grid-column: span 2;
  }

  &__range-inputs {
    grid-column: span 2;
  }

  &__date-range {
    grid-column: span 4;
  }

  &__search-limit {
    grid-column: span 2;
  }
}