.ClientsGridFilter {
  &__form {
    padding: 10px 25px 20px;
    background-color: var(--surface-filters-background);
  }

  &__fields {
    width: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(12, calc(8.33% - 15px * 11 / 12));

    /*
      grid-template-columns: repeat(12, calc(8.33% - 15px * 11 / 12));

      where:
        12 - columns in a row
        8.33% - basic column width (100% / 12)
        15px - gap size
        11 - count of gaps in a row
    */
  }

  &__field {
    margin-bottom: 0;
  }

  &__search {
    grid-column: span 4;
  }

  &__migration-id {
    grid-column: span 2;
  }

  &__select {
    grid-column: span 2;
  }

  &__select-option {
    &--inactive {
      color: var(--form-color-disabled) !important;
    }
  }

  &__range-inputs {
    grid-column: span 2;
  }

  &__date-range {
    grid-column: span 4;
  }

  &__search-limit {
    grid-column: span 2;
  }

  &__buttons {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px 15px 0;
  }

  &__buttons-group {
    display: flex;
  }

  &__button {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__add-filter-button {
    margin-right: 20px;
    text-align: right;
  }

  &__old-filters {
    margin-right: 20px;

    .ReactSwitch__label {
      color: var(--accent);
      font-size: 12px;
      font-weight: 600;
    }

  }
}
