.FilterSetsToggler {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;
  background-color: #ffffff;
  border: 1px solid currentColor;
  border-radius: 3px;
  transition: .2s ease;
  cursor: pointer;
  color: #cfcfcf;

  &:hover {
    background-color: #f9fcfe;
    color: #5187bd;
  }

  &--closed {
    .FilterSetsToggler__icon {
      transform: rotate(180deg);
    }
  }

  &__icon {
    height: 17px;
    width: 8px;
    fill: currentColor;
  }
}
