// TODO: Extract to dropdown.scss?
@media only screen and (max-width: 767px) {
  .dropdown-inline.dropdown.open .dropdown-menu {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
  }

  .dropdown-inline.dropdown.open .dropdown-menu button {
    border-right: none;
    border-bottom: 1px solid #dfe4ed ;
  }

  .dropdown-inline.dropdown.open .dropdown-menu button:last-child {
    border-bottom: none;
  }
}

.balances-block {
  cursor: pointer;
  padding: 0;
  .balance-tab {
    padding-left: 1.2rem;
  }
}
