.SidebarNavItem {
  position: relative;

  &--active {
    .SidebarNavItem__arrow {
      transform: rotateZ(180deg);
    }

    .SidebarSubNav {
      height: auto;
      opacity: 1;
      visibility: visible;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0;
    border: none;
    background: none;
    font-size: 15px;
    line-height: normal;
    color: var(--navigation-secondary-color);
    transition: opacity .2s, color .175s linear;
    cursor: pointer;

    .SidebarNavItem--active & {
      color: var(--navigation-primary-color);
    }

    &:hover {
      color: var(--navigation-primary-color);
    }
  }

  &__label {
    flex: 0 0 auto;
    display: inline-block;
    margin-right: auto;
    margin-left: 5px;
    opacity: 0;
    transition: opacity .2s;

    .Sidebar--open & {
      opacity: 1;
    }

    .SidebarNavItem__link--active &,
    .SidebarNavItem--active & {
      color: var(--navigation-primary-color);
      font-weight: 600;
    }
  }

  &__icon {
    flex: 0 0 60px;
    display: inline-block;
    width: 60px;
    text-align: center;
    font-size: 19px;

    .SidebarNavItem__link--active &,
    .SidebarNavItem--active &,
    &--active {
      color: var(--navigation-primary-color);
    }

    &--operators {
      font-size: 22px;
    }

    &--payments {
      font-size: 15px;
    }

    &--leads {
      font-size: 24px;
    }

    &--trading-accounts {
      font-weight: 600;
      font-size: 20px;
    }
  }

  &__arrow {
    margin-right: 15px;
    font-size: 10px;
    transition: transform .175s linear;
  }
}
