.PartnerRegistrationInfo {
  padding: 5px 0 5px 15px;
  flex: 1;
  min-height: 60px;

  &__title {
    color: var(--text-secondary);
    font-size: 11px;
    text-transform: uppercase;
  }

  &__general {
    font-size: 13px;
    font-weight: 700;
  }

  &__additional {
    color: var(--text-primary);
    font-size: 11px;
  }
}