.note-icon {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-image: url('./img/sprite.svg');
  background-repeat: no-repeat;
  background-position-y: -25px;
  cursor: pointer;
  &-new {
    background-position-x: -26px;
    opacity: .7;
    &:hover {
      opacity: 1;
    }
  }
  &-filled {
    background-position-x: 0;
  }
  &-pinned {
    background-position-x: -51px;
  }
}
