@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;900&family=Roboto+Mono&display=swap);

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 1366px;
  width: 100%;
}

html {
  font-size: 14px;
}

body {
  background-color: #f2f2f2;
  color: #333;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: auto;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  & > div {
    position: initial;
  }
}

small {
  font-size: 11px;
  color: $color-default;
}

legend {
  float: inherit;
}
