html,
body {
  height: 100%;
  min-width: 1366px;
  width: 100%;
}

html {
  font-size: 14px;
}

body {
  background-color: #f2f2f2;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: auto;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  & > div {
    position: initial;
  }
}

a, i {
  position: relative;
}

small {
  font-size: 11px;
  color: $color-default;
}