.filter-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-right: -1rem;
  margin-left: -1rem;
  &__big {
    flex: 1 0 350px;
    min-width: 1px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  &__medium {
    flex: 0.75 0 250px;
    min-width: 1px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  &__small {
    flex: 0.25 0 150px;
    min-width: 1px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  &__button-block {
    flex: 2 0 auto;
    min-width: 1px;
    align-self: center;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    .button-block-container {
      display: flex;
      justify-content: flex-end;
    }
    .btn:nth-child(n+2) {
      margin-left: 15px;
    }
  }
  &__advanced-select {
    .select-block__content {
      min-width: 250px;
      right: 0;
      left: auto;
      border-top-color: #9b9b9b;
      &.with-search-bar {
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
      }
      .select-search-bar {
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
      }
    }
    .select-block__content:not(.with-search-bar) {
      border-top: 0;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      .select-block__container {
        border-top: 1px solid #9b9b9b;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
      }
    }
  }
}

.form-row {
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
  &__big {
    flex: 0 0 350px;
    min-width: 1px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  &__medium {
    flex: 0 0 250px;
    min-width: 1px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  &__small {
    flex: 0 0 150px;
    min-width: 1px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  &__multiplier {
    flex: 0;
    align-self: center;
    margin-right: -4px;
    margin-left: -4px;
    padding-top: 18px;
    font-size: 14px;
    color: #999;
  }
  &__action {
    align-self: center;
    padding-left: 0;
  }
  &_with-placeholder-right {
    position: relative;
    label {
      white-space: nowrap;
    }
    .form-control {
      padding-right: 45px;
    }
    .right-placeholder {
      position: absolute;
      top: 30px;
      right: 22px;
      font-size: 14px;
      color: #999;
    }
  }
}

.form-group {
  position: relative;
  margin-bottom: 20px;
  &__note {
    margin-top: -15px;
    font-size: 12px;
    color: #999;
  }
  &.has-danger {
    .form-control {
      border-color: #d0011b;
    }
  }
}

label {
  margin-bottom: 0;
  font-weight: 600;
  color: $form-labels-color;
  .label-additional {
    font-size: 12px;
    font-weight: 300;
    color: #999;
  }
  .label-action {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 300;
    input[type="checkbox"] {
      margin-right: 2px;
      vertical-align: middle;
    }
  }
}

.label-clear {
  position: absolute;
  top: 4px;
  right: 0;
  padding: 0;
  border: 0;
  background: 0;
  font-size: 13px;
  opacity: 0.6;
  &:before {
    color: #d0011b;
  }
  &:hover {
    opacity: 1;
  }
}

.form-control {
  height: 39px;
  padding-top: 5px;
  border-color: #cfcfcf;
  font-size: 15px;
  &:focus {
    box-shadow: 0 0 4px 0 rgba(74, 144, 226, 0.5);
    border-color: #4990e2;
  }
  &::-webkit-input-placeholder {
    color: #cfcfcf;
    font-weight: 300;
  }
  &::-moz-placeholder {
    @extend .form-control::-webkit-input-placeholder;
  }
  &:-moz-placeholder {
    @extend .form-control::-webkit-input-placeholder;
  }
  &:-ms-input-placeholder {
    @extend .form-control::-webkit-input-placeholder;
  }
  &:disabled {
    background-color: #f6f6f6;
    border-color: #cfcfcf;
  }
  &-with-button {
    .form-control {
      display: inline-block;
      width: 250px;
      margin-right: 10px;
    }
  }
}

.range-group {
  display: flex;
  .form-group,
  .form-control {
    flex: 1 0 0;
    min-width: 1px;
  }
  .form-group {
    margin-bottom: 0;
  }
  &__separator {
    flex: 0 0 20px;
    padding-top: 8px;
    text-align: center;
    color: #9b9b9b;
  }
}

.input-with-icon {
  position: relative;
  &__left .form-control {
    padding-left: 30px;
  }
  &__right .form-control {
    padding-right: 30px;
  }
  .input-left-icon {
    position: absolute;
    top: 12px;
    left: 8px;
  }
  .input-right-icon {
    position: absolute;
    top: 12px;
    right: 8px;
  }
}

.control {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
  &-group {
    padding: 10px;
    margin-bottom: 30px;
  }
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  &__indicator {
    position: absolute;
    top: 1px;
    left: 0;
    height: 20px;
    width: 20px;
    color: #e6e6e6;
    &.is-checked {
      color: #4990e2;
    }
    &.is-checked .nas-check_box:before {
      content: "\e906";
      color: #4990e2;
    }
  }
  &--checkbox:hover .nas-check_box:before {
    content: "\e906";
  }
  &--radio:hover .nas-radio_button:before {
    content: "\e90c";
  }
}

.select-block {
  position: relative;
  cursor: pointer;
  &.is-opened {
    .select-icon {
      transform: rotate(180deg);
    }
    .select-block__content {
      opacity: 1;
      visibility: visible;
    }
  }
  &.with-option {
    font-weight: 600;
    color: #4a4a4a;
    .select-icon:before {
      color: #9b9b9b;
    }
  }
  &.is-disabled {
    pointer-events: none;
    .select-block__label {
      background-color: #f6f6f6;
      border: 1px solid #cfcfcf;
    }
  }
  &__label {
    position: relative;
    padding-top: 6px;
    padding-right: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__content {
    width: 100%;
    position: absolute;
    top: 95%;
    left: 0;
    border-top: 1px solid #cfcfcf;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    box-shadow: 0 5px 15px 0 #ededed;
    transition: all .25s ease;
    z-index: 1;
    cursor: default;
  }
  &__container {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 8px;
    border-right: 1px solid #9b9b9b;
    border-bottom: 1px solid #9b9b9b;
    border-left: 1px solid #9b9b9b;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  &__options {
    &-item {
      margin-bottom: 1px;
      padding: 3px 5px;
      border: 1px solid transparent;
      cursor: pointer;
      font-size: 15px;
      font-weight: 600;
      color: #4a4a4a;
      &.is-selected {
        padding: 4px 7px 5px;
        color: #fff;
        border: none;
        border-radius: 3px;
        background-image: linear-gradient(to left, #24bdee, #4a90e2);
      }
      &.is-selected:hover {
        border: none;
        border-radius: 3px;
        color: #fff;
      }
    }
    &-item:hover {
      border-radius: 5px;
      border-color: #e1e1e1;
      color: #000;
    }
  }
  &__heading {
    margin-top: 6px;
    margin-bottom: 8px;
    font-size: 11px;
    color: #9b9b9b;
    text-transform: uppercase;
  }
  &__selected-options {
    position: relative;
  }
  &_menu-checkbox {
    margin-bottom: 14px;
    padding-left: 22px;
    line-height: 16px;
    font-size: 15px;
    &.is-selected {
      color: #4990e2;
    }
    &:hover {
      color: #000;
    }
  }
}

.select-icon {
  position: absolute;
  top: 11px;
  right: 10px;
  cursor: pointer;
  transition: all .2s;
}

.select-search-bar {
  padding: 10px 5px;
  border-right: 1px solid #9b9b9b;
  border-left: 1px solid #9b9b9b;
  background-color: #eee;
  .form-control {
    height: 29px;
    padding-bottom: 3px;
    font-size: 13px;
  }
  .input-left-icon {
    top: 18px;
    left: 12px;
    font-size: 13px;
  }
  .input-right-icon {
    top: 18px;
    right: 12px;
    font-size: 13px;
  }
}

.clear-selected-options {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  background: transparent;
  border: none;
  font-size: 11px;
  color: #d0011b;
  text-transform: uppercase;
  &:focus {
    outline: none;
  }
  .nas-clear_icon {
    font-size: 11px;
  }
  .nas-clear_icon:before {
    color: #d0011b;
  }
}

.verification-label {
  position: absolute;
  top: 0;
  right: 0;
}

.has-danger .form-control-feedback {
  font-size: 12px;

  .nas-field_alert_icon {
    position: relative;
    top: 2px;
    padding-right: 5px;
    &:before {
      color: #d0011b;
    }
  }
}

.input-group .form-control {
  z-index: 0;
}

.form-check-label:hover {
  cursor: pointer;
}

.double-group {
  display: flex;
 .form-group {
   flex: 0 0 70px;
   min-width: 0;
   margin-bottom: 0;
 }
  &-large {
    flex: 1 0 auto;
    min-width: 0;
    margin-left: 10px;
  }
}
