.modal {
  &-content {
    border: none;
    border-radius: 0;
  }
  &.fade {
    .modal-dialog {
      transform: translateY(10%);
    }
    .create-free-spin-modal {
      transform: translateY(0);
    }
    .create-bonus-modal {
      transform: translateY(0);
    }
  }
  &.fade.show {
    opacity: 1;
  }
  &-header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: none;
    background-color: #dff2ff;
    .close {
      height: 29px;
      line-height: 29px;
      margin-top: 0;
      font-size: 45px;
      font-weight: 300;
    }
    .close:focus {
      outline: none;
    }
  }
  &-title {
    float: left;
    font-size: 18px;
    color: #333;
    &:first-letter {
      text-transform: uppercase;
    }
  }
  &-body {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    .btn {
      text-transform: uppercase;
    }
  }
  &-backdrop {
    background-color: #24222f;
    &.in,
    &.show {
      opacity: .3;
    }
  }
  &-danger {
    .modal-header {
      background-color: #fc6;
    }
  }
  .upload-modal {
    width: 735px;
    .uploading-files {
      width: 100%;
      tr > th, tr > td {
        vertical-align: top;
        padding: 5px;
      }

      &__header-number {
        width: 50px;
      }
      &__header-name {
        width: 270px;
      }
      &__header-category {
        width: 185px;
      }
      &__header-status {
        width: 190px;
      }
      &__header-note {
        width: 35px;
      }
    }
  }
  .create-bonus-campaign-modal {
    width: 900px;
  }
  .create-bonus-modal {
    width: 750px;
  }
  .create-operator-modal {
    width: 655px;
  }
  .view-free-spin-modal {
    width: 750px;
    .modal-header {
      background-color: #fc6;
    }
  }
  .create-free-spin-modal {
    width: 605px;
  }
  .view-bonus-modal {
    width: 750px;
  }
  &-info-header-block {
    min-height: 70px;
    border-right: 1px solid #dfe4ed;
    &:last-child {
      border-right: none;
    }
  }
  .grey-back-tab {
    padding: 0 2rem;
    border-right: 1px solid #dfe4ed;
    &:last-child {
      border-right: none;
    }
  }
}
