.modal {
  &-content {
    border: none;
    border-radius: 0;
  }
  &.fade {
    .modal-dialog {
      transform: translateY(10%);
    }
    .create-free-spin-modal {
      transform: translateY(0);
    }
    .create-bonus-modal {
      transform: translateY(0);
    }
  }
  &.fade.show {
    opacity: 1;
  }
  &-header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: none;
    background-color: #dff2ff;
    .close {
      height: 29px;
      line-height: 29px;
      margin-top: 0;
      font-size: 45px;
      font-weight: 300;
    }
    .close:focus {
      outline: none;
    }
  }
  &-title {
    float: left;
    font-size: 18px;
    color: #333;
    &:first-letter {
      text-transform: uppercase;
    }
  }
  &-body {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    .btn {
      text-transform: uppercase;
    }
  }
  &-backdrop {
    background-color: #24222f;
    &.in,
    &.show {
      opacity: .3;
    }
  }
  &-danger {
    .modal-header {
      background-color: #fc6;
    }
  }
  .delete-modal {
    .modal-header {
      background-color: #fc6;
    }
  }
  .upload-modal {
    width: 735px;
    .uploading-files {
      width: 100%;
      tr > th, tr > td {
        vertical-align: top;
        padding: 5px;
      }

      &__header-number {
        width: 50px;
      }
      &__header-name {
        width: 270px;
      }
      &__header-category {
        width: 185px;
      }
      &__header-status {
        width: 190px;
      }
      &__header-note {
        width: 35px;
      }
    }
  }
  .create-bonus-campaign-modal {
    width: 900px;
  }
  .create-bonus-modal {
    width: 750px;
  }
  .create-operator-modal {
    width: 655px;
  }
  .view-free-spin-modal {
    width: 750px;
  }
  .create-free-spin-modal {
    width: 605px;
  }
  .free-spin-cancel-modal {
    .modal-header {
      background-color: #fc6;
    }
  }
  .view-bonus-modal {
    width: 750px;
  }
  &-header-tab {
    min-height: 60px;
    border-right: 1px solid #e4e4e4;
    color: #333;
    &:last-child {
      border-right: none;
    }
    &:nth-child(n+2) {
      padding-left: 1.5rem;
    }
    &__label {
      font-weight: 700;
      line-height: 1;
    }
  }
  &-body-tab {
    word-break: break-all;
    color: #333;
  }
  &-grey-tab {
    padding-left: 1.5rem;
    border-right: 1px solid #e4e4e4;
    &:last-child {
      border-right: none;
    }
    &__amount {
      font-size: 20px;
      color: #36c;
    }
  }
  &-tab-label {
    margin-bottom: 3px;
    text-transform: uppercase;
    font-size: 11px;
    color: #666;
  }
}

.payment-detail-amount {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  .payment-detail-amount-block {
    padding-right: 20px;
    padding-left: 20px;
    &:first-child {
      border-right: 1px solid #d6d6d6;
    }
  }
}
