.popover .popover-arrow {
  border-width: 8px;
}

.popover .popover-arrow:after {
  border-width: 7px;
}

.popover.left .tooltip-arrow,
.popover.bs-tether-element-attached-left .popover-arrow {
  border-right-color: #d2d9e5;
  left: -8px;
}

.popover.left .tooltip-arrow:after,
.popover.bs-tether-element-attached-left .popover-arrow:after {
  bottom: -7px;
}

.popover.right .tooltip-arrow,
.popover.bs-tether-element-attached-right .popover-arrow {
  border-left-color: #d2d9e5;
  right: -8px;
}

.popover.right .tooltip-arrow:after,
.popover.bs-tether-element-attached-right .popover-arrow:after {
  bottom: -7px;
}

.popover.top .tooltip-arrow,
.popover.bs-tether-element-attached-top .popover-arrow {
  border-bottom-color: #d2d9e5;
  top: -8px;
}

.popover.top .tooltip-arrow:after,
.popover.bs-tether-element-attached-top .popover-arrow:after {
  margin-left: -7px;
}

.popover.bottom .tooltip-arrow,
.popover.bs-tether-element-attached-bottom .popover-arrow {
  border-top-color: #d2d9e5;
  bottom: -8px;
}

.popover.bottom .tooltip-arrow:after,
.popover.bs-tether-element-attached-bottom .popover-arrow:after {
  margin-left: -7px;
}

.popover .popover-title {
  margin: -1px;
  padding: 8px 15px;
  border-radius: 3px 3px 0 0;
  background: #eceff4;
  font-weight: 600;
}

.popover-content {
  padding: 9px 14px;
}
