.profile {
  width: 94%;
  min-width: 960px;
  margin-top: -15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  &__info {
    padding-bottom: 50px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(248, 248, 248, 1) 100%, rgba(248, 248, 248, 1) 100%);
  }
  &__content {
    background-color: #fff;
  }
}

.tab-content {
  padding: 0 25px 25px;
}

.tab-header {
  display: flex;
  align-items: center;
  padding: 20px 25px;
  background-color: #fff;
  transition: all .2s ease;
  &__heading {
    font-size: 20px;
    color: #333;
  }
  &__actions {
    margin-left: auto;
  }
  &__label {
    font-size: 16px;
    color: #333;
  }
}

.sticky-outer-wrapper.active {
  .tab-header {
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.1);
  }
}

.hide-details-block {
  display: flex;
  align-items: center;
  &_divider {
    flex: 1 0 40%;
    min-height: 1px;
    border-top: 1px solid #eee;
  }
  &_text {
    padding: 0 15px;
    text-align: center;
    text-decoration: underline;
    font-size: 11px;
    color: #999;
    cursor: pointer;
  }
}
