.profile {
  width: 94%;
  min-width: 960px;
  margin-top: -15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  &__info {
    padding-bottom: 50px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(248, 248, 248, 1) 100%, rgba(248, 248, 248, 1) 100%);
  }
  &__content {
    background-color: #fff;
  }
}

#lightboxBackdrop img {
  pointer-events: none;
}
