.GroupSymbolsGrid {
  padding: 25px;

  &__row {
    // On hover we dont need to change bg color when Row is Disabled
    &--disabled{
      background-color: var(--table-background-disabled) !important;
    }  
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__title {
    color: var(--text-primary);
    font-size: 18px;
    margin-bottom: 25px;
  }

  &__cell {
    &-primary {
      font-weight: 700;
    }

    &--disabled {
      color: grey;
    }
  }

  &__edit-button {
    margin-right: 15px;
  }

  &__scrollableTarget {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid var(--divider);
    border-top: none;
  }
}
