.GroupSymbolsGrid {
  background-color: #fff;
  padding: 25px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__title {
    color: #333;
    font-size: 18px;
    margin-bottom: 25px;
  }

  &__cell {
    &-primary {
      font-weight: 700;
    }

    &-disabled {
      color: grey;
    }
  }

  &__edit-button {
    margin-right: 15px;
  }

  &__scrollableTarget {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #dfe4ed;
    border-top: none;
  }
}
