

.form-control.has-case-sensitive {
  padding-right: 30px;
}

.advanced-filter {
  padding: 0;
}

.advanced-filter.is-opened .btn-icon {
  background-color: #F4F4F4;
}

.advanced-filter + .select-block_menu {
  top: 97%;
  right: 83%;
  left: auto;
  z-index: 1;
}
